// PAGE BG
.aboutus {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/about-us/bg-au.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
}
@-webkit-keyframes glowBlu {
    from {
      text-shadow: 0 0 5px $white-qurtr, 0 0 10px $white-qurtrs, 0 0 20px $blue-low, 0 0 30px $blue-low, 0 0 40px $blue-low, 0 0 50px $blue-low, 0 0 60px $blue-low;
    }
    
    to {
      text-shadow: 0 0 5px $white-qurtr, 0 0 10px $blue-lowr, 0 0 20px $blue-lowr, 0 0 30px $blue-lowr, 0 0 40px $blue-lowr, 0 0 50px $blue-lowr, 0 0 60px $blue-lowr;
    }
}
@keyframes glowBlu {
    from {
      text-shadow: 0 0 5px $white-qurtr, 0 0 10px $white-qurtrs, 0 0 20px $blue-low, 0 0 30px $blue-low, 0 0 40px $blue-low, 0 0 50px $blue-low, 0 0 60px $blue-low;
    }
    
    to {
      text-shadow: 0 0 5px $white-qurtr, 0 0 10px $blue-lowr, 0 0 20px $blue-lowr, 0 0 30px $blue-lowr, 0 0 40px $blue-lowr, 0 0 50px $blue-lowr, 0 0 60px $blue-lowr;
    }
}
@-webkit-keyframes glowBluBtn {
    from {
      box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $white-qurtrs, 0 0 15px $blue-lows, 0 0 20px $blue-lows, 0 0 25px $blue-lows, 0 0 30px $blue-lows, 0 0 35px $blue-lows;
    }
    
    to {
        box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $blue-lowrs, 0 0 15px $blue-lowrs, 0 0 20px $blue-lowrs, 0 0 25px $blue-lowrs, 0 0 30px $blue-lowrs, 0 0 35px $blue-lowrs;
    }
}
@keyframes glowBluBtn {
    from {
      box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $white-qurtrs, 0 0 15px $blue-lows, 0 0 20px $blue-lows, 0 0 25px $blue-lows, 0 0 30px $blue-lows, 0 0 35px $blue-lows;
    }
    
    to {
        box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $blue-lowrs, 0 0 15px $blue-lowrs, 0 0 20px $blue-lowrs, 0 0 25px $blue-lowrs, 0 0 30px $blue-lowrs, 0 0 35px $blue-lowrs;
    }
}
.aboutus {
    .header-wrapper {
        height: auto;
        -webkit-transition: none;
        transition: none;
        .header {
            .header_inner {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                nav.navbar {
                    .btn-link {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        text-transform: none;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: $gray-550;
                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                } 
            }
        }
        &.menu-clicked {
            .header {
                .header_inner {
                    nav.navbar {
                        .btn-link {
                            color: $blue-lw;							
                            &:hover, &:focus {
                                color: $blue-lw;
                            }
                        }
                    }
                }
            }
        }
    }
    .hdBan_inner {
        padding-bottom: 0rem;
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.75rem;
                line-height: normal;
                font-weight: 300;
                color: $gray-900;
                text-transform: none;
                position: relative;
                margin-bottom: 4.65rem;
                strong {
                    font-size: 3.75rem;
                    margin-bottom: 0;
                    line-height: normal;
                    color: $gray-900;
                    &:after {
                        display: none;
                        visibility: hidden;
                    }
                }
                &:after {
                    height: 5px;
                    width: 65px;
                    position: absolute;
                    left: 0;
                    bottom: -20px;
                    content: '';
                    display: table;
                    background-color: $secondary;
                }
            }
            p {
                font-family: 'Work Sans', sans-serif;
                font-size: 2.19rem;
                line-height: 2.8rem;
                font-weight: 600;
                color: $bluedrkinr;
            }
        }
    }
    // OUR VISION, MISSION, PHILOSOPHY & MOTO
    .about {
        clear: both;
        padding: 8rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.15rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 2.5rem;
            &:after {
                display: none;
            }
        }
        p {
            font-family: 'Muli', sans-serif;
            font-size: 1.69rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            padding: 0 3rem;
        }
        .idea-list {
            list-style: none;
            padding: 3rem 0 0;
            margin: 0;
            text-align: center;
            li {
                width: 50%;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                padding: 2.7rem 2rem;
                margin: 0;
                border-right: 1px solid $gray-160;
                min-height: 280px;
                h3 {
                    font-family: 'Work Sans', sans-serif;
                    font-size: 2.5rem;
                    line-height: 2.9rem;
                    font-weight: 700;
                    color: $bluedrkinr;
                    text-transform: uppercase;
                    position: relative;
                    margin-bottom: 3.6rem;
                    &:after {
                        height: 5px;
                        width: 65px;
                        position: absolute;
                        left: 50%;
                        bottom: -25px;
                        transform: translateX(-50%);
                        content: '';
                        display: table;
                        background-color: $secondary;
                    }
                }
                p {
                    font-family: 'Muli', sans-serif;
                    font-size: 1.25rem;
                    line-height: 1.8rem;
                    font-weight: 600;
                    color: $black;
                    padding: 0 3.5rem;
                    margin: 0;
                }
                &:nth-child(2) {
                    border-right-color: transparent;
                }
                &:nth-child(4) {
                    border-right-color: transparent;
                }
                &:last-child {
                    border-right-color: transparent;
                }
            }
        }
    }
    // OUR VALUES
    .values {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        .values-item {
            margin-bottom: 0;
            figure {
                margin: 0 auto 1rem;
                width: 60px;
                height: 60px;
                img {
                    max-width: 100%;
                }
            }
            h4 {
                font-family: 'Muli', sans-serif;
                font-size: 1.32rem;
                line-height: 1.85rem;
                font-weight: 800;
                color: $bluedrkinr;
                padding-top: .7rem;
                text-align: center;
            }
            p {
                font-family: 'Muli', sans-serif;
                font-size: 1.065rem;
                line-height: 1.5rem;
                font-weight: 600;
                color: $black;
                padding: .65rem 2rem 0;
                margin-bottom: 0;
            }
        }
    }
    // THE WHY & THE WHAT
    .history {
        text-align: center;
        clear: both;
        padding: 7.45rem 0 0;
        overflow: hidden;
        .col-md-12 {
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            margin: 0 auto 5.15rem;
        }
        .history-wrapper {
            margin: 0;
            width: 100%;
            clear: both;
            .col-md-5,
            .col-md-7 {
                float: left;
            }
            .col-md-5 {
                div {
                    div:last-child {
                        div {
                            background-color: $bluedrktrans!important;
                        }
                    }
                }
            }
            .nav {
                font-family: 'Muli', sans-serif;
                padding: 0;
                margin: 0;
                border: none;
                border-left: none;
                position: relative;
                .nav-item {
                    list-style: none;
                    margin: 0;
                    .nav-link {
                        padding: 0 15px 0 36px;
                        min-height: 110px;
                        text-align: left;
                        text-transform: none;
                        border: none;
                        position: relative;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        cursor: pointer;
                        h3 {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            strong {
                                font-size: 18px;
                                font-weight: 600;
                                line-height: normal;
                                color: $gray-530;
                                padding: 0;
                                margin: 0;
                                min-width: 110px;
                            }
                            span {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: normal;
                                color: $gray-540;
                                display: inline-block;
                                overflow: hidden;
                            }
                            sup {
                                top: -.15em;
                                font-size: 90%;
                            }
                        }
                        &:hover {
                            h3 {
                                strong {
                                    color: $bluedrkinr;
                                }
                                span {
                                    color: $black;
                                }
                            }
                        }
                        &.active {
                            background-color: transparent;
                            h3 {
                                strong {
                                    font-size: 25px;
                                    font-weight: 700;
                                    color: $bluedrkinr;
                                }
                                span {
                                    font-size: 22px;
                                    color: $black;
                                }
                            }
                            &:after {
                                background-color: $bluedrkinr;
                            }
                        }
                        &:after {
                            width: 11px;
                            height: 11px;
                            border-radius: 100%;
                            content: '';
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 1px;
                            transform: translateY(-50%);
                            background-color: $gray-175;
                            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            z-index: 11;
                        }
                    }
                }
                &:after {
                    position: absolute;
                    left: 6px;
                    top: 0;
                    content: '';
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid $gray-325;
                    z-index: 10;
                }
            }
            .hist-cont {
                text-align: left;
                p {
                    font-size: 17px;
                    line-height: 25px;
                    font-weight: 300;
                    color: $black;
                    padding: 0;
                    margin: 0 0 1.33rem;
                }
                .profiles {
                    border: 2px solid $gray-125;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    overflow: hidden;
                    padding: 12px 50px 24px;
                    clear: both;
                    margin: 58px 0 0;
                    ul {
                        list-style: none;
                        font-family: 'Muli', sans-serif;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                        li {
                            padding: 13px 0 17px;
                            margin: 0;
                            font-size: 25px;
                            line-height: normal;
                            font-weight: 200;
                            color: $gray-900;
                            border-top: 1px solid $gray-125;
                            strong {
                                font-size: 30px;
                                font-weight: 700;
                                color: $bluedrkinr;
                            }
                            &:first-child {
                                padding-top: 0;
                                border-top-color: transparent;
                            }
                            &:last-child {
                                border-top-color: transparent;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
            .btn {
                font-weight: 600;
                color: $white;
                border-radius: 10rem;
                padding: .78rem 1.9rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    // ORGANIZATION WITH CLIENTS
    .clients {
        padding-top: 7.45rem;
        overflow: hidden;
        text-align: center;
        .clients-wrapper {
            position: relative;
            border: 1px solid $gray-250;
            margin: 0 auto;
            h3 {
                font-family: 'Work Sans', sans-serif;
                margin: 0;
                font-size: 30px;
                font-weight: 400;
                line-height: normal;
                color: $bluedrkinr;
                background-color: $white;
                padding: 0 15px;
                display: inline-block;
                position: relative;
                top: -22px;
                margin: 0 1rem;
                strong {
                    font-weight: 700;
                }
                &:last-child {
                    top: auto;
                    bottom: -16px;
                }
            }
            ul {
                text-align: center;
                padding: 0;
                margin: 38px auto;
                max-width: 710px;
                width: 100%;
                li {
                    display: inline-block;
                    width: 130px;
                    margin: 0 1rem;
                    padding: 0;
                    figure {
                        display: inline-block;
                        margin: 0;
                        padding: 1.5rem 0;
                        img {
                            -webkit-filter: grayscale(100%);
                            -moz-filter: grayscale(100%);
                            filter: grayscale(100%);
                            transition: all 0.5s ease;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        figure {
                            img {
                                -webkit-filter: grayscale(0%);
                                -moz-filter: grayscale(0%);
                                filter: grayscale(0%);
                            }
                        }
                    }
                }
            }
        }
        .action-row {
            margin-left: auto;
            margin-right: auto;
            clear: both;
            .btn {
                font-weight: 600;
                border-radius: 10rem;
                color: $white;
                margin: 84px auto 0;
                padding: .78rem 1.9rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    // MEET the INTians
    .meet-the-team {
        text-align: center;
        padding: 7.45rem 0 1.9rem;
        overflow: hidden;
        h2 {
            margin-bottom: 5.6rem;
        }
        p {
            font-size: 22px;
            line-height: 30px;
            color: $black;
            font-weight: 300;
            clear: both;
            margin-bottom: 1.95rem;
        }
        .team-wrapper {
            margin-left: -15px;
            margin-right: -15px;
            clear: both;
            overflow: hidden;
            .team_teaser__list {
                list-style-type: none;
                list-style-position: inside;
                margin: 0 0 33px;
                padding: 0;
                width: 100%;
                text-align: center;
                clear: both;
                overflow: hidden;
                li {
                    width: 100%;
                    margin: 0 0 30px;
                    padding: 0 15px;
                    position: relative;
                    overflow: hidden;
                    font-family: 'Muli', sans-serif;
                    font-size: 30px;
                    line-height: 40px;
                    font-weight: 700;
                    color: $white;
                    float: left;
                    figure {
                        margin: 0;
                        img {
                            max-width: 100%;
                        }
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        opacity: 0;
                        transition: all 0.5s ease;
                        left: 0;
                        top: 0;
                        right: auto;
                        bottom: auto;
                        &:after {
                            background-color: rgba(0, 0, 0, .8);
                            content: '';
                            position: absolute;
                            left: 15px;
                            top: 0;
                            right: 15px;
                            bottom: 0;
                            height: 100%;
                            z-index: 10;
                        }
                    }
                    a {
                        color: $white;
                        text-decoration: none;
                        display: inline-block;
                        margin: 0 2rem;
                        position: relative;
                        z-index: 11;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        span {
                            opacity: 1;
                        }
                    }
                    &.pic {
                        a {
                            text-indent: 0em;
                            text-shadow: 0 0 2px $white-qurtr, 0 0 2px $white-qurtrs, 0 0 3px $blue-low, 0 0 4px $blue-low, 0 0 5px $blue-low, 0 0 7px $blue-low, 0 0 8px $blue-low;
                            // -webkit-animation: glowBlu 1s ease-in-out infinite alternate;
                            // -moz-animation: glowBlu 1s ease-in-out infinite alternate;
                            // animation: glowBlu 1s ease-in-out infinite alternate;
                        }
                        button {
                            display: none;
                            visibility: hidden;
                            margin: 0;
                        }
                    }
                    &.vid {
                        a {
                            display: none;
                            visibility: hidden;
                        }
                        button {
                            text-indent: -9999999em;
                            width: 60px;
                            height: 60px;
                            overflow: hidden;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            background-image: url(/static/images/icons/icon-video.svg);
                            background-size: 72px 72px;
                            background-position: -6px -6px;
                            background-repeat: repeat;
                            z-index: 11;
                            background-color: transparent;
                            border: none;
                            color: transparent;
                            padding: 0;
                            margin: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $white-qurtrs, 0 0 15px $blue-lows, 0 0 20px $blue-lows, 0 0 25px $blue-lows, 0 0 30px $blue-lows, 0 0 35px $blue-lows;
                            // -webkit-animation: glowBluBtn 1s ease-in-out infinite alternate;
                            // -moz-animation: glowBluBtn 1s ease-in-out infinite alternate;
                            // animation: glowBluBtn 1s ease-in-out infinite alternate;
                            &:before,
                            &:after {
                                display: none;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }
        .btn {
            font-weight: 600;
            color: $white;
            border-radius: 10rem;
            margin: 1rem 1.2rem;
            padding: .78rem 2.37rem;
            &:hover,
            &:focus {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
    // GOING BEYOND BUSINESS
    .beyond-business {
        text-align: center;
        padding: 7.45rem 0 1.9rem;
        overflow: hidden;
        h2 {
            margin-bottom: 5.6rem;
        }
        p {
            font-size: 22px;
            line-height: 30px;
            color: $black;
            font-weight: 300;
            clear: both;
            margin-bottom: 2.95rem;
        }
        .brand-products {
            clear: both;
            padding: 2rem 0 0;
            margin: 0;
            .col-md-9 {
                margin: 0 auto;
                text-align: center;
                figure {
                    margin: 2.7rem auto 2rem;
                    height: 70px;
                    img {
                        width: 100%;
                    }
                }
                h3 {
                    font-family: 'Muli', sans-serif;
                    font-size: 21px;
                    line-height: 29px;
                    font-weight: 800;
                    color: $bluedrkinr;
                    text-align: center; 
                    margin: 0 auto .77rem;                   
                }
                p {
                    font-size: 17px;
                    line-height: 24px;
                    font-weight: 600;
                    color: $black;
                    margin: 0 0 1.75rem;
                    padding: 0;
                }
                .btn {
                    font-family: 'Muli', sans-serif;
                    font-size: .8rem;
                    line-height: .9rem;
                    font-weight: 700;
                    margin: 0 auto;
                    padding: .65rem 1.712rem;
                    letter-spacing: normal;
                    color: $white;
                    border-radius: 10rem;
                    &:hover,
                    &:focus {
                        color: $black;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            .col-md-4 {
                position: relative;
                .row {
                    flex-direction: column;
                }
                &:before {
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: -1px;
                    content: '';
                    background-color: $gray-275;
                }
                &:first-child {
                    &:before {
                        display: none;
                        visibility: hidden;
                    }
                }
                &:nth-child(2) {
                    .col-md-9 {
                        p {
                            letter-spacing: -.02rem;
                        }
                    }
                }
            }
        }
        .team-wrapper {
            margin-left: -15px;
            margin-right: -15px;
            clear: both;
            overflow: hidden;
            padding: 8.05rem 0 0;
            .team_teaser__list {
                list-style-type: none;
                list-style-position: inside;
                margin: 0 0 13px;
                padding: 0;
                width: 100%;
                text-align: center;
                clear: both;
                overflow: hidden;
                li {
                    width: 100%;
                    margin: 0 0 30px;
                    padding: 0 15px;
                    position: relative;
                    overflow: hidden;
                    font-family: 'Muli', sans-serif;
                    font-size: 35px;
                    line-height: 43px;
                    font-weight: 700;
                    color: $white;
                    float: left;
                    figure {
                        margin: 0;
                        img {
                            max-width: 100%;
                        }
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        opacity: 0;
                        transition: all 0.5s ease;
                        left: 0;
                        top: 0;
                        right: auto;
                        bottom: auto;
                        &:after {
                            background-color: rgba(0, 0, 0, .8);
                            content: '';
                            position: absolute;
                            left: 15px;
                            top: 0;
                            right: 15px;
                            bottom: 0;
                            height: 100%;
                            z-index: 10;
                        }
                    }
                    a {
                        color: $white;
                        text-decoration: none;
                        display: inline-block;
                        margin: 0 auto;
                        position: relative;
                        z-index: 11;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        span {
                            opacity: 1;
                        }
                    }
                    &.pic {
                        a {
                            text-indent: 0em;
                            text-shadow: 0 0 2px $white-qurtr, 0 0 2px $white-qurtrs, 0 0 3px $blue-low, 0 0 4px $blue-low, 0 0 5px $blue-low, 0 0 7px $blue-low, 0 0 8px $blue-low;
                            // -webkit-animation: glowBlu 1s ease-in-out infinite alternate;
                            // -moz-animation: glowBlu 1s ease-in-out infinite alternate;
                            // animation: glowBlu 1s ease-in-out infinite alternate;
                        }
                        button {
                            display: none;
                            visibility: hidden;
                            margin: 0;
                        }
                    }
                    &.vid {
                        a {
                            display: none;
                            visibility: hidden;
                        }
                        button {
                            text-indent: -9999999em;
                            width: 60px;
                            height: 60px;
                            overflow: hidden;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            background-image: url(/static/images/icons/icon-video.svg);
                            background-size: 72px 72px;
                            background-position: -6px -6px;
                            background-repeat: repeat;
                            z-index: 11;
                            background-color: transparent;
                            border: none;
                            color: transparent;
                            padding: 0;
                            margin: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            box-shadow: 0 0 5px $white-qurtrs, 0 0 10px $white-qurtrs, 0 0 15px $blue-lows, 0 0 20px $blue-lows, 0 0 25px $blue-lows, 0 0 30px $blue-lows, 0 0 35px $blue-lows;
                            // -webkit-animation: glowBluBtn 1s ease-in-out infinite alternate;
                            // -moz-animation: glowBluBtn 1s ease-in-out infinite alternate;
                            // animation: glowBluBtn 1s ease-in-out infinite alternate;
                            &:before,
                            &:after {
                                display: none;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
            .action-row {
                margin-left: auto;
                margin-right: auto;
                clear: both;
                .btn {
                    color: $white;
                    border-radius: 10rem;
                    font-family: 'Muli', sans-serif;
                    font-size: .9rem;
                    line-height: .9rem;
                    font-weight: 700;
                    margin: 0 auto;
                    padding: 1.1rem 3.45rem;
                    letter-spacing: normal;
                    &:hover,
                    &:focus {
                        color: $black;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
    // MEDIA, AWARDS and RECOGNITIONS
    .media-awards {
        text-align: center;
        clear: both;
        padding: 7.45rem 0 0;
        overflow: hidden;
        .col-md-12 {
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            margin: 0 auto 5.15rem;
        }
        .media-wrapper {
            margin: 0;
            width: 100%;
            clear: both;
            .col-md-5,
            .col-md-7 {
                float: left;
            }
            .col-md-5 {
                div {
                    div:last-child {
                        div {
                            background-color: $bluedrktrans!important;
                        }
                    }
                }
            }
            .nav {
                font-family: 'Muli', sans-serif;
                padding: 0;
                margin: 0;
                border: none;
                border-left: none;
                position: relative;
                .nav-item {
                    list-style: none;
                    margin: 0;
                    .nav-link {
                        padding: 0 15px 0 36px;
                        min-height: 110px;
                        text-align: left;
                        text-transform: none;
                        border: none;
                        position: relative;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        cursor: pointer;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        h3 {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            strong {
                                font-size: 18px;
                                font-weight: 600;
                                line-height: normal;
                                color: $gray-530;
                                padding: 0;
                                margin: 0;
                                min-width: 110px;
                                small {
                                    display: block;
                                    font-size: 12px;
                                    line-height: 17px;
                                    font-weight: 600;
                                    color: $gray-625;
                                }
                            }
                            span {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: normal;
                                color: $gray-540;
                                display: inline-block;
                                overflow: hidden;
                                small {
                                    display: block;
                                    font-size: 12px;
                                    line-height: normal;
                                    font-weight: 400;
                                    color: $gray-530;
                                    text-transform: uppercase;
                                    margin-top: .2rem;
                                }
                            }
                            sup {
                                top: -.15em;
                                font-size: 90%;
                            }
                        }
                        &:hover {
                            h3 {
                                strong {
                                    color: $bluedrkinr;
                                    small {
                                        color: $bluedrkinr;
                                    }
                                }
                                span {
                                    color: $black;
                                    small {
                                        color: $black;
                                    }
                                }
                            }
                        }
                        &.active {
                            background-color: transparent;
                            h3 {
                                strong {
                                    font-size: 25px;
                                    font-weight: 700;
                                    color: $bluedrkinr;
                                    small {
                                        font-size: 13px;
                                        line-height: 19px;
                                        color: $bluedrkinr;
                                    }
                                }
                                span {
                                    font-size: 22px;
                                    color: $black;
                                    small {
                                        font-size: 13px;
                                        color: $black;
                                        margin-top: .1rem;
                                    }
                                }
                            }
                            &:after {
                                background-color: $bluedrkinr;
                            }
                        }
                        &:after {
                            width: 11px;
                            height: 11px;
                            border-radius: 100%;
                            content: '';
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 1px;
                            transform: translateY(-50%);
                            background-color: $gray-175;
                            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            z-index: 11;
                        }
                    }
                }
                &:after {
                    position: absolute;
                    left: 6px;
                    top: 0;
                    content: '';
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid $gray-325;
                    z-index: 10;
                }
            }
            .media-cont {
                text-align: center;
                ul {
                    list-style: none;
                    font-family: 'Work Sans', sans-serif;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    li {
                        width: 225px;
                        height: 162px;
                        margin: 0 25px 90px;
                        background-image: url(/static/images/awards/bg-awards.png);
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: top;
                        .midawards-block {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            h6 {
                                font-family: 'Work Sans', sans-serif;
                                font-size: 1.25rem;
                                line-height: 1.2rem;
                                font-weight: 400;
                                color: $gray-600;
                                margin: 0 auto;
                                padding: 2.2rem 2.4rem;
                                cursor: pointer;
                                -webkit-transition: all .3s;
                                -moz-transition: all .3s;
                                -o-transition: all .3s;
                                transition: all .3s;
                                &:hover,
                                &:focus {
                                    color: $bluedrkinr;
                                }
                            }
                        }
                    }
                }
            }
        }
        .action-row {
            margin-left: auto;
            margin-right: auto;
            clear: both;
            .btn {
                font-weight: 600;
                color: $white;
                border-radius: 10rem;
                margin: 0 auto;
                padding: 1rem 3rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    // PARTNERS & ASSOCIATES
    .partners {
        padding-top: 7.45rem;
        overflow: hidden;
        text-align: center;
        h2 {
            margin: 0 auto 3.5rem;
        }
        .partner-wrapper {
            position: relative;
            clear: both;
            width: 100%;
            ul {
                text-align: center;
                padding: 0;
                margin: 38px auto 3.5rem;
                max-width: 1024px;
                width: 100%;
                li {
                    display: inline-block;
                    width: 160px;
                    margin: 0 3rem;
                    padding: 0;
                    figure {
                        display: inline-block;
                        margin: 0;
                        padding: 1.5rem 0;
                        img {
                            -webkit-filter: grayscale(100%);
                            -moz-filter: grayscale(100%);
                            filter: grayscale(100%);
                            transition: all 0.5s ease;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        figure {
                            img {
                                -webkit-filter: grayscale(0%);
                                -moz-filter: grayscale(0%);
                                filter: grayscale(0%);
                            }
                        }
                    }
                }
            }
        }
        .action-row {
            margin-left: auto;
            margin-right: auto;
            clear: both;
            .btn {
                font-weight: 600;
                color: $white;
                border-radius: 10rem;
                margin: 0 auto 0;
                clear: both;
                padding: .9rem 2.6rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    // OUR OFFICES ACROSS THE GLOBE
    .offices {
        padding-top: 7.45rem;
        overflow: hidden;
        text-align: center;
        h2 {
            margin: 0 auto 7rem;
        }
        .office-wrapper {
            clear: both;
            width: 100%;
            .offices-tab {
                clear: both;
                width: 100%;
                .col-md-6 {
                    float: left;
                    .office-add {
                        text-align: left;
                        clear: both;
                        .map-wrapper {
                            width: 470px;
                            height: 335px;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            overflow: hidden;
                            clear: both;
                            display: inline-block;
                            border: 1px solid $gray-250;
                            padding: 0;
                            margin: 0 0 25px;
                            iframe {
                                display: block;
                                border: none;
                            }
                        }
                        h3 {
                            font-family: 'Muli', sans-serif;
                            font-size: 35px;
                            line-height: normal;
                            font-weight: 700;
                            color: $bluedrkfr;
                            clear: both;
                        }
                        p {
                            font-size: 22px;
                            font-weight: 300;
                            line-height: 34px;
                            color: $black;
                        }
                    }
                    .nav {
                        font-family: 'Muli', sans-serif;
                        padding: 0;
                        margin: 0;
                        border: none;
                        text-align: center;
                        width: 100%;
                        display: block;
                        .nav-item {
                            list-style: none;
                            margin: 0;
                            display: inline-block;
                            width: 50%;
                            .nav-link {
                                border: none;
                                padding: 0;
                                cursor: pointer;
                                figure {
                                    margin-bottom: 1.25rem;
                                }                        
                                h4 {
                                    padding: 0;
                                    margin: 0 0 5.3rem;
                                    display: block;
                                    font-size: 25px;
                                    line-height: 28px;
                                    font-weight: 700;
                                    color: $gray-900;
                                }
                                &.active {
                                    background-color: transparent;
                                    h4 {
                                        color: $bluedrkfr
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // LET’s WORK TOGETHER
    .work-together {
        padding-top: 7.3rem;
        overflow: hidden;
        text-align: center;
        h2 {
            margin: 0 auto 6.2rem;
            clear: both;
            display: block;
        }
        .works-wrapper {
            clear: both;
            overflow: hidden;
            padding: 0 0 1.8rem;
            margin: 0;
            width: 100%;
        }
        .btn {
            font-weight: 600;
            padding: .9rem 2.6rem;
            border-radius: 10rem;
            color: $white;
            &:hover,
            &:focus {
                box-shadow: none;
                outline: none;
                color: $black;
            }
        }
    }
}
@media (min-width: 768px) {
    .meet-the-team {
        .team-wrapper {
            .team_teaser__list {
                li {
                    &:first-child,
                    &:last-child {
                        width: 41.5555555555%; 
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 58.4444444445%; 
                    }
                }
            }
        }
    }
    .beyond-business {
        .team-wrapper {
            .team_teaser__list {
                li {
                    &:first-child,
                    &:last-child,
                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 58.4%;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 41.6%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1299px) {
    .aboutus {
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .about {
            padding-top: 3rem;
        }
        .meet-the-team {
            .team-wrapper {
                .team_teaser__list {
                    li {
                        figure {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .values {
            .values-item {
                p {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .beyond-business {
            .team-wrapper {
                .team_teaser__list {
                    li {
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 58.2%;
                        }
                        figure {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .brand-products {
                .col-md-9 {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
        .media-awards {
            .media-wrapper {
                .media-cont {
                    max-width: 100%;
                    flex: 0 0 100%;
                    ul {
                        li {
                            width: 36%;
                            height: 130px;
                            margin: 3rem .5rem;
                            background-size: contain;
                            .midawards-block {
                                h6 {
                                    font-size: 1.15rem;
                                    line-height: normal;
                                    padding: 1rem 2rem;
                                    letter-spacing: -.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .aboutus {
        .hdBan_inner {
            padding-bottom: 0rem;
        }
        .about {
            padding-top: 3rem;
            h2 {
                font-size: 2.22rem;
                margin-bottom: 1.5rem;
            }
            p {
                padding-left: 0;
                padding-right: 0;
            }
            .idea-list {
                padding-top: 2rem;
                li {
                    padding-bottom: 1rem;
                    h3 {
                        font-size: 2.22rem;
                    }
                    p {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        .values {
            padding-top: 4.5rem;
            .values-item {
                p {
                    font-size: .9rem;
                    line-height: 1.3rem;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .history {
            padding-top: 5rem;
            .history-wrapper {
                .hist-cont {
                    p {
                        font-size: .95rem;
                        line-height: 1.4rem;
                    }
                    .profiles {
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.2rem;
                                strong {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-right: 0;
                            padding-left: 28px;
                            min-height: 100px;
                            h3 {
                                strong {
                                    min-width: 60px;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.2rem;
                                    }
                                    span {
                                        font-size: 1.1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .clients {
            padding-top: 5.5rem;
            .clients-wrapper {
                ul {
                    margin-top: .8rem;
                    margin-bottom: 1rem;
                }
            }
            .btn {
                margin-top: 4rem;
                color: $white;
                border-radius: 10rem;
                padding: .78rem 1.9rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .meet-the-team {
            padding-top: 5.5rem;
            .team-wrapper {
                .team_teaser__list {
                    li {
                        padding-left: .58rem;
                        padding-right: .58rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            .btn {
                color: $white;
                border-radius: 10rem;
                padding: .78rem 2.36rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .beyond-business {
            padding-top: 2rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            .brand-products {
                padding-top: 1.5rem;
                .col-md-9 {
                    max-width: 100%;
                    flex: 0 0 100%;
                    figure {
                        margin-top: .08rem;
                        margin-bottom: 1.5rem;
                    }
                    h3 {
                        font-size: 1.2rem;
                    }
                }
            }
            .team-wrapper {
                padding-top: 5rem;
                .team_teaser__list {
                    li {
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 57.85%;
                        }
                    }
                }
            }
            .btn {
                color: $white;
                border-radius: 10rem;
                padding: .78rem 2.75rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .media-awards {
            padding-top: 3rem;
            .media-wrapper {
                .media-cont {
                    max-width: 100%;
                    flex: 0 0 100%;
                    ul {
                        li {
                            width: 46%;
                            height: 130px;
                            margin: 3rem .5rem;
                            background-size: contain;
                            .midawards-block {
                                h6 {
                                    font-size: 1.15rem;
                                    line-height: normal;
                                    padding: 1rem 2rem;
                                    letter-spacing: -.1rem;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-right: 0;
                            padding-left: 28px;
                            h3 {
                                strong {
                                    min-width: 90px;
                                }
                                span {
                                    font-size: .9rem;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.2rem;
                                        small {
                                            font-size: .8rem;
                                        }
                                    }
                                    span {
                                        font-size: .95rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn {
                margin-top: 4rem;
            }
        }
        .partners {
            padding-top: 5rem;
            .partner-wrapper {
                ul {
                    margin-bottom: 3rem;
                    li {
                        width: 150px;
                        margin: 0 1rem;
                    }
                }
            }
        }
        .offices {
            padding-top: 5.5rem;
            .accordion {
                .card {
                    .card-header {
                        display: flex;
                        align-items: center;
                        figure {
                            float: left;
                            margin: 0 1.5rem 0 0;
                            text-align: center;
                            width: 10%;
                            img {
                                height: 40px;
                            }
                        }
                        h4 {
                            margin-bottom: 0;
                            overflow: hidden;
                        }
                    }
                    .card-body {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                        .office-add {
                            padding: 0 0 1rem;
                            iframe {
                                display: block;
                                border: none;
                                box-shadow: none;
                                outline: none;
                            }
                            h3 {
                                font-size: 1.3rem;
                                margin-top: 1.5rem;
                                color: $bluedrkfr;
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                            p {
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                        }
                    }
                    &:first-child {
                        .card-header {
                            figure {
                                width: auto;
                                img {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .work-together {
            padding-top: 5rem;
        }
    }
}
@media (max-width: 767px) {
    .aboutus {
        background-position: 0 0, 100% 50px;
        .hdBan_inner {
            padding-bottom: 1rem;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.2rem;
                    font-weight: 300;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    min-height: initial;
                    margin-bottom: 3rem;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        font-size: 3.2rem;  
                    }
                    &:after {
                        bottom: -18px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 4px;
                    }
                }
                p {
                    font-size: 2.2rem;
                    line-height: normal;
                    margin-bottom: 2rem;
                    letter-spacing: -.15rem;
                    font-weight: 500;
                    text-align: center;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
        .about {
            padding-top: 3.65rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                letter-spacing: -.15rem;
            }
            p {
                padding: 0;
                font-size: 1.5rem;
            }
            .idea-list {
                padding-top: 1.5rem;
                li {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid #ececec;
                    min-height: initial;
                    padding: 2rem 1.5rem;
                    h3 {
                        font-size: 2.2rem;
                        line-height: 2.5rem;
                        margin-bottom: 2.6rem;
                        &:after {
                            bottom: -18px;
                            height: 4px;
                        }
                    }
                    p {
                        padding: 0;
                    }
                }
            }
        }
        .values {
            padding-top: 3.65rem;
            h2 {
                font-size: 2.5rem;
                margin-bottom: 5rem;
            }
            .values-item {
                margin-bottom: 2.5rem;
                padding-bottom: 2.5rem;
                border-bottom: 1px solid #ececec;
                figure {
                    margin-bottom: .5rem;
                }
                h4 {
                    font-size: 1.5rem;
                }
                p {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 1.1rem;
                    line-height: normal;
                    font-weight: 400;
                }
            }
        }
        .history {
            padding-top: 1rem;
            h2 {
                margin-bottom: 3.35rem;
            }
            p {
                margin-bottom: 3.4rem;
            }
            .history-wrapper {
                .hist-cont {
                    p {
                        font-size: 1.1rem;
                        line-height: 1.6rem;
                    }
                    .profiles {
                        padding-left: 2rem;
                        padding-right: 2rem;
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.3rem;
                                strong {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .col-md-5 {
                    margin-top: 3rem;
                    .nav {
                        .nav-item {
                            .nav-link {
                                padding-left: 30px;
                                h3 {
                                    strong {
                                        min-width: 70px;
                                    }
                                }
                                &.active {
                                    h3 {
                                        strong {
                                            font-size: 22px;
                                        }
                                        span {
                                            font-size: 19px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .clients {
            padding-top: 4.3rem;
            h2 {
                margin-bottom: 4.1rem;
            }
            .clients-wrapper {
                h3 {
                    font-size: 1.2rem;
                }
                ul {
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
            }
            .btn {
                margin-top: 4rem;
            }
        }
        .meet-the-team {
            padding-top: 4.3rem;
            padding-bottom: 0;
            h2 {
                margin-bottom: 4.5rem;
            }
            p {
                margin-bottom: 1.2rem;
            }
            .team-wrapper {
                .team_teaser__list {
                    margin-bottom: 1.5rem;
                    li {
                        margin-bottom: 15px;
                    }
                }
            }
            .btn {
                font-size: .95rem;
            }
        }
        .beyond-business {
            padding-top: 3.65rem;
            h2 {
                margin-bottom: 3.7rem;
            }
            p {
                margin-bottom: 1rem;
            }
            .brand-products {
                padding-top: .5rem;
                .col-md-12 {
                    .row {
                        .col-md-4 {
                            .col-md-9 {
                                figure {
                                    margin-top: 1.5rem;
                                    margin-bottom: 1.5rem;
                                }
                                p {
                                    padding-left: 2rem;
                                    padding-right: 2rem;
                                }
                                .btn {
                                    margin-bottom: 2.5rem;
                                }
                                .row {
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
            .team-wrapper {
                padding-top: 2rem;
                .team_teaser__list {
                    li {
                        margin-bottom: 15px;
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 100%;
                        }
                    }
                }
            }
            .btn{
                color: $white;
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 2rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .media-awards {
            padding-top: 3.5rem;
            h2 {
                margin-bottom: 3rem;
                font-size: 2rem;
            }
            .media-wrapper {
                .media-cont {
                    ul {
                        li {
                            margin-bottom: 2rem;
                            width: 225px;
                            height: 162px;
                            margin-left: 2rem;
                            margin-right: 2rem;
                            background-size: auto;
                            .midawards-block {
                                h6 {
                                    font-size: 1.25rem;
                                    line-height: 1.2rem;
                                    padding: 2.2rem 2.4rem;
                                    letter-spacing: normal;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-left: 30px;
                            h3 {
                                strong {
                                    min-width: 100px;
                                    font-size: 22px;
                                    small {
                                        font-size: .9rem;
                                    }
                                }
                                span {
                                    font-size: 1.1rem;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.6rem;
                                    }
                                    span {
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn {
                margin-top: 2.5rem;
            }
        }
        .partners {
            padding-top: 3.65rem;
            .partner-wrapper {
                ul {
                    margin-top: 0;
                    text-align: left;
                    li {
                        width: 124px;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                        figure {
                            padding-top: 1.1rem;
                            padding-bottom: 1.1rem;
                        }
                    }
                }
            }
        }
        .offices {
            padding-top: 3.65rem;
            h2 {
                margin-bottom: 5rem;
            }
            .accordion {
                .card {
                    .card-header {
                        display: flex;
                        align-items: center;
                        figure {
                            float: left;
                            margin: 0 1rem 0 0;
                            width: 20%;
                            text-align: center;
                            img {
                                max-width: 100%;
                                height: 35px;
                            }                            
                        }
                        h4 {
                            margin-bottom: 0;
                            overflow: hidden;
                            font-size: 1.3rem;
                            line-height: normal;
                        }
                    }
                    .collapse {
                        .card-body {
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                            .creat {
                                top: -44px;
                                height: 20px;
                            }
                            .office-add {
                                padding: 0;
                                iframe {
                                    display: block;
                                    border: none;
                                    margin-bottom: 1.1rem;
                                }
                                h3 {
                                    font-size: 1.35rem;
                                    color: $bluedrkfr;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                                p {
                                    font-size: 1.05rem;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                    &:first-child {
                        .card-header {
                            figure {
                                width: 40%;                                
                                img {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .work-together {
            padding-top: 5rem;
        }
    }
}
@media (max-width: 499px) {
}