// PAGE BG
.analytics {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/analytics/bg-analtc.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.inr-page {
    &.analtics {
        padding-top: 2.7rem;
    }
}

.analtics {
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                letter-spacing: -0.082em;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline-block;
                    letter-spacing: normal;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                }
            }
        }
    }
    //Analytic Data Storing
    .analytic {
        clear: both;
        padding: 1.05rem 0 0;
        text-align: center;
        h2 {
            font-family: "Work Sans", sans-serif;
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.65rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.69rem;
            line-height: 2.4rem;
            font-weight: 400;
            color: $gray-900;
            margin-bottom: 4.8rem;
        }
        .col-md-10,
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .analytic-counter {
            margin:  1.7rem auto 3.65rem;
            clear: both;
            padding: 0;
            h4 {
                font-size: 3.42rem;
                line-height: normal;
                font-weight: 800;
                color: $bluedrkinr;
                clear: both;
                display: block;
            }
            .det {
                font-family: 'Muli', sans-serif;
                font-size: 1.43rem;
                line-height: normal;
                font-weight: 800;
                color: $bluedrkinr;
                display: block;
              }
          }
        .btn {
            clear: both;
            display: inline-block;
            padding: 1rem 1.55rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            margin-right: auto;
            margin-left: auto;
        }
    }
    // Our Services
    .our-services {
        text-align: center;
        clear: both;
        padding: 7.5rem 0 0;
        h2 {
            margin-bottom: 3.25rem;
        }
        h5 {
            font-size: 1.63rem;
            line-height: 2.3rem;
            color: $black;
            padding-top: .7rem;
            text-align: left;
        }
        p {
            font-size: 1.31rem;
            line-height: 1.6rem;
            padding-top: .85rem;
            margin-bottom: 6.25rem;
            color: $gray-900;
            font-weight: 400;
        }
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .services-tab {
            margin: 0;
            width: 100%;
            clear: both;
            //cursor: url(/static/images/tab-cursor.8b36230b.svg) 25 15, auto;
            .col-md-3,
            .col-md-9 {
                float: left;
            }
            .col-md-3 {
                height: 100%;
            }
            .nav {
                font-family: 'Muli', sans-serif;
                padding: 0;
                margin: 0;
                border: none;
                border-right: 1px solid $gray-325;
                height: 100%;
                .nav-item {
                    list-style: none;
                    margin: 0;
                    .nav-link {
                        font-size: 1.5rem;
                        line-height: normal;
                        text-align: left;
                        font-weight: 700;
                        color: $gray-525;
                        padding: 0;
                        margin: 2.5rem 0;
                        min-height: initial;
                        text-transform: none;
                        border: none;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        cursor: pointer;
                        &.active {
                            font-size: 1.8rem;
                            line-height: 2rem;
                            color: $bluedrkinr;
                            letter-spacing: -0.09rem;
                            background-color: transparent;
                            &:after {
                                background-color: $bluedrkinr;
                            }
                        }
                        &:after {
                            width: 11px;
                            height: 11px;
                            border-radius: 100%;
                            content: '';
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            right: -6px;
                            transform: translateY(-50%);
                            background-color: $gray-175;
                            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        }
                    }
                }
            }
            .services-list {
                padding: 0;
                margin: 0;
                text-align: center;
                li {
                    width: 50%;
                    display: inline-block;
                    padding: 0 3rem;
                    vertical-align: top;
                    margin-bottom: 1rem;
                    figure {
                        width: 3.5rem;
                        height: auto;
                        margin: 0 auto 14px;
                        img {
                            max-width: 100%;
                        }
                    }
                    h4 {
                        padding: 0;
                        margin: 0 2.5rem 1.5rem;
                        font-size: 1.3rem;
                        line-height: normal;
                        font-weight: 700;
                        color: $bluedrkinr;
                    }
                    p {
                        font-size: 17px;
                        line-height: 24px;
                        font-weight: 600;
                        color: $black;
                        padding: 0 2rem 1.85rem;
                        margin: 0;
                    }
                    .awards-action {
                        clear: both;
                        overflow: hidden;
                        text-align: center;
                        a {
                            display: inline-block;
                            margin: 0 auto;
                            color: $bluedrkinr;
                            cursor: pointer;
                            font-size: 1rem;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        position: relative;
                        display: flex;
                        box-sizing: border-box;
                        margin: 0;
                        min-height: 180px;
                        max-width: 100%;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                        img {
                            vertical-align: top;
                            max-width: 100%
                        }
                        div {
                            box-sizing: border-box;
                            background-color: rgba(255,255,255,0.97);
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            -webkit-transition: all 0.4s ease-in-out;
                            transition: all 0.4s ease-in-out;
                            padding: 10px;
                            overflow: hidden;
                            border-radius: 3px;
                            -webkit-border-radius: 3px;
                            position: absolute;
                            text-align:center;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            border: none;
                            z-index: 3;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                            h3, p {
                                margin: 0;
                                padding: 0
                            }
                            p {
                                font-family: 'Muli', sans-serif;
                                font-weight: 600;
                                color: $gray-900;
                                padding: 0;
                                margin-bottom: 0;
                                font-size: 1.1rem;
                                line-height: normal;
                                position: relative;
                                cursor: default;
                                letter-spacing: -.05rem;
                            }
                            a {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                z-index: 1;
                                cursor: pointer;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            z-index: 3;
                            border-width: 0;
                            * {
                                opacity: 0
                            }
                            a {
                                z-index: 3
                            }
                        }
                        &:hover {     
                            div, * {
                                opacity: 1;
                                -webkit-transition-delay: .15s;
                                transition-delay: .15s;
                                transition: all 0.4s ease-in;
                                -webkit-transition: all 0.4s ease-in;
                            }
                        }
                        .awards-action {
                            opacity: 1;
                            position: relative;
                            padding: 0;
                            background-color: transparent;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            figure,
                            img,
                            h4,
                            a {
                                opacity: 1;
                                position: relative;
                                margin: 0 auto;
                            }
                            img {
                                -webkit-transition: .3s;
                                -o-transition: .3s;
                                transition: .3s;
                            }
                        }
                        .awards-action {
                            position: absolute;
                            width: 100%;
                            height: auto;
                            left: 50%;
                            right: auto;
                            top: auto;
                            bottom: 0;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
            .services-tab_wrapper {
                display: flex;
                height: 100%;
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 6.05rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 3.25rem;
        }
        .col-md-8 {
            margin-left: auto;
            margin-right: auto;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.31rem;
            line-height: 1.6rem;
            padding-top: .9rem;
            margin-bottom: 2.8rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 1rem;
                figure {
                    margin: 0 auto .87rem;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.315rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 3.5rem;
                    margin-right: 3.5rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 220px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:first-child,
                &:last-child {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
            } 
        }
        .btn {
            margin: 4.2rem auto 0;
            padding: 1.33rem 2.85rem;
            font-size: 1.12rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            color: $white;
            font-weight: 700;
            &:hover {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
}
@media (max-width: 1450px) {
    .analytics {
        background-size: auto, 40%;
    }
}
@media (max-width: 1299px) { 
    .analytics {
        background-size: auto, 66%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .analytic {
            padding-top: 2rem;
        }
        .whyus {
            .whyus-item {
                li {
                   h6 {
                    font-size: 1.315rem;
                    line-height: normal;
                   }
                }
            }
        }
    }
    .inr-page {
        padding-top: 2rem;
    }
}
@media (max-width: 1050px) {  
    .analytics {
        .analytic {
            h2 {
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
            .analytic-counter {
                .det {
                    font-size: 1.3rem;
                }
            }
        }
        .our-services {
            .services-tab {
                .nav {
                    .nav-item {
                        .nav-link {
                            &.active {
                                font-size: 1.5rem;
                                line-height: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        .whyus {
            padding-top: 4rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.315rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
            .btn {
                margin-top: 2rem;
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
        .success-stoty {
            .btn {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 1023px) {
    .analytics {
        background-size: auto, 85%;
        .analytic {
            h2 {
                font-size: 1.7rem;
                margin-bottom:1rem;
                line-height: normal;
            }
        }
        .whyus {
            padding-top: 5rem;
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.2rem;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:last-child {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
        .accordion {
            margin: 0 auto;
            width: 100%;
            text-align: left;
            .card {
                font-family: 'Muli', sans-serif;
                border-color: $gray-325;
                overflow: visible;
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                .card-header {
                    padding: 1rem 1.3rem;
                    cursor: pointer;
                    transform: translate3d(0, 0, 0);
                    color: $bluedrkinr;
                    position: relative;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    font-weight: 700;
                    background-color: transparent;
                    margin-bottom: -1px;
                    .creat {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        display: block;
                        width: 20px;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: auto;
                            right: auto;
                            height: 2px;
                            width: 12px;
                            background: $bluedrkinr;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                        &:before {
                            left: 0;
                            transform: rotate(40deg);
                        }
                        &:after {
                            right: 0;
                            transform: rotate(-40deg);
                        }
                    }
                }
                .collapse {
                    .card-body {
                        padding: 0;
                        position: relative;
                        .services-list {
                            margin-bottom: 2.5rem;
                            overflow: hidden;
                            li {
                                padding: 2rem 1rem 0;
                                width: 50%;
                                figure {
                                    margin-bottom: .5rem;
                                }
                                h4 {
                                    font-size: 1.3rem;
                                    line-height: normal;
                                    margin-bottom: .8rem;
                                }
                                p {
                                    padding-left: 0;
                                    padding-right: 0;
                                    font-size: 1.05rem;
                                    line-height: normal;
                                    padding-bottom: 0;
                                }
                            }
                        }
                        .creat {
                            position: absolute;
                            right: 20px;
                            top: -35px;
                            display: block;
                            width: 20px;
                            height: 15px;
                            background-color: $white;
                            z-index: 10;
                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: auto;
                                right: auto;
                                height: 2px;
                                width: 12px;
                                background: $bluedrkinr;
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                            &:before {
                                left: 0;
                                transform: rotate(40deg);
                            }
                            &:after {
                                right: 0;
                                transform: rotate(-40deg);
                            }
                        }
                    }
                    &.show {
                        position: relative;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        .creat {
                            &:before {
                                transform: rotate(-40deg);
                            }
                            &:after {
                                transform: rotate(40deg);
                            }
                        }
                    }
                }
            }
        }
        .success-stoty {
            .btn {
                margin-top: 3rem;
            }
        }
    }  
}
@media (max-width: 991px) {
    .analytics {
        .analytic {
            padding-top: 2rem;
        }
        .our-services {
            padding-top: 5rem;
            p {
                margin-bottom: 4rem;
            }
        }
        .whyus {
            .whyus-item {
                li {
                    h6 {
                        margin-bottom: .5rem;
                        font-size: 1.3rem;
                        color: $bluedrkinr;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;                    
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: 2rem;
                        max-width: 100%;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            padding-top: 1rem;
                            margin-top: 0;
                        }
                    }
                } 
            }
        }
    }
}
@media (max-width: 767px) {
    .analytics {
        background-position: 0 0, 100% 0;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                            left: 50%;
                        }
                    }
                }
            }
        }
        .analytic {
            padding-top: 3.65rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 3rem;
                letter-spacing: -.02rem;
            }
            .analytic-counter {
                margin-bottom: 0;
                .col-md-3 {
                    width: 50%;
                }
                h4 {
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                    text-align: center;
                    line-height: 7rem;
                    width: 7rem;
                    height: 7rem;
                    -webkit-border-radius: 10rem;
                    -moz-border-radius: 10rem;
                    -ms-border-radius: 10rem;
                    -o-border-radius: 10rem;
                    border-radius: 10rem;
                    display: inline-block;
                    background-color: $bluedrkinr;
                    color: $white;
                }
                .det {
                    font-size: 1.5rem;
                    color: $black;
                }
                .c-block {
                    margin-bottom: 3rem;
                }
            }
        }
        .our-services {
            padding-top: 5rem;
            h2 {
                font-size: 1.995rem;
                letter-spacing: -.1rem;
                margin-bottom: 3rem;
            }
            p {
                margin-bottom: 3rem;
            }
            .accordion {
                .card {
                    .card-body {
                        .services-list {
                            li {
                                width: 100%;
                                padding-top: 0;
                                padding-bottom: 0;
                                h4 {
                                    font-size: 1.5rem;
                                    margin-bottom: .8rem;
                                }
                                figure {
                                    margin-bottom: 1.2rem;
                                    width: 100%;
                                }
                                p {
                                    font-size: 1.3rem;
                                    padding-bottom: 1.85rem;
                                }
                                &:first-child {
                                    padding-top: 1rem;
                                }
                                &:last-child {
                                    padding-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .whyus {
            padding-top: 5rem;
            h2 {
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 1rem;
                letter-spacing: -.02rem;
                padding-top: 1rem;
            }
            .col-md-8 {
                padding-right: 30px;
                padding-left: 30px;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 50%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 2.5rem;
                        margin-right: 2.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;                    
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: 2rem;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.02rem;
                        line-height: 1.5rem;
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem; 
                        }
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            margin-top: 1rem;
                        }
                    }
                } 
            }
            .btn {
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 2.5rem;
            }
        }
    }
}
@media (max-width: 499px) {
    .analytics {
        background-position: 0 0, 100% 25px;
        .analytic {
            .analytic-counter {
                margin-bottom: 0;
                h4 {
                    margin-bottom: 1.5rem;
                }
                .col-md-3 {
                    width: 100%;
                }
            }
        }
        .accordion {
            .card {
                .card-header {
                    padding: 1rem .8rem;
                    font-size: 1.25rem;
                    line-height: 1.35rem;
                }
                .collapse {
                    .card-body {
                        .services-list {
                            li {
                                h4 {
                                    font-size: 1.2rem;
                                    margin-bottom: .8rem;
                                }
                                figure {
                                    margin-bottom: .9rem;
                                    width: 4.5rem;
                                }
                                p {
                                    font-size: 1.05rem;
                                    padding-bottom: .5rem;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    .collapse {
                        .card-body {
                            .creat {
                                top: -45px;
                            }
                        }
                    }
                }
            }
        }
        .whyus {
            .whyus-item {
                li {
                    width: 100%;
                }
            }
        }
    }
}