// PAGE BG
.awards {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/awards/bg-awd.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.inr-page {
    &.int-awards {
        padding-top: 2.7rem;
    }
}

.awards {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                    &:first-of-type {
                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }

    // Awards List
    .awards-list {
        clear: both;
        margin: 3rem 0 5rem;
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        .awards-wrapper {
            clear: both;
            overflow: hidden;
            width: 100%;
            text-align: center;
            .col-md-4 {
                display: inline-block;
                vertical-align: top;
            }
            .awards-block {
                margin-top: 15px;
                margin-bottom: 15px;
                float: left;
                .awards-block_box {
                    background-color: $white;
                    padding: 0px;
                    // box-shadow: 0px 0px 15px $gray-190;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    box-sizing: border-box;
                    animation-delay: 0.3s;
                    border: 2px solid $gray-160;
                    display: flex;
                    align-items: center;
                    min-height: 210px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    cursor: pointer;
                    figure {
                        width: 100%;
                        text-align: center;
                        padding: 1rem;
                        margin: 0 auto;
                        border-radius: 0px;
                        overflow: visible;
                        position: relative;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        img {
                            max-width: 100%;
                            border-radius: 0px;
                            vertical-align: middle;
                            border-style: none;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            // -webkit-transform: scale(1) translateX(0);
                            // -ms-transform: scale(1) translateX(0);
                            // transform: scale(1) translateX(0);
                        }
                    }
                    &:hover {
                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                        outline: 0px;
                        figure {
                            img {                                
                                -webkit-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                .awards-title {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    h4 {
                        font-weight: 700;
                        font-size: 1.25rem;
                        line-height: normal;
                        color: rgb(0, 0, 0);
                        margin: 0 1rem;
                        padding: 1rem 0;
                    }
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 340px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: start;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    cursor: pointer;
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.95);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.7rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                        .awards-block_box {
                            figure {
                                img {                                
                                    -webkit-transform: scale(1.05);
                                    -ms-transform: scale(1.05);
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                    .awards-block_box,
                    .awards-title,
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-block_box {
                        border: 2px solid #ececec;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        background-color: $white;
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .awards {
        background-size: auto, 43%;
    }
}
@media (max-width: 1299px) {
    .awards {
        background-size: auto, 65%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .awards-list {
            margin-bottom: 4.5rem;
            margin-top: 2.5rem;
            h2 {
                    margin-bottom: 4rem;
                    font-size: 2.3rem;
            }
           .awards-wrapper {
                .awards-block {
                    .awards-block_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .inr {
        &.awards {
            h2 {
                margin-bottom: 3.5rem;
            }
        }
    }
    .awards {
        background-size: auto, 80%;
        h2 {
            margin-bottom: 3.5rem;
        }
        .awards-list {
            margin-top: 0rem;
            h2 {
                margin-bottom: 3rem;
            }
           .awards-wrapper {
                .col-md-4 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .awards-block {
                    float: none;
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                    .awards-title {
                        h4 {
                            color: $bluedrkinr;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .awards {
        background-size: auto, 65%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .awards-list {
            margin-bottom: 4.5rem;
            .awards-wrapper {
                .col-md-4 {
                    width: 100%;
                    border-top: 1px solid #ececec;
                    padding-top: 1.5rem;
                    margin-top: 1rem;
                    &:first-child {
                        border-top: none;
                        padding-top: .5rem;
                        margin-top: 0;
                    }
                }
                .awards-block {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .awards-block_box {
                        figure {
                            width: 100%;
                            overflow: visible;
                        }
                    }
                    .awards-title {
                        h4 {
                            color: $bluedrkinr;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .awards {
        background-size: auto, 100%;
        .awards-list {
            background-size: auto, 100%;
            margin-top: 2rem;
            h2 {
                font-size: 2rem;
            }
            .awards-wrapper {
                .awards-block {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 339px) {
    .awards {
        .awards-list {
            margin-top: 1rem;
            .awards-wrapper {
                .awards-block {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        div {
                            p {
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    .awards-title {
                        h4 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}