// PAGE BG
.blogs {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/blog/bg-blog.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
    .int-blogs {
        padding-top: 1.9rem;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 0.5s ease-in;
}
.load-more {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    border: none;
    padding: 1rem 2.2rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    outline: none;
    z-index: 1;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    background-color: transparent;
    border: none;
}
.load-more:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $secondary;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
.load-more:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bluedrkinr;
    border-radius: 10rem;
    z-index: -2;
}
.load-more:hover:before,
.load-more:focus:before {
    width: 100%;
}
.load-more:hover,
.load-more:focus {
    color: $black;
    outline: none;
}
.blogs {
    display: block;
    .header-wrapper {
        height: auto;
        -webkit-transition: none;
        transition: none;
        .header {
            .header_inner {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                nav.navbar {
                    .btn-link {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        text-transform: none;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: $gray-550;
                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                } 
            }
        }
        &.menu-clicked {
            .header {
                .header_inner {
                    nav.navbar {
                        .btn-link {
                            color: $blue-lw;							
                            &:hover, &:focus {
                                color: $blue-lw;
                            }
                        }
                    }
                }
            }
        }
    }
    // HEADER BANNER
    .hdBan_inner {
        padding-bottom: 3.3rem;
        .hdBan_inner__teaser {
            .blog-ban {
                width: 100%;
                clear: both;
                figure {
                    display: block;
                    margin: 0 auto;
                    img {
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    // BLOG TITLE
    .blog-title {
        clear: both;
        h1 {
            font-family: "Work Sans", sans-serif;
            font-size: 4.05rem;
            font-weight: 700;
            line-height: normal;
            margin-left: -4px;
            margin-bottom: 0;
            color: $bluedrkinr;
            &:after {
                height: 5px;
                width: 65px;
                background-color: $secondary;
                position: absolute;
                content: "";
                left: 0px;
                transform: none;
                bottom: -19px;
            }
        }
        .col-md-5,
        .col-md-7 {
            float: left;
        }
        .col-md-7 {
            .row {
                justify-content: flex-end;
            }
        }
        .blog-search {
            .search {
                position: absolute;
                top: 15px;
                right: 6.5rem;
                width: 100%;
                max-width: 400px;
                height: 50px;
                .search__toggle:checked ~ .search__field {
                    width: calc(100% - 80px);
                    border-width: 2px;
                    .search__input {
                        &::placeholder {
                            opacity: 1;
                        }
                    }
                    .search__close {
                        left: -25px;
                    }
                    .search__button {
                        right: 5px;
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        .search__button--toggle {
                            display: none;
                        }
                    }
                    .search__button--submit {
                        display: flex;
                    }
                }
                .search__field {
                    position: absolute;
                    right: 0;
                    width: 40px;
                    height: 45px;
                    border: 0px solid $primary;
                    border-radius: 50px;
                    transform-origin: right;
                    transition: .3s;
                    .search__label {
                        cursor: pointer;
                        .search__close {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateX(-50%);
                            transition: .3s;
                            &::before,
                            &::after {
                                position: absolute;
                                display: block;
                                content: '';
                                width: 15px;
                                height: 3px;
                                background-color: $primary;
                            }
                            &::before {
                                transform: rotate(45deg);
                            }
                            &::after {
                                transform: rotate(-45deg);
                            }
                        }
                    }                    
                    .search__input {
                        position: absolute;
                        left: 0;
                        box-sizing: border-box;
                        width: calc(100% - 40px);
                        height: 100%;
                        padding: 5px 15px;
                        color: $primary;
                        background-color: transparent;
                        border: 0;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        &::placeholder {
                            color: $primary;
                            opacity: 0;
                            transition: .3s;
                            transition-delay: .3s;
                        }
                    }
                }                  
                .search__button {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    background-color: $primary;
                    border-radius: 100%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: .3s;
                    &.search__button--submit {
                        display: none;
                        border: 0;
                    }
                    .search__icon {
                        position: relative;
                        width: 19px;
                        height: 19px;
                        &::before {
                            display: block;
                            content: '';
                            width: 15px;
                            height: 15px;
                            background-color: transparent;
                            border: 2px solid $white;
                            border-radius: 50px;
                        }
                        &::after {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            display: block;
                            content: '';
                            width: 8px;
                            height: 2px;
                            background-color: $white;
                            transform: rotate(45deg);
                            transform-origin: right;
                        }
                    }
                    &:focus {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
        .blog-sort {
            margin: 0 0 0 1rem;
            float: right;
            select {
                padding: .4rem;
                border: 2px solid $primary;
                border-radius: 5px;
                font-family: "Muli", sans-serif;
                font-size: 1.1rem;
                line-height: normal;
                color: $primary;
                font-weight: 600;
                max-width: 100px;
                width: 100%;
                margin: 1rem 0 0;
                &:focus {
                    border: 2px solid $primary;
                    box-shadow: 0 0 5px $primary;
                    outline: none;
                }
            }
        }
    }
    .blog-list {
        clear: both;
        margin: 5.55rem 0 6rem;
        width: 100%;
        float: left;
        display: block;
        .blog-wrapper {
            clear: both;
            overflow: hidden;
            .blog {
                position: relative;
                float: left;
                min-height: 430px;
                .blog-list__box {
                    background-color: $white;
                    padding: 0px;
                    // box-shadow: 0px 0px 15px $gray-190;
                    border-radius: 0px;
                    box-sizing: border-box;
                    animation-delay: 0.3s;
                    figure {
                        max-width: 350px;
                        width: 100%;
                        height: 220px;
                        text-align: center;
                        padding: 0;
                        margin: 0 0 1.4rem;
                        border-radius: 0px;
                        overflow: hidden;
                        position: relative;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        img {
                            max-width: 100%;
                            border-radius: 0px;
                            vertical-align: middle;
                            border-style: none;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            // -webkit-transform: scale(1) translateX(0);
                            // -ms-transform: scale(1) translateX(0);
                            // transform: scale(1) translateX(0);
                        }
                        figcaption {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            max-width: 75px;
                            background-color: $white;
                            text-align: center;
                            width: 100%;
                            h5 {
                                font-family: "Work Sans", sans-serif;
                                font-size: 12px;
                                font-weight: 500;
                                margin: 0px;
                                padding: 12px 15px;
                                background-color: $secondary;
                                color: $black;
                                span {
                                    display: block;
                                    font-size: 22px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .blog-info {
                        clear: both;
                        padding: 0 0 18px;
                        h3 {
                            font-family: "Muli", sans-serif;
                            font-weight: 700;
                            font-size: 21px;
                            line-height: normal;
                            color: $black;
                            clear: both;
                            padding: 0;
                            margin: 0 0 .5rem;
                            display: block;
                            letter-spacing: normal;
                            a {
                                color: $black;
                                text-decoration: none;
                                &:hover,
                                &:focus {
                                    color: $primary;
                                }
                            }
                        }
                        ul {
                            padding: 0;
                            margin: 0 0 .4rem;
                            display: block;
                            text-align: left;
                            li {
                                list-style: none;
                                display: inline-block;
                                font-family: "Muli", sans-serif;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: normal;
                                text-transform: uppercase;
                                color: $gray-675;
                                padding: 0;
                                margin: 0 4px 0 0;
                                letter-spacing: normal;
                                span.cat {
                                    padding: .15rem .3rem .05rem;
                                    font-size: 13px;
                                    display: inline-block;
                                    color: $gray-675;
                                    background-color: $gray-225;
                                    letter-spacing: normal;
                                }
                                span.author {
                                    font-size: 16px;
                                    padding: .3rem;
                                    display: inline-block;
                                    color: $gray-675;
                                    display: block;
                                    letter-spacing: normal;
                                }
                            }
                        }
                    }
                    &:hover {
                        figure {
                            img {                                
                                -webkit-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                &:nth-child(1) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(2) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(3) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(4) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(5) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(6) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(7) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(8) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(9) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(10) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(11) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(12) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(13) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(14) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(15) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(16) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(17) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(18) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(19) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(20) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(21) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(22) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(23) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(24) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(25) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(26) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(27) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(28) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(29) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(30) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(31) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(32) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(33) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(34) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(35) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(36) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(37) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(38) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(39) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(40) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(41) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(42) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(43) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(44) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(45) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(46) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(47) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(48) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(49) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(50) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(51) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(52) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(53) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(54) {
                    figure {
                        background-color: $graLghten;
                    }
                }
                &:nth-child(55) {
                    figure {
                        background-color: $gray-25;
                    }
                }
                &:nth-child(56) {
                    figure {
                        background-color: $grnLghten;
                    }
                }
                &:nth-child(57) {
                    figure {
                        background-color: $blueLghten;
                    }
                }
                &:nth-child(58) {
                    figure {
                        background-color: $yelLghten;
                    }
                }
                &:nth-child(59) {
                    figure {
                        background-color: $redLghten;
                    }
                }
                &:nth-child(60) {
                    figure {
                        background-color: $graLghten;
                    }
                }
            }
        }
    }
    &.single-blog {
        .hdBan_inner {
            padding-bottom: 3rem;
            .hdBan_inner__teaser {
                .blog-ban {
                    figure {
                        // height: 280px;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .blog-title {
            h1 {
                font-family: "Muli", sans-serif;
                font-weight: 700;
                font-size: 40px;
                line-height: 54px;
                color: $bluedrkinr;
                text-transform: none;
                text-align: left;
                margin-left: -2px;
                color: $bluedrkinr;
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            ul {
                padding: 0;
                margin: 0 0 .3rem;
                display: block;
                text-align: left;
                li {
                    list-style: none;
                    display: inline-block;
                    font-family: "Muli", sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                    color: $gray-675;
                    padding: 0;
                    margin: 0 4px 0 0;
                    letter-spacing: normal;
                    span.cat {
                        padding: .15rem .3rem .05rem;
                        font-size: 13px;
                        display: inline-block;
                        color: $gray-675;
                        background-color: $gray-225;
                        letter-spacing: normal;
                    }
                    span.author {
                        font-size: 16px;
                        padding: .3rem .3rem .3rem 0;
                        display: inline-block;
                        color: $gray-380;
                        display: block;
                        letter-spacing: normal;
                        text-transform: capitalize;
                        u {
                            text-decoration: underline;
                            color: $gray-675;
                        }
                    }
                    span.mo,
                    span.dt,
                    span.yr {
                        font-size: 16px;
                        padding: .4rem .3rem;
                        display: inline-block;
                        color: $gray-380;
                        display: inline-block;
                        letter-spacing: normal;
                        text-transform: capitalize;
                    }
                    span.mo {
                        padding-right: 0;
                    }
                    span.dt {
                        padding-right: 0;
                        padding-left: 0;
                    }
                    span.views {
                        font-size: 16px;
                        padding: .3rem;
                        display: inline-block;
                        color: $gray-380;
                        display: inline-block;
                        letter-spacing: normal;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .blog-content {
            clear: both;
            margin: 3rem 0 0;
            position: relative;
            h6 {
                font-family: "Muli", sans-serif;
                font-size: 21px;
                line-height: 29px;
                font-weight: 800;
                color: $bluedrkinr;
                margin-bottom: 1rem;
                margin-top: 1.56rem;
            }
            p {
                font-family: "Muli", sans-serif;
                font-size: 17px;
                line-height: 25px;
                font-weight: 400;
                color: $black;
                margin-bottom: 1.7rem;
                span {
                    color: $bluedrkinr; 
                }
            }
            figure {
                clear: both;
                overflow: hidden;
                background-color: $gray-160;
                text-align: center;
                width: 100%;
                margin: 2rem auto 2.05rem;
                img {
                    max-width: 100%;
                    margin: 0 auto;
                    display: inline-block;
                }
            }
            .social-share {
                padding: 0;
                margin: 0;
                position: absolute;
                top: -14rem;
                left: -5rem;
                width: 40px;
                height: 150px;
                z-index: 10;
                text-align: center;
                li {
                    list-style: none;
                    display: inline-block;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                    margin-bottom: .2rem;
                    button {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        circle {
                            fill: $gray-225;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                        path {
                            fill: $gray-650;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                        &:hover,
                        &:focus {
                            border: none;
                            box-shadow: none;
                            outline: none;
                            &.shfb {
                                circle {
                                    fill: $shrFBhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                            &.shtw {
                                circle {
                                    fill: $shrTWhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                            &.shlin {
                                circle {
                                    fill: $shrLINhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                            &.shwap {
                                circle {
                                    fill: $shrWAPhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                            &.shpintr {
                                circle {
                                    fill: $shrPINRhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                            &.shmail {
                                circle {
                                    fill: $shrMAILhovr;
                                }
                                path {
                                    fill: $white;
                                }  
                            }
                        }
                    }
                }
            }
        }
        .comments-list {
            margin-top: 50px;
            padding-top: 30px;
            margin-bottom: 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            h4 {
                font-size: 26px;
                margin: 0 0 30px;
                font-family: "Muli", sans-serif;
                font-weight: 700;
                color: #4a5779;
                line-height: 1.2;
            }
            ul {
                list-style: none;
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
                li {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding-bottom: 1.5rem;
                    &.media {
                        list-style: none;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: start;
                        align-items: flex-start;
                        margin: 0;
                        position: relative;
                        text-align: -webkit-match-parent;
                        box-sizing: border-box;
                        h5 {
                            margin: 0 0 .3rem;
                            font-family: "Muli", sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 1.2;
                            color: #4a5779;
                        }
                        span {
                            font-family: "Muli", sans-serif;
                            font-size: 14px;
                            line-height: 1.8;
                            font-weight: 400;
                            display: inline-block;
                            margin-bottom: .5rem;
                            color: #a5a5a5;
                            box-sizing: border-box;
                        }
                        p {
                            margin-bottom: .5rem;
                            color: #848486;
                            font-size: 14px;
                            line-height: 1.8;
                            margin-top: 0;
                        }
                    }
                    .media-body {
                        -ms-flex: 1;
                        flex: 1;
                        box-sizing: border-box;
                    }
                    .btn-link {
                        font-weight: 700;
                        color: #4285F4;
                        position: relative;
                        background-color: transparent;
                        text-decoration: none;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        position: relative;
                        cursor: pointer;
                        padding-bottom: .2rem;
                        svg {
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                            line-height: 20px;
                        }
                        &:before,
                        &:after {
                            box-sizing: border-box;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 0;
                            bottom: -4px;
                            width: 0;
                            height: 2px;
                            background-color: #3872d2;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                        &:hover,
                        &:focus {
                            color: #3872d2;
                            text-decoration: none;
                            background-color: transparent;
                            border-color: transparent;
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                    ul {
                        margin-left: 1.5rem;
                        margin-top: 1.5rem;
                        width: 100%;
                        li {
                            padding-left: 0;
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .comment-form {
            margin-bottom: 0;
            box-sizing: border-box;
            clear: both;
            h4 {
                margin: 0 0 30px;
                font-family: "Muli", sans-serif;
                font-size: 26px;
                font-weight: 700;
                line-height: 1.2;
                color: #4a5779;
            }
            form {
                display: block;
                margin-top: 0em;
                box-sizing: border-box;
                clear: both;
                width: 100%;
                .form-group {
                    margin-bottom: 20px;
                    label {
                        font-weight: 600;
                        display: inline-block;
                        margin-bottom: .8rem;
                        cursor: default;
                        font-family: "Muli", sans-serif;
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                        line-height: 2;
                        color: #515151;
                        text-align: left;
                        .text-danger {
                            color: #dc3545;
                        }
                    }
                    .form-control {
                        height: 50px;
                        padding: 8px 15px;
                        border-radius: 4px;
                        border: 2px solid #efefef;
                        width: 100%;
                        color: #454545;
                        display: block;
                        font-size: 1rem;
                        line-height: 1.5;
                        background-color: #fff;
                        background-clip: padding-box;
                        margin: 0;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    }
                    textarea.form-control {
                        height: auto;
                    }
                }
                .btn {
                    border: none;
                    margin-top: 1rem;
                    padding: 1rem 2.2rem;
                    font-weight: 600;
                    background-color: transparent;
                    border-radius: .25rem;
                    overflow: hidden;
                    &:hover,
                    &:focus {
                        color: $black;
                        font-weight: 600;
                        text-decoration: none;
                        border: none;
                        background-color: transparent;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
    .infinite-scroll-component  {
        overflow-y: hidden!important;
    }
    #loadng {
        width: 4rem;
        height: 4rem;
        margin: 1.5rem auto;
        position: relative;
        text-align: center;
      #loadng-wrap {
        position: absolute;
        background: transparent;
        border-radius: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
        width: 4rem;
        height: 4rem;
        border: 0.0625rem $primary solid;
        border-top: 0.25rem $primary solid;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
      }
      img {
        max-width: 100%;
        display: inline-block;
        margin: 0 auto;
      }
    }
}
@media (min-width: 768px) {
}
@media (max-width: 1299px) {
    .blogs {
        .hdBan_inner {
            padding-bottom: 2rem;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .blog-title {
            h1 {
                font-size: 3.5rem;
                line-height: 4rem;                
                text-align: center;
                margin-top: 0;
                min-height: initial;
                margin-bottom: 0rem;
                margin-left: -3px;
                &:after {
                    height: 4px;
                    bottom: -16px;
                }
            }
        }
        .blog-list {
            margin-top: 4rem;
            .blog {
                min-height: 370px;
                .blog-list__box {
                    figure {
                        height: 182px;
                    }
                    .blog-info {
                        h3 {
                            font-size: 18px;
                        }
                        ul {
                            li {
                                span.cat {
                                    font-size: 12px;
                                    padding: .10rem .3rem .15rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.single-blog {
            .blog-title {
                h1 {
                    font-size: 2rem;
                    line-height: normal;
                }
            }
            .blog-content {
                margin-top: 2rem;
                h6 {
                    margin-top: 0rem;
                }
                figure {
                    margin: .5rem 0 2rem;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .blogs {
        .hdBan_inner {
            padding-bottom: 2rem;
        }
        .blog-title {
            h1 {
                font-size: 3rem;
                line-height: 3.5rem;                
                text-align: center;
                margin-top: 0;
                min-height: initial;
                margin-bottom: 0rem;
                margin-left: -3px;
                &:after {
                    height: 4px;
                    bottom: -16px;
                }
            }
        }
        .blog-list {
            margin-top: 4rem;
            .blog {
                min-height: 320px;
                .blog-list__box {
                    figure {
                        height: 142px;
                    }
                    .blog-info {
                        h3 {
                            font-size: 15px;
                        }
                        ul {
                            li {
                                span.cat {
                                    font-size: 12px;
                                    padding: .10rem .3rem .15rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.single-blog {
            .blog-title {
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .blogs {
        background-position: 0 0, 100% 15%;
        .hdBan_inner {
            padding-bottom: 1rem;
        }
        .blog-title {
            h1 {
                font-size: 2.6rem;
                line-height: 3rem;                
                text-align: center;
                margin-top: .7rem;
                min-height: initial;
                margin-bottom: 0rem;
                margin-left: -3px;
                &:after {
                    height: 4px;
                    bottom: -16px;
                }
            }
        }
        .blog-list {
            margin-top: 4rem;
            .blog-wrapper {
                .blog {
                    width: 50%;
                    min-height: initial;
                    padding-bottom: 1rem;
                    .blog-list__box {
                        figure {
                            height: 190px;
                        }
                        .blog-info {
                            h3 {
                                font-size: 19px;
                            }
                            ul {
                                li {
                                    span.cat {
                                        font-size: 12px;
                                        padding: .10rem .3rem .15rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.single-blog {
            .blog-title {
                h1 {
                    font-size: 1.4rem;
                }
                ul {
                    li {
                        font-size: 14px;
                        span.author,
                        span.mo,
                        span.dt,
                        span.yr,
                        span.views {
                            font-size: 14px;
                        }
                    }
                }
            }
            .blog-content {
                margin-top: 1rem;
                h6 {
                    font-size: 18px;
                    line-height: normal;
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .blogs {
        background-position: 0 0, 100% 15%;
        .blog-list {
            margin-top: 4rem;
            .blog-wrapper {
                .blog {
                    width: 100%;
                    min-height: initial;
                    padding-bottom: 1rem;
                    .blog-list__box {
                        figure {
                            height: 217px;
                        }
                        .blog-info {
                            padding-bottom: 2rem;
                        }
                    }
                }
                
            }
        }
    }
}