// PAGE BG
.dig-commerce {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/dig-commerce/bg-dc.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.inr-page {
    &.digital-commerce {
        padding-top: 2.7rem;
    }
}

.dig-commerce {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
    // End-to-End Outcome Focused Solutions
    .solutions {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.65rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
        }
    }
    // Our Services
    .our-services {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        h2 {
            margin-bottom: 8rem;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 5.5rem;
            color: $gray-900;
            font-weight: 400;
        }
        .srvc-item {
            margin-bottom: 1rem;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            figure {
                margin: 0 auto .88rem;
                width: 66px;
                height: 66px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.315rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 3.5rem;
                margin-right: 3.5rem;
                color: $black;
            }
            p {
                font-size: 1.063rem;
                line-height: 1.5rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 0;
                padding-top: 1.5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 200px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
            &:first-child {
                h6 {
                    margin-left: 3rem;
                    margin-right: 3rem;
                }
            }
            &:nth-child(6) {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                } 
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 4.5rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 7.7rem;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 1rem;
                figure {
                    margin: 0 auto .6rem;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.315rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 2rem;
                    margin-right: 2rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 200px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:first-child,
                &:last-child {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem; 
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 4rem;
                        margin-right: 4rem; 
                    }
                }
            } 
        }
    }
    // Our Process
    .our-process {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        h2 {
            margin-bottom: 8rem;
        }
        figure {
            margin: 0 auto;
            max-width: 100%;
        }
        .process {
            clear: both;
            width: 100%;
            padding: 0;
            margin-top: 8rem;
            margin-bottom: 15rem;
            .process-flow {
                position: relative;
                margin: 0 auto;
                padding: 0;
                width: 605px;
                ul.ciclegraph {
                    position: relative;
                    width: 605px;
                    height: 605px;
                    margin: calc(100px / 100 + 0px);
                    padding: 0; 
                  li {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 100px;
                    margin: calc(-100px / 3);
                    background: teal;
                    border-radius: 50%;
                    font-family: "Work Sans", sans-serif;
                    list-style: none;
                    h4 {
                        font-family: "Work Sans", sans-serif;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 50px;
                        font-weight: 700;
                        color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    h5 {
                        font-family: "Work Sans", sans-serif;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: normal;
                        color: $black;
                    }
                    &:nth-child(1) {
                        background: $redDrk;
                        ul {
                            top: 50%;
                            right: auto;
                            transform: translateY(-50%);
                            margin-left: 5rem;
                            ul {
                                top: auto;
                                transform: translateY(0);
                                margin-left: 0;
                            }
                        }
                    }
                    &:nth-child(2) {
                        background: $grayLght;
                        ul {
                            top: 50%;
                            right: auto;
                            transform: translateY(-50%);
                            width: 260px;
                            margin-left: 5rem;
                            ul {
                                top: auto;
                                transform: translateY(0);
                                width: auto;
                                margin-left: 0;
                            }
                        }
                    }
                    &:nth-child(3) {
                        background: $bluLght;
                        ul {
                            top: auto;
                            right: auto;
                            bottom: -150%;
                            transform: translateY(0);
                            margin-left: 0;
                            width: auto;
                            left: -40px;
                            ul {
                                margin-left: 0;
                                left: -22px;
                            }
                        }
                    }
                    &:nth-child(4) {
                        background: $grnDrk;
                        ul {
                            top: auto;
                            right: auto;
                            bottom: -110%;
                            transform: translateY(0);
                            margin-left: 0;
                            left: -50px;
                            ul {
                                left: -22px;
                            }
                        }
                    }
                    &:nth-child(5) {
                        background: $redLght;
                        ul {
                            top: 50%;
                            right: auto;
                            left: -230%;
                            transform: translateY(-50%);
                            width: auto;
                            ul {
                                top: auto;
                                transform: translateY(0);
                                width: auto;
                                left: -22px;
                                margin-left: 0;
                            }
                        }
                    }
                    &:nth-child(6) {
                        background: $grayDrk;
                        ul {
                            top: 50%;
                            right: auto;
                            left: -230%;
                            transform: translateY(-50%);
                            width: auto;
                            margin-left: 0;
                            ul {
                                top: auto;
                                transform: translateY(0);
                                width: auto;
                                left: -22px;
                                margin-left: 0;
                            }
                        }
                    }
                    &:nth-child(7) {
                        background: $grnLght;
                        ul {
                            top: -100%;
                            right: auto;
                            transform: translateY(0);
                            margin-left: 0;
                            left: -40px;
                            ul {
                                margin-left: 0;
                                left: -22px;
                            }
                        }
                    }
                    ul {
                        position: absolute;
                        width: auto;
                        height: auto;
                        margin: 0;
                        li {
                            font-family: "Muli", sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: normal;
                            color: $grnLght;
                            width: auto;
                            height: auto;
                            top: auto;
                            left: auto;
                            margin: 0;
                            border-radius: 0;
                            position: relative;
                            background: transparent;
                            text-align: left;
                            &:nth-child(odd) {
                                background: transparent;
                            }
                            &:nth-child(even) {
                                background: transparent;
                            }
                            ul {
                                position: relative;
                                left: -22px;
                                li {
                                    list-style: disc;
                                    text-align: left;
                                    margin: 0 0 3px;
                                    white-space: nowrap;
                                    &:nth-child(odd) {
                                        background: transparent;
                                    }
                                    &:nth-child(even) {
                                        background: transparent;
                                    }
                                    p {
                                        font-family: "Muli", sans-serif;
                                        font-weight: 400;
                                        font-size: 16px;
                                        color: $black;
                                        line-height: normal;
                                        margin: 0;
                                        padding-top: 0;
                                    }
                                }
                            }
                        }
                    }
                  }
                }
                .center {
                    width: 11.2rem;
                    height: 11.2rem;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: $bluDrk;
                    overflow: hidden;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    p {
                        font-family: "Work Sans", sans-serif;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: normal;
                        color: $white;
                        margin: auto;
                    }
                }
            }
            figure {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .btn {
            margin: 4rem auto 0;
            padding: 1rem 2.2rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            color: $white;
            font-weight: 600;
            &:hover {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
    // Features of Ecommerce
    // Benefits of E-Commerce
    .ecommerce {
        text-align: center;
        clear: both;
        padding: 8rem 0 0;
        h2 {
            margin-bottom: 7.7rem;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .ecommerce-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 1rem;
                figure {
                    margin: 0 auto 1rem;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.315rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 2.5rem;
                    margin-right: 2.5rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 230px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem;
                    }
                }
                &:last-child {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem;
                    }
                }
            } 
        }
        .btn {
            margin: 3rem auto 0;
            padding: 1rem 2.2rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            color: $white;
            font-weight: 600;
            &:hover {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
    // E-Commerce Platforms
    .ecom-plattforms {
        text-align: center;
        clear: both;
        padding: 8rem 0 0;
        h2 {
            margin-bottom: 8rem;
        }
        .plattform-item {
            text-align: center;
            padding: 0;
            margin: 0 auto;
            li {
                display: inline-block;
                margin: 0 20px 27px;
                text-align: center;
                vertical-align: top;
                figure {
                    margin: 0;
                    img {
                        max-width: 100%;
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
                        filter: grayscale(100%);
                        transition: all 0.5s ease;
                    }
                }
                &:hover {
                    figure {
                        img {
                            -webkit-filter: grayscale(0%);
                            -moz-filter: grayscale(0%);
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1450px) {
    .dig-commerce {
        background-size: auto, 45%;
    }
}
@media (max-width: 1299px) {
    .dig-commerce {
        background-size: auto, 50%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .solutions {
            padding-top: 1rem;
        }
        .whyus {
            h2 {
                margin-bottom: 4rem;
            }
        }
        .our-process {
            .process {
                .process-flow {
                    width: 65%;
                    figure {
                        width: 100%;
                        margin: 0 auto;
                        height: auto;
                        position: absolute;
                    }
                    ul.ciclegraph {
                        width: 550px;
                        height: 550px;
                        margin: 0 auto;
                        li {
                            h5 {
                                margin-right: .5rem;
                            }
                        }
                    }
                    .center {
                        width: 10rem;
                        height: 10rem;
                    }
                }
                .btn {
                    margin-top: 17rem;
                }
            }
        }
        .our-services {
            h2 {
                margin-bottom: 4rem;
            }
        }
        .ecommerce {
            .ecommerce-item {
                li {
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    &:nth-child(4) {
                        h6 {
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }  
                    }
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .dig-commerce {
        .our-services {
            padding-top: 4rem;
            p {
                font-size: 1.6rem;
            }
            .srvc-item {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.1rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
        .our-process {
            .process {
                .process-flow {
                    width: 65%;
                    figure {
                        width: 100%;
                        margin: 0 auto;
                    }
                    ul.ciclegraph {
                        width: 550px;
                        height: 550px;
                        margin: 0 auto;
                        li {
                            h5 {
                                margin-right: .5rem;
                            }
                        }
                    }
                    .center {
                        width: 10rem;
                        height: 10rem;
                    }
                }
                .btn {
                    margin-top: 17rem;
                }
            }
        }
        .benefits {
            padding-top: 2rem;
            .benefit-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.1rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .dig-commerce {
        .our-process {
            h2 {
                margin-bottom: 5.5rem;
            }
            h3 {
                font-family: "Work Sans", sans-serif;
                font-size: 1.8rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 4rem;
            }
            .slick-slider {
                .slick-list {
                    .slick-slide {
                        .process-items {
                            padding: 1.5rem 0 2.5rem;
                            h4 {
                              font-family: "Work Sans", sans-serif;
                              font-size: 40px;
                              font-weight: 700;
                              color: $white;
                              width: 115px;
                              height: 115px;
                              margin-left: auto;
                              margin-right: auto;
                              cursor: default;
                              position: relative;
                              animation: blnk 3s infinite;
                              border-radius: 50%;
                              -webkit-border-radius: 50%;
                              margin-bottom: 1.5rem;
                              display: inline-block;
                              span {
                                  font-family: "Work Sans", sans-serif;
                                  font-size: 45px;
                                  font-weight: 700;
                                  color: $white;
                                  position: relative;
                                  z-index: 1;
                                  margin: 0;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  width: 100%;
                                  height: 100%;
                                  letter-spacing: normal;
                                  clear: none;
                              }
                              &:before {
                                content: "";
                                display: block;
                                position: absolute;
                                z-index: 0;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                background-image: linear-gradient(90deg, $bluemid 0, $bluemid);
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                              }
                              &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                z-index: 0;
                                left: 15px;
                                top: 15px;
                                right: 15px;
                                bottom: 15px;
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                background-color: $bluedrkthr;
                                transition: all .3s ease;
                                transform: none;
                                width: auto;
                                height: auto;
                              }
                            }
                            h5 {
                              font-family: "Work Sans", sans-serif;
                              font-size: 22px;
                              line-height: normal;
                              font-weight: 700;
                              color:$bluedrkinr;
                              margin: 0 auto;
                              min-height: 70px;
                              display: flex;
                              align-items: center;
                            }
                            .row {
                                flex-direction: column;
                                ul {
                                    display: inline-block;
                                    margin: 0 auto;
                                    li {
                                        font-family: "Muli", sans-serif;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: normal;
                                        color: #179c83;
                                        width: auto;
                                        height: auto;
                                        top: auto;
                                        left: auto;
                                        margin: 0;
                                        border-radius: 0;
                                        position: relative;
                                        background: transparent;
                                        text-align: left;
                                        padding: 0;
                                        p {
                                            font-family: "Muli", sans-serif;
                                            font-weight: 400;
                                            font-size: 16px;
                                            color: #000;
                                            line-height: normal;
                                            margin: 0;
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(4) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #c7e9e3 0, #c7e9e3);
                                    }
                                    &:after {
                                        background-color: $grnLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(5) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e7cacb 0, #e7cacb);
                                    }
                                    &:after {
                                        background-color: $redDrk;
                                    }
                                }
                            }
                        }
                        &:nth-child(6) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e7e4ca 0, #e7e4ca);
                                    }
                                    &:after {
                                        background-color: $grayLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(7) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #cad5e7 0, #cad5e7);
                                    }
                                    &:after {
                                        background-color: $bluLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(8) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #cbe8e2 0, #cbe8e2);
                                    }
                                    &:after {
                                        background-color: $grnDrk;
                                    }
                                }
                            }
                        }
                        &:nth-child(9) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e9cdce 0, #e9cdce);
                                    }
                                    &:after {
                                        background-color: $redLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(10) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e9e7ce 0, #e9e7ce);
                                    }
                                    &:after {
                                        background-color: $grayDrk;
                                    }
                                }
                            }
                        }
                    }
                }
                .slick-dots {
                  bottom: auto;
                  position: relative;
                  margin-top: 0;
                  li {
                    width: 20px;
                    height:  20px;
                    padding: 0;
                    margin: 0;
                    button {
                      width: 20px;
                      height:  20px;
                      padding: 0;
                      margin: 0;
                      &:before {
                        opacity: 1;
                        font-size: 12px;
                        line-height: 20px;
                        width: 20px;
                        height: 20px;
                        color: $gray-450;
                      }          
                    }
                    &.slick-active {
                      button {
                        &:before {
                          opacity: 1;
                          color: $bluedrk;
                        }
                      }
                    }
                  }
                }
            }
            .btn {
                margin-top: 5rem;
            }
        }
    }
}
@media (max-width: 991px) {
    .inr-page {
        &.digital-commerce {
            padding-top: 4rem;
        }
    }
    .dig-commerce {
        background-size: auto, 75%;
        .solutions {
            padding-top: 1rem;
            h2 {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }
        }
        .our-services {
            padding-top: 3rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            .srvc-item {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0;
                h6 {
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
                figure {
                    margin-bottom: 1.5rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
                &:first-child,
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(8) {
                    h6 {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                &:nth-child(2) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
                p {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding-top: 1rem;
                    letter-spacing: -.01rem;
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 50%;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1.5rem;
                    }
                    h6 {
                        font-size: 1.3rem;
                        margin-left: .5rem;
                        margin-right: .5rem;
                        margin-bottom: .5rem;
                        color: $bluedrkinr;
                        line-height: normal;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:last-child {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
        .our-process {
            padding-top: 3rem;
            h2 {
                margin-bottom: 7rem;
            }
            .process {
                margin-top: 0;
                margin-bottom: 0;
            }
            .process-flow {
                display: none;
                visibility: hidden;
            }
            .slick-slider {
                .slick-list {
                    .slick-slide {
                        .process-items {
                            padding: 1.5rem 0 2.5rem;
                        }
                        &:nth-child(1) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #c7e9e3 0, #c7e9e3);
                                    }
                                    &:after {
                                        background-color: $grnLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(2) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e7cacb 0, #e7cacb);
                                    }
                                    &:after {
                                        background-color: $redDrk;
                                    }
                                }
                            }
                        }
                        &:nth-child(3) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e7e4ca 0, #e7e4ca);
                                    }
                                    &:after {
                                        background-color: $grayLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(4) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #cad5e7 0, #cad5e7);
                                    }
                                    &:after {
                                        background-color: $bluLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(5) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #cbe8e2 0, #cbe8e2);
                                    }
                                    &:after {
                                        background-color: $grnDrk;
                                    }
                                }
                            }
                        }
                        &:nth-child(6) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e9cdce 0, #e9cdce);
                                    }
                                    &:after {
                                        background-color: $redLght;
                                    }
                                }
                            }
                        }
                        &:nth-child(7) {
                            .process-items {
                                h4 {
                                    &:before {
                                        background-image: linear-gradient(90deg, #e9e7ce 0, #e9e7ce);
                                    }
                                    &:after {
                                        background-color: $grayDrk;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .ecommerce {
            padding-top: 6rem;
            h2 {
                margin-bottom: 6rem;
                padding: 0;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .ecommerce-item {
                margin-bottom: 2rem;
                li {
                    width: 50%;
                    margin-bottom: 0rem;
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 2.5rem;
                        margin-right: 2.5rem;
                        margin-bottom: .5rem;
                        color: $bluedrkinr;
                        line-height: normal;
                    }
                    figure {
                        margin-bottom: 1.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:first-child,
                    &:last-child,
                    &:nth-child(2),
                    &:nth-child(4)  {
                        h6 {
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .btn {
                margin-top: 0;
            }
        }
        .ecom-plattforms {
            padding-top: 6rem;
            h2 {
                margin-bottom: 6rem;
                padding: 0 8rem;
            }
            .plattform-item {
                li {
                    width: 40%;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .inr-page {
        &.digital-commerce {
            padding-top: 1rem;
        }
    }
    .dig-commerce {
        background-size: contain;
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .solutions {
            padding-top: 0rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
            }
        }
        .our-services {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 5rem;
            }
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 2rem;
                padding-top: 1rem;
                margin-bottom: 4rem;
                letter-spacing: -.05rem;
            }
            .srvc-item {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 0rem;
                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h6 {
                    font-size: 1.3rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                }
                p {
                    font-size: 1.2rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    max-width: 100%;
                    border-top: 1px solid #ececec;
                    padding-top: 2rem;
                    margin-top: .5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        p {
                            font-size: 1.02rem;
                            line-height: 1.5rem;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        height: auto;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        transform: none;
                        display: none;
                        visibility: hidden;
                    }
                }
                &:first-child {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        border-top: none;
                        padding-top: 0;
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                }
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            h2 {
                margin-bottom: 5rem;
            }
            p {
                margin-bottom: 3.5rem;
                font-size: 1.3rem;
                line-height: 2rem;
                letter-spacing: -.01rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 3.5rem;
                        margin-right: 3.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: .5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            p {
                                font-size: 1.02rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            padding-top: 0;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem; 
                        }
                    }
                } 
            }
            .btn {
                margin-top: 3rem;
            }
        }
        .our-process {
            padding-top: 2rem;
            h2 {
                margin-bottom: 5rem;
            }
            h3 {
                margin-bottom: 2.5rem;
            }
            figure {
                margin-bottom: 2.5rem;
            }
            .process-flow {
                display: none;
                visibility: hidden;
            }
            .process {
                margin-top: 0;
                margin-bottom: 2rem;
            }
            .slick-slider {
                .slick-list {
                    .slick-slide {
                        .process-items {
                            padding-bottom: 0rem;
                        }
                    }
                }
            }
            .btn {
                margin-top: 3rem;
            }
        }
        .ecommerce {
            padding-top: 5rem;
            h2 {
                font-size: 2rem;
                letter-spacing: -.1rem;
                margin-bottom: 4.5rem;
                padding-left: 0;
                padding-right: 0;
            }
            p {
                margin-bottom: 3.5rem;
                font-size: 1.3rem;
                line-height: 2rem;
                letter-spacing: -.01rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .ecommerce-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: .5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            p {
                                font-size: 1.02rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            padding-top: 0;
                        }
                    }
                    &:nth-child(2) {
                        h6 {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                    &:first-child,
                    &:last-child,
                    &:nth-child(4) {
                        h6 {
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                    }
                    &:nth-child(6) {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                } 
            }
            .btn {
                margin-top: 3rem;
            }
        }
        .ecom-plattforms {
            padding-top: 5rem;
            h2 {
                margin-bottom: 6rem;
                padding-left: 0;
                padding-right: 0;
            }
            .plattform-item {
                li {
                    width: 38%;
                }
            }
        }
    }
}
@media (max-width: 499px) {
}
@media (max-width: 339px) {
    .dig-commerce {
        .our-services {
            .srvc-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}