// PAGE BG
.dig-marketing {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/dig-marketing/bg-dm.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.inr-page {
    &.digital-marketing {
        padding-top: 2.7rem;
    }
}

.dig-marketing {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
    // Company
    .company {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 2.5rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
        }
    }
    // Services
    .services {
        text-align: center;
        clear: both;
        padding: 4rem 0 0;
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 5.5rem;
            color: $gray-900;
            font-weight: 400;
        }
        .srvc-item {
            margin-bottom: 1rem;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            figure {
                margin: 0 auto 1rem;
                width: 66px;
                height: 66px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.32rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 1rem;
                margin-right: 1rem;
                color: $black;
            }
            p {
                font-size: 1.063rem;
                line-height: 1.5rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 0;
                padding-top: 1.5rem;
                padding-left: .5rem;
                padding-right: .5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 200px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 4.5rem 0 0;
        text-align: center;
        .row {
            flex-direction: column;
        }
        h2 {
            margin-bottom: 5.15rem;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 1rem;
                figure {
                    margin: 0 auto .6rem;
                    width: 70px;
                    height: 70px;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.2rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 1rem;
                    margin-right: 1rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 220px;
                    max-width: 95%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:first-child {
                    h6 {
                        margin-left: 3.5rem;
                        margin-right: 3.5rem; 
                    }
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem; 
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem; 
                    }
                }
                &:nth-child(7),
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem; 
                    }
                }
            } 
        }
    }
    // Introducing-TechShu
    .intro_techshu {
        text-align: center;
        clear: both;
        padding: 1.5rem 0 0;
        text-align: center;
        h2 {
            span {
                display: inline-block;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                margin-bottom: 0;
                letter-spacing: normal;
                clear: none;
                color: $bluedrkinr;
            }
        }
        h4 {
            font-size: 1.69rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $black;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $black;
            margin-bottom: 5.1rem;
        }
        .col-md-4 {
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .col-md-8 {
            p {
                text-align: left;
                margin-bottom: 0;
            }
        }
        .btn {
            color: $white;
            font-family: 'Muli', sans-serif;
            font-size: .89rem;
            font-weight: 700;
            margin-top: 4.7rem;
            border-radius: 10rem;
            padding: .9rem 2.6rem;
            &:hover,
            &:focus {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
}
@media (max-width: 1450px) {
    .dig-marketing {
        background-size: auto, 45%;
    }
}
@media (max-width: 1299px) {
    .dig-marketing {
        background-size: auto, 55%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .company {
            padding-top: 0;
        }
    }
}
@media (max-width: 1050px) {
    .dig-marketing {
        .services {
            padding-top: 4rem;
            p {
                font-size: 1.6rem;
            }
            .srvc-item {
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 4rem;
                        margin-right: 4rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.1rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
        .intro_techshu {
            p {
                margin-bottom: 3rem;
            }
            .col-md-8 {
                p {
                    font-size: 1.3rem;
                }
            }
            .btn {
                margin-top: 3.5rem;
            }
        }
    }
}
@media (max-width: 991px) {
    .dig-marketing {
        background-size: auto, 75%;
        .company {
            padding-top: 3rem;
            h2 {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }
        }
        .services {
            padding-top: 2rem;
            .srvc-item {
                margin-bottom: 0rem;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                h6 {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
                &:first-child,
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem;
                    }
                }
                p {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding-top: 1rem;
                    letter-spacing: -.01rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
        .whyus {
            padding-top: 1rem;
            h2 {
                margin-bottom: 4rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 2rem;
                li {
                    width: 50%;
                    margin-bottom: 0rem;
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                    h6 {
                        font-size: 1.3rem;
                        margin-bottom: .5rem;
                        color: $bluedrkinr;
                        line-height: normal;
                        margin-left: 0;
                        margin-right: 0;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .intro_techshu {
            h4 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.3rem;
                margin-bottom: 2.5rem;
                letter-spacing: -.02rem;
            }
            .col-md-8 {
                p {
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    letter-spacing: normal;
                }
            }
            .btn {
                margin-top: 2.5rem;
            }
        }
    }
}
@media (max-width: 767px) {    
    .dig-marketing {
        background-position: 0 0, 100% 15px;
        background-size: contain;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .company {
            padding-top: 1rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
            }
        }
        .services {
            padding-top: 2.5rem;
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
                padding-top: 1rem;
                margin-bottom: 4rem;
                letter-spacing: -.05rem;
            }
            .srvc-item {
                margin-bottom: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                h6 {
                    font-size: 1.3rem;
                    margin-left: 4rem;
                    margin-right: 4rem;
                }
                p {
                    font-size: 1.2rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    max-width: 100%;
                    border-top: 1px solid #ececec;
                    padding-top: 2rem;
                    margin-top: 1rem;
                    margin-bottom: .5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        p {
                            font-size: 1.02rem;
                            line-height: 1.5rem;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        height: auto;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        transform: none;
                        display: none;
                        visibility: hidden;
                    }
                }
                &:nth-child(7),
                &:nth-child(8) {
                    h6 {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                &:first-child {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        border-top: none;
                        padding-top: 0;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            h2 {
                margin-bottom: 3.35rem;
            }
            p {
                margin-bottom: 3.5rem;
                font-size: 1.3rem;
                line-height: 2rem;
                letter-spacing: -.01rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.4rem;
                        margin-left: .7rem;
                        margin-right: .7rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: .5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            p {
                                font-size: 1.02rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                    &:first-child,
                    &:nth-child(4) {
                        h6 {
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            padding-top: 0;
                        }
                    }
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem;
                        }
                    }
                } 
            }
        }
        .intro_techshu {
            text-align: center;
            clear: both;
            padding: 1.5rem 0 0;
            text-align: center;
            h2 {
                margin-bottom: 4.5rem;
                span {
                    display: block;
                    clear: both;
                    line-height: 1.5rem;
                    font-weight: 500;
                }
            }
            h4 {
                font-size: 1.5rem;
                line-height: 1.8rem;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                margin-bottom: 3rem;
            }
            .col-md-4 {
                figure {
                    margin-bottom: 2rem;
                }
            }
            .col-md-8 {
                p {
                    text-align: center;
                    font-size: 1.1rem;
                    line-height: 1.5rem;
                }
            }
            .btn {
                margin-top: 3rem;
            }
        }
    }
}
@media (max-width: 499px) {
}
@media (max-width: 339px) {
    .dig-marketing {
        .services {
            .srvc-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}