// PAGE BG
.ebook {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/ebook/bg-eb.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
    .ebooks {
        padding-top: 1.9rem;
        text-align: center;
    }
    &.single-ebook {
        background-image: none;
        .inr-page {
            padding-top: 0;
        }
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 1s ease-in;
}
.load-more {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    border: none;
    padding: 1rem 2.2rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    outline: none;
    z-index: 1;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    background-color: transparent;
    border: none;
}
.load-more:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $secondary;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
.load-more:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bluedrkinr;
    border-radius: 10rem;
    z-index: -2;
}
.load-more:hover:before,
.load-more:focus:before {
    width: 100%;
}
.load-more:hover,
.load-more:focus {
    color: $black;
    outline: none;
}
.ebook {
    display: block;
    .header-wrapper {
        height: auto;
        -webkit-transition: none;
        transition: none;
        .header {
            .header_inner {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                nav.navbar {
                    .btn-link {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        text-transform: none;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: $gray-550;
                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                } 
            }
        }
        &.menu-clicked {
            .header {
                .header_inner {
                    nav.navbar {
                        .btn-link {
                            color: $blue-lw;							
                            &:hover, &:focus {
                                color: $blue-lw;
                            }
                        }
                    }
                }
            }
        }
    }
    // HEADER BANNER
    .hdBan_inner {
        padding-bottom: 3.3rem;
        .hdBan_inner__teaser {
            h1 {
                font-size: 4.06rem;
                line-height: 4.18rem;
                font-weight: 300;
                color: $bluedrk;
                text-align: left;
                b {
                    font-size: 2.32rem;
                    margin-bottom: 1rem;
                    line-height: 2.95rem;
                }
            }
        }
    }
    // Ebook Category
    .category-list {
        text-align: center;
        clear: both;
        .col-md-5 {
            margin-left: auto;
            margin-right: auto;
        }
        .catg-row {
            display: flex;
            margin: 1.6rem auto 3.8rem;
            .button {
                position: relative;
                font-family: 'Muli', sans-serif;
                font-size: 1.25rem;
                line-height: normal;
                font-weight: 700;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                border-radius: 2rem;
                -webkit-border-radius: 2rem;
                padding: .3rem 2rem;
                margin: 0 auto;
                overflow: hidden;
                box-shadow: none;
                border: 1px solid $gray-290;
                &:hover,
                &:focus {
                    color: $bluedrkinr;
                    border-color: $bluedrkinr;
                }
                &.link {
                    color: $gray-525;
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;
                    margin-left: 1.05rem;
                    margin-right: 1.05rem;
                }
                &.active {
                    box-shadow: 0 0 0 0.05rem $bluedrkinr;
                    color: $bluedrkinr;
                    border-color: $bluedrkinr;
                }
            }
            .catgform {
                .form-group {
                    margin-bottom: 0;
                    position: relative;
                    select {
                        position: relative;
                        cursor: pointer;
                        font-family: 'Muli', sans-serif;
                        font-size: 1.25rem;
                        line-height: normal;
                        font-weight: 700;
                        color: $gray-525;
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s;
                        border-radius: 2rem;
                        -webkit-border-radius: 2rem;
                        padding: .23rem .3rem .36rem .9rem;
                        margin: 0 auto;
                        overflow: hidden;
                        outline: none;
                        border: 1px solid $gray-290;
                        box-shadow: 0 0 0 0.05rem $gray-290;
                        transition: box-shadow ease-in-out .25s,border-color ease-in-out .25s;
                        -webkit-appearance: none;
                        appearance: none;
                        background: transparent;
                        &::-ms-expand {
                            display: none;
                        }
                        &:hover,
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            color: $bluedrkinr;
                            border-color: $bluedrkinr;
					        box-shadow: 0 0 0 0.05rem $bluedrkinr;
                        }
                    }
                    &:after {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 10px;
                        height: 10px;
                        top: 50%;
                        right: 21px;
                        margin-top: -2px;
                        border-bottom: 2px solid $gray-290;
                        border-right: 2px solid $gray-290;
                        transform: rotate(45deg) translateY(-50%);
<<<<<<< HEAD
=======
                        transition: all .3s ease-in-out;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transform-origin: 50% 0;
                    }
                }
                &:focus-within {
                    .form-group {
                        &:after {
                            margin-top: 2px;
                            transform: rotate(-135deg) translateY(-50%);
                            border-color: $bluedrkinr;
                        }
                    }
                }
                &:hover {
                    .form-group {
                        select {
                            color: $bluedrkinr;
                        }
                        &:after {
                            border-color: $bluedrkinr;
                        }
                    }
                }
            }
        }
    }
    // Ebook List
    .ebook-list {
        clear: both;
        margin: 5.55rem 0 6rem;
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        .ebook-wrapper {
            clear: both;
            overflow: hidden;
            .resource-ebook {
                margin-top: 15px;
                margin-bottom: 15px;
                float: left;
                .resource-ebook_box {
                    background-color: $white;
                    padding: 0px;
                    // box-shadow: 0px 0px 15px $gray-190;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    box-sizing: border-box;
                    animation-delay: 0.3s;
                    border: 2px solid $gray-160;
                    display: flex;
                    align-items: center;
                    min-height: 210px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    cursor: pointer;
                    figure {
                        width: 100%;
                        text-align: center;
                        padding: 0;
                        margin: 0 auto;
                        border-radius: 0px;
                        overflow: visible;
                        position: relative;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        img {
                            max-width: 100%;
                            border-radius: 0px;
                            vertical-align: middle;
                            border-style: none;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            // -webkit-transform: scale(1) translateX(0);
                            // -ms-transform: scale(1) translateX(0);
                            // transform: scale(1) translateX(0);
                        }
                    }
                    &:hover {
                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                        outline: 0px;
                        figure {
                            img {                                
                                -webkit-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
    
    // Ebook Content
    .ebooks {
        .ebook-content {
            clear: both;
            margin: 2rem 0 6.23rem;
            position: relative;
            padding-bottom: 3.95rem;
            border-bottom: 1px solid $gray-150;
            .col-md-10,
            .col-md-9 {
                margin-left: auto;
                margin-right: auto;
            }
            h2 {
                font-size: 4.06rem;
                line-height: 4.15rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2.45rem;
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            h3 {
                font-family: "Work Sans", sans-serif;
                font-size: 2.179rem;
                line-height: 2.95rem;
                color: $gray-900;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.95rem;
            }
            h4 {
                font-family: "Work Sans", sans-serif;
                font-size: 1.9rem;
                line-height: 2rem;
                color: $gray-900;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.95rem;
            }
            p {
                font-size: 1.53rem;
                line-height: 2.05rem;
            }
        }
    }
    
    #loadng {
        width: 4rem;
        height: 4rem;
        margin: 1.5rem auto;
        position: relative;
        text-align: center;
      #loadng-wrap {
        position: absolute;
        background: transparent;
        border-radius: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
        width: 4rem;
        height: 4rem;
        border: 0.0625rem $primary solid;
        border-top: 0.25rem $primary solid;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
      }
      img {
        max-width: 100%;
        display: inline-block;
        margin: 0 auto;
      }
    }
    &.single-ebook {
        .ebook-content {
            clear: both;
            margin: 3rem 0 6.23rem;
            position: relative;
            padding-bottom: 3.95rem;
            border-bottom: 1px solid $gray-150;
            .col-md-10,
            .col-md-9 {
                margin-left: auto;
                margin-right: auto;
            }
            h2 {
                font-size: 3.5rem;
                line-height: 4rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2.45rem;
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            h3 {
                font-family: "Work Sans", sans-serif;
                font-size: 2.179rem;
                line-height: 2.95rem;
                color: $gray-900;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: .8rem;
            }
            h4 {
                font-family: "Work Sans", sans-serif;
                font-size: 1.9rem;
                line-height: 2rem;
                color: $gray-900;
                font-weight: 300;
                margin-bottom: .8rem;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                font-size: 1.53rem;
                line-height: 2.05rem;
                text-align: center;
                margin-bottom: 3rem;
            }
            .col-md-9 {
                text-align: left;
            }
            ul {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .ebook-list {
            margin-top: 0;
        }
    }
}
@media (min-width: 768px) {
}
@media (max-width: 1299px) {
    .ebook {
        background: 
        url(/static/images/bg/bg-pg-lt.png) 0 0/auto no-repeat, 
        url(/static/images/bg/ebook/bg-eb.png) 100% 0/70% no-repeat;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .ebook-list {
            margin-bottom: 4.5rem;
            margin-top: 2.5rem;
           h2 {
                margin-bottom: 4rem;
                font-size: 2.3rem;
           }
           .category-list {
                .col-md-5 {
                    max-width: 100%;
                }
            }
           .ebook-wrapper {
                .resource-ebook {
                    .resource-ebook_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-ebook {
            .ebooks {
                padding-top: 0;
                .ebook-content {
                    margin-bottom: 4rem;
                    padding-bottom: 2rem;
                    h2 {
                        font-size: 3.5rem;
                        line-height: 3.15rem;
                        margin-bottom: 1.5rem;
                    }
                    h4 {
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        margin-bottom: 1.5rem;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .ebook {
        .ebook-list {
            h2 {
                margin-bottom: 3rem;
            }
           .ebook-wrapper {
                .resource-ebook {
                    .resource-ebook_box {
                        min-height: 180px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .ebook {
        background-position: 0 0, 100% 15%;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        em {
                            font-size: 2.55rem;
                            line-height: 3rem; 
                        }
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .ebook-list {
            margin-bottom: 4.5rem;
            .category-list {
                .catg-row {
                    margin-bottom: 2rem;
                }
            }
            .ebook-wrapper {
                .resource-ebook {
                    width: 50%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .resource-ebook_box {
                        figure {
                            width: 100%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-ebook {
            .ebooks {
                .hdBan_inner {
                    .hdBan_inner__teaser {
                        .successstory-ban {
                            .slick-slider {
                                .slick-list {
                                    .successstory-items {
                                        .col-md-6 {
                                            &:last-child {
                                                .story-banr {
                                                    max-width: 600px;
                                                    span {
                                                        max-width: 520px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .ebook {
        .ebook-list {
            margin-top: 5rem;
            h2 {
                font-size: 2rem;
            }
            .category-list {
                .catg-row {
                    .button {
                        font-size: 1rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: 1rem;
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .ebook-wrapper {
                .resource-ebook {
                    width: 100%;
                }
            }
        }
        &.single-ebook {
            .ebooks {
                .ebook-content {
                    padding-bottom: 2.5rem;
                    h2 {
                        font-size: 2.5rem;
                        line-height: normal;
                    }
                    h4 {
                        font-size: 1.7rem;
                        line-height: 2rem;
                        margin-bottom: 1.9rem;
                    }
                    p {
                        font-size: 1.25rem;
                        line-height: 1.65rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 339px) {
    .ebook {
        .ebook-list {
            margin-top: 8rem;
            .category-list {
                h2 {
                    font-size: 2rem;
                }
                .catg-row {
                    .button {
                        font-size: .8rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}