// PAGE BG
.entp-mobility {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/entp-mobility/bg-em.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.inr-page {
    &.enterprise-mobility {
        padding-top: 2.7rem;
    }
}

// TECHNOLOGY PARTNER
.entp-mobility {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                    &:first-of-type {
                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    // End-to-End Outcome Focused Solutions
    .esolution {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 2.5rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
        }
    }
    // Our Services
    .our-services {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        h2 {
            margin-bottom: 5.33rem;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 5.5rem;
            color: $gray-900;
            font-weight: 400;
        }
        .srvc-item {
            margin-bottom: 2rem;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            figure {
                margin: 0 auto 1rem;
                width: 66px;
                height: 66px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.32rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
                color: $black;
            }
            p {
                font-size: 1.063rem;
                line-height: 1.5rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 0;
                padding-top: 1.5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 220px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
            &:first-child {
                h6 {
                    margin-left: 2.5rem;
                    margin-right: 2.5rem;
                }
            }
            &:nth-child(6) {
                h6 {
                    margin-left: 1.3rem;
                    margin-right: 1.3rem;
                } 
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 4.5rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 5.33rem;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 2rem;
                figure {
                    margin: 0 auto .6rem;
                    width: 70px;
                    height: 70px;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.312rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 3rem;
                    margin-right: 3rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 220px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:first-child,
                &:last-child {
                    h6 {
                        margin-left: 6rem;
                        margin-right: 6rem; 
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 4rem;
                        margin-right: 4rem; 
                    }
                }
            } 
        }
    }
    // Our Process
    .our-process {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        h2 {
            margin-bottom: 8rem;
        }
        h4 {
            font-family: 'Muli', sans-serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25px;
            margin: 0;
            padding: 0 2rem;
        }
        figure {
            margin-bottom: 1.6rem;
        }
        .process-item {
            position: relative;
            &:after {
                display: table;
                position: absolute;
                content: '';
            }
            &:nth-child(1) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-01.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 132px;
                    height: 165px;
                    right: -6.5rem;
                    top: 3rem;
                }  
            }
            &:nth-child(2) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-02.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 93px;
                    height: 124px;
                    right: -4.5rem;
                    bottom: 11rem;
                }  
            }
            &:nth-child(3) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-03.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 102px;
                    height: 164px;
                    right: -5.8rem;
                    top: 3rem;
                }  
            }
            &:nth-child(5) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-04.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 132px;
                    height: 141px;
                    right: -6.5rem;
                    top: 5.5rem;
                }  
            }
            &:nth-child(6) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-05.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 63px;
                    height: 134px;
                    right: -1.6rem;
                    top: 7.8rem;
                }  
            }
            &:nth-child(7) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-06.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 106px;
                    height: 89px;
                    right: -2.5rem;
                    top: 16rem;
                }  
            }
            &:nth-child(8) {
                &:after {
                    background-image: url(/static/images/process/entp-mobility/line-07.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 2px;
                    height: 200px;
                    right: 8.5rem;
                    top: 0.7rem;
                }  
            }
        }
        .col-md-3 {
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8) {
                padding-top: 220px;
            }
            &:nth-child(7) {
                h4 {
                    padding-left: 1rem; 
                    padding-right: 1rem;
                }
            }
            &:nth-child(3),
            &:nth-child(8) {
                h4 {
                    padding-left: 4rem; 
                    padding-right: 4rem;
                }
            }
        }
    }
    // Benefits of Enterprise Mobility
    .benefits {
        text-align: center;
        clear: both;
        padding: 8rem 0 0;
        h2 {
            margin-bottom: 7.7rem;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.68rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .benefit-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 0rem;
                figure {
                    margin: 0 auto .6rem;
                    width: 70px;
                    height: 70px;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.312rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 3rem;
                    margin-right: 3rem; 
                }
                .awards-action {
                    clear: both;
                    overflow: hidden;
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 auto;
                        color: $bluedrkinr;
                        cursor: pointer;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    box-sizing: border-box;
                    margin: 0;
                    min-height: 210px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    img {
                        vertical-align: top;
                        max-width: 100%
                    }
                    div {
                        box-sizing: border-box;
                        background-color: rgba(255,255,255,0.97);
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        padding: 15px;
                        overflow: hidden;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        position: absolute;
                        text-align:center;
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                        border: none;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                        h3, p {
                            margin: 0;
                            padding: 0
                        }
                        p {
                            font-family: 'Muli', sans-serif;
                            font-weight: 600;
                            color: $gray-900;
                            font-size: 1.1rem;
                            line-height: 1.5rem;
                            padding: 0;
                            margin-bottom: 0;
                            position: relative;
                            cursor: default;
                        }
                        a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            cursor: pointer;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        z-index: 3;
                        border-width: 0;
                        * {
                            opacity: 0
                        }
                        a {
                            z-index: 3
                        }
                    }
                    &:hover {     
                        div, * {
                            opacity: 1;
                            -webkit-transition-delay: .15s;
                            transition-delay: .15s;
                            transition: all 0.4s ease-in;
                            -webkit-transition: all 0.4s ease-in;
                        }
                    }
                    .awards-action {
                        opacity: 1;
                        position: relative;
                        padding: 0;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        figure,
                        img,
                        h4,
                        a {
                            opacity: 1;
                            position: relative;
                            margin: 0 auto;
                        }
                        img {
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                        }
                    }
                    .awards-action {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 50%;
                        right: auto;
                        top: auto;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem;
                    }
                }
                &:last-child {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem;
                    }
                }
            } 
        }
    }
    .consultants {
        padding-top: 5rem;
    }
}
@media (max-width: 1450px) {
    .entp-mobility {
        background-size: auto, 43%;
    }
}
@media (max-width: 1299px) {
    .entp-mobility {
        background-size: auto, 62%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .esolution {
            padding-top: 2rem;
        }
        .our-services {
            h2 {
                margin-bottom: 4rem;
            }
            .srvc-item {
                margin-bottom: 0;
                &:first-child {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
                &:nth-child(6),
                &:nth-child(8) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
                h6 {
                    font-size: 1.28rem;
                    margin-left: .5rem;
                    margin-right: .5rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    max-width: 100%;
                }
            }
        }
        .consultants {
            padding-top: 5rem;
        }
    }
}
@media (max-width: 1050px) {
    .entp-mobility {
        .our-services {
            padding-top: 4rem;
            p {
                font-size: 1.6rem;
            }
            .srvc-item {
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-size: .97rem;
                    line-height: 1.1rem;
                }
            }
        }
        .whyus {
            padding-top: 4rem;
            h2 {
                margin-bottom: 4rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    margin-bottom: 0;
                    h6 {
                        font-size: 1.26rem;
                        margin-left: 2.7rem;
                        margin-right: 2.7rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 4.5rem;
                            margin-right: 4.5rem;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        max-width: 100%;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1rem;
                        line-height: 1.3rem;
                    }
                }
            }
        }
        .our-process {
            padding-top: 5rem;
            h2 {
                margin-bottom: 6rem;
            }
        }
        .benefits {
            padding-top: 6rem;
            h2 {
                margin-bottom: 4rem;
            }
            .benefit-item {
                margin-bottom: 1.5rem;
                li {
                    margin-bottom: 0;
                    h6 {
                        font-size: 1.28rem;
                        margin-left: 2.7rem;
                        margin-right: 2.7rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: 190px;
                        max-width: 100%;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1rem;
                        line-height: 1.3rem;
                    }
                }
            }
        }
        .success-stoty {
            .btn {
                margin-top:0;
            }
        }
    }
}
@media (max-width: 991px) {
    .entp-mobility {
        background-size: auto, 65%;
        .esolution {
            padding-top: 0;
            h2 {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }
        }
        .our-services {
            padding-top: 3rem;
            h2 {
                margin-bottom: 3.5rem;
            }
            .srvc-item {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                h6 {
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
                &:first-child,
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(8) {
                    h6 {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                p {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding-top: 1rem;
                    letter-spacing: -.01rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
        .whyus {
            padding-top: 3rem;
            h2 {
                margin-bottom: 3.5rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 2rem;
                li {
                    width: 50%;
                    margin-bottom: 0rem;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        margin-bottom: .5rem;
                        color: $bluedrkinr;
                        line-height: normal;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 2rem;
                            margin-right: 2rem; 
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem; 
                        }
                    }
                    &:last-child {
                        h6 {
                            margin-left: 2.5rem;
                            margin-right: 2.5rem;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .our-process {
            padding-top: 3rem;
            h2 {
                margin-bottom: 7rem;
            }
            .process-item {
                figure {
                    position: relative;
                    z-index: 1;
                }
                h4 {
                    font-size: 18px;
                    line-height: normal;
                    padding: 0 1rem;
                    letter-spacing: -.05rem;
                }
                &:nth-child(2) {
                    &:after {
                        right: -3rem;
                    }
                }
                &:nth-child(6) {
                    &:after {
                        right: -1.3em;
                        top: 6rem;
                    }
                }
                &:nth-child(7) {
                    figure {
                        margin-bottom: .7rem;
                    }
                    &:after {
                        right: -0.5rem;
                        top: 14.5rem;
                    }
                }
                &:nth-child(3),
                &:nth-child(8) {
                    h4 {
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                }
            }
        }
        .benefits {
            padding-top: 4.5rem;
            h2 {
                margin-bottom: 6rem;
                padding: 0 8rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .benefit-item {
                margin-bottom: 1rem;
                li {
                    width: 50%;
                    margin-bottom: 0;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    h6 {
                        font-size: 1.3rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        margin-bottom: .5rem;
                        color: $bluedrkinr;
                        line-height: normal;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                            left: 0px;
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            p {
                                font-size: 1rem;
                                line-height: normal;
                            }
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .consultants {
            padding-top: 3rem;
        }
        .success-stoty {
            .btn {
                margin-top:3rem;
            }
        }
    }
}
@media (max-width: 767px) {
    .entp-mobility {
        background-position: 0 0, 100% 15px;
        background-size: auto, 100%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .esolution {
            padding-top: 0rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
            }
        }
        .our-services {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 3.5rem;
            }
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            p {
                font-size: 1.5rem;
                line-height: 2rem;
                padding-top: 1rem;
                margin-bottom: 4rem;
                letter-spacing: -.05rem;
            }
            .srvc-item {
                margin-bottom: 0rem;
                padding-left: 0;
                padding-right: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h6 {
                    font-size: 1.4rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                p {
                    font-size: 1.2rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    max-width: 100%;
                    min-height: initial;
                    border-top: 1px solid #ececec;
                    padding-top: 2rem;
                    margin-top: .5rem;
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-size: 1.02rem;
                    line-height: 1.5rem;
                }
                &:first-child {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        border-top: none;
                        margin-top: 0;
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 0rem;
                        margin-right: 0rem;
                    }
                }
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 4rem;
            h2 {
                margin-bottom: 5rem;
            }
            p {
                margin-bottom: 3.5rem;
                font-size: 1.3rem;
                line-height: 2rem;
                letter-spacing: -.01rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.4rem;
                        margin-left: 3.5rem;
                        margin-right: 3.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        max-width: 100%;
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: .5rem;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.02rem;
                        line-height: 1.5rem;
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            margin-top: 0;
                            padding-top: 0;
                        }  
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem; 
                        }
                    }
                } 
            }
        }
        .our-process {
            padding-top: 4rem;
            h2 {
                margin-bottom: 7rem;
            }
            figure {
                margin-bottom: 2.5rem;
            }
            .process-item {
                h4 {
                    font-size: 1.8rem;
                    line-height: normal;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    padding-top: 0;
                    margin-bottom: 5rem;
                    &:after {
                        display: none;
                        visibility: hidden;
                    }
                }
                &:nth-child(7) {
                    figure {
                        margin-bottom: 2.5rem;
                    }
                }
            }
        }
        .benefits {
            padding-top: 2rem;
            h2 {
                font-size: 2rem;
                letter-spacing: -.1rem;
                margin-bottom: 4rem;
                padding-left: 0;
                padding-right: 0;
            }
            p {
                margin-bottom: 3.5rem;
                font-size: 1.3rem;
                line-height: 2rem;
                letter-spacing: -.01rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .benefit-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.4rem;
                        margin-left: .7rem;
                        margin-right: .7rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        max-width: 100%;
                        min-height: initial;
                        border-top: 1px solid #ececec;
                        padding-top: 2rem;
                        margin-top: .5rem;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.02rem;
                        line-height: 1.5rem;
                    }
                    &:first-child {
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            border-top: none;
                            margin-top: 0;
                        }  
                    }
                    &:first-child,
                    &:nth-child(4) {
                        h6 {
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                    }
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem;
                        }
                    }
                } 
            }
        }
    }
}
@media (max-width: 499px) {
}
@media (max-width: 339px) {
    .entp-mobility {
        .our-services {
            .srvc-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}