// PAGE BG
.enterprise {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/enterprise/bg-entrprs.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
// Leverage Tech Partnerships
.enterprise {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 4.06rem;
                line-height: 4.18rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.32rem;
                    margin-bottom: 1rem;
                    line-height: 2.95rem;
                }
            }
        }
    }
    // Leverage Tech Partnerships to Extend Your Digital 
    .tech_expertise {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 36px;
            line-height: 45px;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.45rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            span {
                color: $bluedrkinr;
                font-weight: 700;
                strong {
                    font-weight: 800;
                }
            }
        }
        .col-md-12 {
            margin-left: auto;
            margin-right: auto;
        }
    }
    // Set Your Brand Apart. Achieve Your Goals
    .tech-solution {
        text-align: center;
        clear: both;
        padding: 5.2rem 0 0;
        h2 {
            margin-bottom: 6rem;
        }
        h5 {
            font-size: 1.63rem;
            line-height: 2.3rem;
            color: $black;
            padding-top: .7rem;
            text-align: left;
        }
        .sol-item {
            margin-bottom: 3rem;
            figure {
                margin: 0 auto 1rem;
                width: 83px;
                height: 83px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.188rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: .5rem;
                margin-right: .5rem;
            }
            &:nth-child(1) {
                h6 {
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
            }
            &:nth-child(3) {
                h6 {
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
            }
            &:nth-child(4) {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                margin: 0;
                min-height: 150px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0)
            }
            [class*=' hvr-'] img,
            [class^=hvr-] img {
                vertical-align: top;
                max-width: 100%
            }
            [class*=' hvr-'] div,
            [class^=hvr-] div {
                background-color: $blue-lows;
                padding: 10px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                border: 1px solid rgba(0, 0, 0, .1)
            }
            [class*=' hvr-'] div h3,
            [class*=' hvr-'] div p,
            [class^=hvr-] div h3,
            [class^=hvr-] div p {
                margin: 0;
                padding: 0
            }
            [class*=' hvr-'] div p,
            [class^=hvr-] div p {
                font-family: 'Muli', sans-serif;
                font-weight: 600;
                color: $white;
                padding: 0;
                margin-bottom: 0;
                font-size: .9rem;
                line-height: normal;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            [class*=' hvr-'] a,
            [class^=hvr-] a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                cursor: pointer;
            }
            [class*=' hvr-'],
            [class*=' hvr-'] *,
            [class*=' hvr-'] :after,
            [class*=' hvr-'] :before,
            [class*=' hvr-']:after,
            [class*=' hvr-']:before,
            [class^=hvr-],
            [class^=hvr-] *,
            [class^=hvr-] :after,
            [class^=hvr-] :before,
            [class^=hvr-]:after,
            [class^=hvr-]:before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all .35s ease;
                transition: all .35s ease
            }
            [class*=' hvr-blocks'] div:after,
            [class*=' hvr-blocks'] div:before,
            [class*=' hvr-blocks']:after,
            [class*=' hvr-blocks']:before,
            [class^=hvr-blocks] div:after,
            [class^=hvr-blocks] div:before,
            [class^=hvr-blocks]:after,
            [class^=hvr-blocks]:before {
                background-color: $primary-low;
                opacity: 0;
                position: absolute;
                content: ''
            }
            [class*=' hvr-blocks']:after,
            [class*=' hvr-blocks']:before,
            [class^=hvr-blocks]:after,
            [class^=hvr-blocks]:before {
                z-index: 1
            }
            [class*=' hvr-blocks']:before,
            [class^=hvr-blocks]:before {
                top: 0px;
                right: 0px;
                bottom: 50%;
                left: 50%
            }
            [class*=' hvr-blocks']:after,
            [class^=hvr-blocks]:after {
                bottom: 0px;
                left: 0px;
                top: 50%;
                right: 50%
            }
            [class*=' hvr-blocks'] div,
            [class^=hvr-blocks] div {
                z-index: 3;
                background-color: transparent;
                border-width: 0
            }
            [class*=' hvr-blocks'] div *,
            [class^=hvr-blocks] div * {
                opacity: 0
            }
            [class*=' hvr-blocks'] div:after,
            [class*=' hvr-blocks'] div:before,
            [class^=hvr-blocks] div:after,
            [class^=hvr-blocks] div:before {
                height: 50%;
                width: 50%;
                z-index: -1
            }
            [class*=' hvr-blocks'] div:before,
            [class^=hvr-blocks] div:before {
                top: 0;
                left: 0
            }
            [class*=' hvr-blocks'] div:after,
            [class^=hvr-blocks] div:after {
                bottom: 0;
                right: 0
            }
            [class*=' hvr-blocks'] a,
            [class^=hvr-blocks] a {
                z-index: 3
            }
            [class*=' hvr-blocks']:hover div:after,
            [class*=' hvr-blocks']:hover div:before,
            [class*=' hvr-blocks']:hover:after,
            [class*=' hvr-blocks']:hover:before,
            [class^=hvr-blocks]:hover div:after,
            [class^=hvr-blocks]:hover div:before,
            [class^=hvr-blocks]:hover:after,
            [class^=hvr-blocks]:hover:before {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
                opacity: .96
            }
            [class*=' hvr-blocks']:hover div *,
            [class^=hvr-blocks]:hover div * {
                opacity: 1;
                -webkit-transition-delay: .25s;
                transition-delay: .25s
            }
            .hvr-blocks-out:before {
                -webkit-transform: translate(-100%, 100%);
                transform: translate(-100%, 100%)
            }                
            .hvr-blocks-out:after {
                -webkit-transform: translate(100%, -100%);
                transform: translate(100%, -100%)
            }                
            .hvr-blocks-out div:before {
                -webkit-transform: translate(100%, 100%);
                transform: translate(100%, 100%)
            }                
            .hvr-blocks-out div:after {
                -webkit-transform: translate(-100%, -100%);
                transform: translate(-100%, -100%)
            }
        }
        .btn {
            margin-top: 1.87rem;
            border-radius: 10rem;
            font-size: 1.12rem;
            font-weight: 700;
            color: $white;
            padding: 1.33rem 2.85rem;
            &:hover,
            &:focus {
                box-shadow: none;
                outline: none;
                color: $black;
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 5.4rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 3.95rem;
        }
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 3.4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 0rem;
                figure {
                    margin: 0 auto .87rem;
                    width: 85px;
                    height: 85px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.315rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 1rem;
                    margin-right: 1rem; 
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    margin: 0;
                    min-height: 200px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0)
                }
                [class*=' hvr-'] img,
                [class^=hvr-] img {
                    vertical-align: top;
                    max-width: 100%
                }
                [class*=' hvr-'] div,
                [class^=hvr-] div {
                    background-color: $blue-lows;
                    padding: 20px;
                    position: absolute;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: 1px solid rgba(0, 0, 0, .1)
                }
                [class*=' hvr-'] div h3,
                [class*=' hvr-'] div p,
                [class^=hvr-] div h3,
                [class^=hvr-] div p {
                    margin: 0;
                    padding: 0
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-family: 'Muli', sans-serif;
                    font-weight: 600;
                    color: $white;
                    padding: 0;
                    margin-bottom: 0;
                    font-size: 1.1rem;
                    line-height: 1.5rem;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                [class*=' hvr-'] a,
                [class^=hvr-] a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1
                }
                [class*=' hvr-'],
                [class*=' hvr-'] *,
                [class*=' hvr-'] :after,
                [class*=' hvr-'] :before,
                [class*=' hvr-']:after,
                [class*=' hvr-']:before,
                [class^=hvr-],
                [class^=hvr-] *,
                [class^=hvr-] :after,
                [class^=hvr-] :before,
                [class^=hvr-]:after,
                [class^=hvr-]:before {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all .35s ease;
                    transition: all .35s ease
                }
                [class*=' hvr-blocks'] div:after,
                [class*=' hvr-blocks'] div:before,
                [class*=' hvr-blocks']:after,
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks] div:after,
                [class^=hvr-blocks] div:before,
                [class^=hvr-blocks]:after,
                [class^=hvr-blocks]:before {
                    background-color: $primary-low;
                    opacity: 0;
                    position: absolute;
                    content: ''
                }
                [class*=' hvr-blocks']:after,
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks]:after,
                [class^=hvr-blocks]:before {
                    z-index: 1
                }
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks]:before {
                    top: 15px;
                    right: 15px;
                    bottom: 50%;
                    left: 50%
                }
                [class*=' hvr-blocks']:after,
                [class^=hvr-blocks]:after {
                    bottom: 15px;
                    left: 15px;
                    top: 50%;
                    right: 50%
                }
                [class*=' hvr-blocks'] div,
                [class^=hvr-blocks] div {
                    z-index: 3;
                    background-color: transparent;
                    border-width: 0
                }
                [class*=' hvr-blocks'] div *,
                [class^=hvr-blocks] div * {
                    opacity: 0
                }
                [class*=' hvr-blocks'] div:after,
                [class*=' hvr-blocks'] div:before,
                [class^=hvr-blocks] div:after,
                [class^=hvr-blocks] div:before {
                    height: 50%;
                    width: 50%;
                    z-index: -1
                }
                [class*=' hvr-blocks'] div:before,
                [class^=hvr-blocks] div:before {
                    top: 0;
                    left: 0
                }
                [class*=' hvr-blocks'] div:after,
                [class^=hvr-blocks] div:after {
                    bottom: 0;
                    right: 0
                }
                [class*=' hvr-blocks'] a,
                [class^=hvr-blocks] a {
                    z-index: 3;
                    cursor: pointer;
                }
                [class*=' hvr-blocks']:hover div:after,
                [class*=' hvr-blocks']:hover div:before,
                [class*=' hvr-blocks']:hover:after,
                [class*=' hvr-blocks']:hover:before,
                [class^=hvr-blocks]:hover div:after,
                [class^=hvr-blocks]:hover div:before,
                [class^=hvr-blocks]:hover:after,
                [class^=hvr-blocks]:hover:before {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                    opacity: .96
                }
                [class*=' hvr-blocks']:hover div *,
                [class^=hvr-blocks]:hover div * {
                    opacity: 1;
                    -webkit-transition-delay: .25s;
                    transition-delay: .25s
                }            
                .hvr-blocks-out:before {
                    -webkit-transform: translate(-100%, 100%);
                    transform: translate(-100%, 100%)
                }                
                .hvr-blocks-out:after {
                    -webkit-transform: translate(100%, -100%);
                    transform: translate(100%, -100%)
                }                
                .hvr-blocks-out div:before {
                    -webkit-transform: translate(100%, 100%);
                    transform: translate(100%, 100%)
                }                
                .hvr-blocks-out div:after {
                    -webkit-transform: translate(-100%, -100%);
                    transform: translate(-100%, -100%)
                }
            } 
        }
    }
    // Speak to Consultants
    .consultants {
        padding-top: 5.15rem;
    }
}
@media (max-width: 1450px) {
    .enterprise {
        background-size: auto, 55%;
    }
}
@media (max-width: 1299px) {
    .enterprise {
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .tech_expertise {
            padding-top: 2rem;
        }
        .tech-solution {
            .prdt-item [class*=' hvr-'] div p,
            .prdt-item [class^=hvr-] div p {
                font-size: .66rem;
            }
            .btn {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
        .whyus {
            .whyus-item {
                li {
                   h6 {
                    font-size: 1.315rem;
                    line-height: normal;
                   }
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .enterprise {
        .whyus {
            padding-top: 2rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.315rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .inr {
        &.enterprise {
            h2 {
                margin-bottom: 3.5rem;
            }
        }
    }
    .enterprise {
        h2 {
            margin-bottom: 3.5rem;
        }
        .tech-solution {
            h5 {
                margin-bottom: 2rem;
                text-align: center;
            }
            .col-md-5,
            .col-md-7 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .sol-item [class*=' hvr-'] div p,
            .sol-item [class^=hvr-] div p {
                font-size: .77rem;
            }
        }
        .whyus {
            padding-top: 3rem;
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 33%;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.2rem;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:last-child {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .enterprise {
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .tech_expertise {
            padding-top: 3.65rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                letter-spacing: -.15rem;
            }
            h4 {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: center;
                margin-bottom: 2rem;
            }
            h5 {
                font-size: 1.3rem;
                line-height: 2rem;
                text-align: center;
                letter-spacing: -.06rem;
                strong {
                    font-size: 1.5rem;
                }
            }
        }
        .tech-solution {
            padding-top: 3.65rem;
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
                line-height: 2rem;
            }
            .sol-item {
                margin-bottom: 0;
                h6 {
                    font-size: 1.3rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: 180px;
                    max-width: 100%;
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-size: 1.02rem;
                    line-height: 1.5rem;
                }
            }
            .btn {
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 3rem;
            }
        }
        .whyus {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.5rem;
                        margin-left: 3.5rem;
                        margin-right: 3.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        max-width: 100%;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.02rem;
                        line-height: 1.5rem;
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem; 
                        }
                    }
                } 
            }
            .btn {
                margin-top: 3rem;
            }
        }
    }
}
@media (max-width: 499px) {
}