// FOOTER
.footer {
	clear: both;
	display: block;
	overflow: hidden;
	padding: 0;
	border: none;
	border-top: 5px solid $gray-260;
	margin-top: 8.75rem;
	font-family: "Muli", "Roboto", "Helvetica", sans-serif;
	.ft-links {
		background-color: $gray-50;
		clear: both;
		padding: 2.05rem 0 2.75rem;
		margin: 0;
		background-size: cover;
		position: relative;
		z-index: 10;
		font-size: .94rem;
		h3 {
			font-family: "Work Sans", sans-serif;
			font-size: 1.35rem;
			line-height: normal;
			font-weight: 700;
			color: $black;
			display: block;
			margin: 0 0 1.2rem;
			padding: .7rem 0;
			position: relative;
			&:after {
				height: 3px;
				width: 65px;
				background-color: $secondary;
				position: absolute;
				left: 0;
				bottom: 1px;
				content: "";
			}
		}
		p {
			font-size: .94rem;
			color: $gray-775;
			font-weight: 300;
			line-height: 1.4rem;
			margin-bottom: 1.05rem;
			padding-top: .5rem;
		}
		ul {
			margin: 0;
			padding: 0;
			clear: both;
			li {
				font-weight: 300;
				color: $gray-775;
				line-height: normal;
				clear: both;
				display: block;
				overflow: hidden;
				a {
					display: flex;
					align-items: center;
					color: $gray-775;
					text-decoration: none;
					cursor: pointer;
					float: left;
					padding: 0;
					margin: .4rem 0;
					figure {
						margin-right: 7px;
						width: 28px;
						height: 28px;
						float: left;
						margin-bottom: 0;
						text-align: center;
						align-items: center;
						display: flex;
						justify-content: center;
						img {
							max-width: 100%;
						}
					}
					span {
						overflow: hidden;
						-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						-o-transition: all 0.3s;
						transition: all 0.3s;
					}
					&:hover,
					&:focus {
						color: $bluedrk;
						span {
							padding-left: .5rem;
						}
					}
					&:focus {
						span {
							padding-left: 0;
						}
					}
				}
				&:nth-child(2) {
					a {
						figure {
							width: 32px;
							height: 32px;
						}
					}
				}
			}
		}
		.col-md-3 {
			&:first-child {
				h3 {
				  background: url(/static/images/intlogo-mob.svg) 0 50% no-repeat;
				  background-size: 2.75rem 2.75rem;
				  padding-left: 3.4rem;
				  &::after {
					  left: 3.45rem;
				  	}
				}
			}
		}
		.footer_nav__list {
			clear: both;
			text-align: left;
			padding: 0;
			margin: 0;
			li {
			  list-style: none;
			  display: block;
			  font-size: 1rem;
			  line-height: normal;
			  font-weight: 400;
			  a {
				color: $gray-775;
				text-decoration: none;
				display: inline-block;
				padding: 0;
				margin: .5rem 0;
				&:hover,
				&:focus {
				  color: $bluedrk;
				  padding-left: .5rem;
				}
				&:focus {
					padding-left: 0;
				}
			  }
			}
		}
		.footer_news__list {
			clear: both;
			text-align: left;
			padding: 0;
			margin: 0;
			li {
			  list-style: none;
			  display: block;
			  font-size: 1rem;
			  line-height: normal;
			  font-weight: 400;
			  a {
				color: $gray-775;
				text-decoration: none;
				display: inline-block;
				padding: 0;
				margin: .5rem 0;
				&:hover,
				&:focus {
				  color: $bluedrk;
				  padding-left: .5rem;
				}
			  }
			}
		}
		&:after {
			position: absolute;
			max-width: 780px;
			height: 100%;
			width: 100%;
			content: "";
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			background: url(/static/images/bg/footer/gw-map.svg) 50% 50% no-repeat;
			background-size: cover;
			opacity: 0.1;
			z-index: -1;
		}
	}
	.ft-copy {
		background-color: $white;
		clear: both;
		padding: 1.15rem 0 1.1rem;
		p {
			font-size: 1rem;
			color: $gray-850;
			font-weight: 200;
			line-height: 26px;
			margin-bottom: 0;
			padding-top: 0;
		}
<<<<<<< HEAD
		.row {
			flex-direction: row-reverse;
=======
		.footer_short_link {
			flex-direction: row;
			.nav-item {
				font-size: .65rem;
				padding-right: 1rem;
				font-weight: 400;
				color: $gray-850;
				text-transform: uppercase;
				position: relative;
				line-height: 1rem;
				a {
					color: $gray-530;
					&:hover,
					&:focus {
						color: $bluedrkinr;
						text-decoration: none;
					}
				}
				&:after {
					height: 60%;
					position: absolute;
					top: 50%;
					right: 8px;
					width: 1px;
					background-color: $gray-530;
					transform: translateY(-50%);
					content: '';
					display: table;
				}
				&:last-child {
					&:after {
						display: none;
						visibility: hidden;
					}
				}
			}
		}
		.row {
			flex-direction: row-reverse;
			align-items: center;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
		}
		.socials {
			padding: 0;
			float: right;
			.social_list {
				padding: 0;
				margin: 0;
				text-align: left;
				display: inline-block;
				li {
					display: inline-block;
					list-style: none;
					padding:  0 .8rem;
					a,
					svg {
						width: 29px;
						height: 29px;
						display: inline-block;
						-webkit-transition:all .3s;
						-moz-transition:all .3s;
						-o-transition:all .3s;
						transition:all .3s;
						padding: 0;
						path {
							fill: $black;
							-webkit-transition:all .3s;
							-moz-transition:all .3s;
							-o-transition:all .3s;
							transition:all .3s;
						}
						&:hover,
						&:focus {
							svg {
								margin-left: .1rem;
								path {
									fill: $bluedrk;
								}
							}
						}
					}
					&:first-child {
						svg {
							width: 25px;
							height: 25px;
						}
					}
					&:nth-child(2) {
						svg {
							width: 28px;
							height: 28px;
						}
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
}
.inr {
	.footer {
		margin-top: 5rem;
	}
}
.swal2-container {
	#swal2-content,
	.swal2-content {
		padding: 0;
		iframe {
			display: block;
			border: none;
			outline: none;
		}
	}
}
@media (max-width: 1050px) {
	.footer {
		padding-top: 0;
		margin-top: 5rem;
		.ft-links {
			padding:.7rem 0 .8rem;
			font-size: .8rem;
			font-weight: 400;
			h3 {
				font-size: 1.2rem;
				margin-bottom:.5rem;
				padding-top: .7rem;
				padding-bottom: .7rem;
			}
			p {
				font-size: .8rem;
				line-height: 1rem;
				margin-bottom: .7rem;
				padding-top: .5rem;
				font-weight: 400;
			}
			.col-md-3:first-child {
				h3 {
					background: none;
					background-size: unset;
					padding-left: 0;
					&:after {
						left: 0;
					}
				}
			}
			ul {
				li {
					a {
						margin-top: .2rem;
						margin-bottom: .2rem;
						figure {
							width: 20px;
							height: 20px;
							margin-right: 5px;
						}
					}
					&:first-child {
						a {
							figure {
								width: 25px;
    							height: 25px;
							}
						}
					}
					&:nth-child(2) {
						a {
							figure {
								width: 25px;
    							height: 25px;
							}
						}
					}
				}
			}
			.footer_nav__list {
				li {
					font-size: .85rem;
					a {
						margin-top: .35rem;
						margin-bottom: .35rem;
					}
				}
			}
			.footer_news__list {
				li {
					font-size: .85rem;
					a {
						margin-top: .35rem;
						margin-bottom: .35rem;
					}
				}
			}
		}
	}
	.inr {
		.footer {
			margin-top: 4rem;
		}
	}
}
@media (max-width: 767px) {
	.footer {
		padding-top: 0;
		.ft-links {
			font-size: 1.1rem;
			padding: 1.4rem 0 1.2rem;
			.row {
				padding-top: 0;
				h3 {
					font-size: 1.5rem;
					margin-bottom: .5rem;
					padding-top: .7rem;
					padding-bottom: .7rem;
				}
				p {
					line-height: 1.6rem;
					margin-bottom: 1.05rem;
					padding-top: .5rem;
					font-size: 1.1rem;
					font-weight: 300;
				}
				ul {
					margin-bottom: .5rem;
					li {
						a {
							figure {
								margin-right: 10px;
								width: 28px;
								height: 28px;
							}
						}
						&:first-child {
							a {
								figure {
									margin-right: 10px;
									width: 28px;
									height: 28px;	
								}
							}
						}
						&:nth-child(2) {
							a {
								figure {
									width: 30px;
									height: 30px;
								}
							}
						}
						a {
							margin-top: .4rem;
							margin-bottom: .4rem;
						}
					}
				}
				.footer_nav__list {
					margin-bottom: .5rem;
					li {
						font-size: 1.1rem;
						a {
							margin-top: .3rem;
    						margin-bottom: .3rem;
						}
					}
				}
				.footer_news__list {
					margin-bottom: .5rem;
					li {
						font-size: 1.1rem;
						a {
							margin-top: .3rem;
    						margin-bottom: .3rem;
						}
					}
				}
				.col-md-3 {
					.socials {
						padding-left:0;
						.social_list {
							li {
								display: inline-block;
								margin: 0 1.4rem;
								&:first-child {
									margin-left: 0;
								}
							}
						}
					}
				}
			}	
		}
		.ft-copy {
			text-align: center;
			p {
				font-size: .98rem;
			}
<<<<<<< HEAD
=======
			.footer_short_link {
				text-align: center;
				display: inline-block;
				.nav-item {
					font-size: .7rem;
					display: inline-block;
				}
			}
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
			.row {
				flex-direction: initial;
			}
			.socials {
				float: none;
				margin: 0 auto .7rem;
    			display: inline-block;
			}
		}
	}
}
@media (max-width: 339px) {
	.footer {
		.ft-copy {
			p {
				font-size: .95rem;
			}
		}
	}
}