// ------------- INDEX PAGE -------------
.cover {
  background-color: linear-gradient(45deg, $white 0%, $white 100%);
  position: relative;
}
// LAYOUT
.wrapper {
  width: 100%;
  margin-top: 0;
  position: relative;
}
.btn {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  line-height: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  border: none;
  padding: 1rem 2.2rem;
  display: inline-block;
  transition: all .3s;
	position: relative;
  overflow: hidden;
  box-shadow: none;
  outline: none;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bluedrkinr;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($secondary, 0%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
  &:hover,
  &:focus {
    color: $black;
    box-shadow: none;
    outline: none;
		&:before {
			width: 100%;
		}
	}
}
.link {
  color: $white;
}
@keyframes rotateInNav {
  0% {
  transform:rotate(42deg)
  }
  100% {
  transform:rotate(0)
  }
}
// HEADER BANNER
.hdBan {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: relative;
  min-height: 100vh;
  .hdBan_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    .hdBan__row-teaser {
      width: 100%;
      max-width: 50%;
      position: relative;
      z-index: 2;
      opacity: 0;
      -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
      transform: translateY(10%);
      -webkit-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      h1 {
        font-size: 5.95rem;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 4.9rem;
        margin-top: 40px;
        line-height: 5.35rem;
        color: $bluedrk;
        min-height: 260px;
        position: relative;
        b {
          display: block;
          text-transform: none;
          font-weight: 300;
          font-size: 3.125rem;
          line-height: normal;
          letter-spacing: 1px;
          color: $gray-900;
          margin-bottom: 0.95rem;
          u {
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
          }
        }
        span {
          font-size: 5.25rem;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: -.35rem; 
        }
      }
      p {
        font-weight: 300;
      }
    }
    .anim {
      position: absolute;
      top: 0;
      right: calc(10.5vw - 262.5px);
      // max-width: 525px;
      max-width: 600px;
      width: 100%;
      height: 690px;
      text-align: right;
      color: inherit;
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      -webkit-transition: all 1000ms ease-in-out;
      transition: all 800ms ease-in-out;
      overflow: hidden;
      iframe {
        border: none!important;
        display: block;
      }
      .img-fluid {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 525px;
      }
    }
    .hdBan__video,
    .hdBan__video-2 {
      width: 100%;
      max-width: 524px;
      height: calc(100% - 30px);
      max-height: 524px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: left ease-in-out 3000ms;
      -o-transition: left ease-in-out 3000ms;
      transition: left ease-in-out 3000ms;
      &.dragged {
        left: calc(50% + 524px);
      }
    }
    .off {
      display: none;
    }
    .hdBan__video-2 {
      z-index: 1;
      -webkit-transition: left ease-in-out 2000ms, opacity ease-in-out 1000ms;
      -o-transition: left ease-in-out 2000ms, opacity ease-in-out 1000ms;
      transition: left ease-in-out 2000ms, opacity ease-in-out 1000ms;
      .off {
        opacity: 0;
      }
    }
  }
  .row {
    flex-direction: row-reverse;
    position: relative;
  }
}
.introAnim {
  display: block;
  .hdBan {
    min-height: initial;
    .hdBan_inner {
      .hdBan__row-teaser {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      .anim {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .hdBan__video {
        display: none;
      }
      .hdBan__video-2 {
        display: block;
        top: 0;
        transform: translate(-50%, 0%);
        .off {
          opacity: 1;
        }
      }
    }
  }
}
@keyframes blnk {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.home {
  
  // CUSTOMERS
  .customers {
    clear: both;
    padding: 106px 0 0;
    overflow: hidden;
    h2 {
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 1.7rem;
      font-size: 4.38rem;
      text-transform: uppercase;
      line-height: 4.7rem;
      color: rgba(21,71,154,1);
      font-weight: 300;
      strong {
        font-weight: 700;
        display: inline-block;
        clear: none;
      }
      &:after {
        display: none;
      }
    }
    h3 {
      font-size: 2.5rem;
      line-height: 3.15rem;
      color: rgba(0,0,0,1);
      font-weight: 400;
      position: relative;
      margin-bottom: 7.5rem;
      strong {
        font-weight: 800;
      }
      &:after {
        height: 5px;
        width: 65px;
        background-color: rgba(233,205,2,1);
        position: absolute;
        left: 50%;
        bottom: -40px;
        content: '';
        transform: translateX(-50%);
      }
    }
    .cust-tab {
      clear: both;
      overflow: hidden;
      .nav {
        position: relative;
        display: flex;
        justify-content: center;
        border: none;
        &.nav-tabs .nav-item {
          display: flex;
          margin-bottom: 0px;
          justify-content: center;
          align-items: center;
          .nav-link {
            padding:0 15px;
            height: 40px;
            width: auto;
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
              max-width: 100%;
              height: auto;
              filter: grayscale(1);
              transition: 0.5s ease-in-out;
            }
            &:hover img,
            &:focus img,
            &.active img {
              filter: grayscale(0);
              transition: 0.5s ease-in-out;
            }
          }
          &:first-child {
            .nav-link {
              height: 75px;
            }
          }
          &:last-child {
            .nav-link {
              height: 35px;
            }
          }
          &:nth-child(3) {
            .nav-link {
              height: 50px;
            }
          }
          &:nth-child(2),
          &:nth-child(5) {
            .nav-link {
              height: 65px;
            }
          }
        }
      }
      .tab-content {
        clear: both;
        text-align: center;
        padding: 70px 0 0;
        h3,
        h4,
        h5,
        p{
          font-family: 'Muli', sans-serif;
        }
        h4 {
          color: rgba(24,76,161,1);
          font-weight: 800;
          font-size: 30px;
          line-height: normal;
          margin-bottom: 17px;
          padding-top: 4px;
        }
        h5 {
          color: rgba(0,0,0,1);
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 22px;
        }
        p {
          color: rgba(0,0,0,1);
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 21px;
        }
        .col-sm-11 {
          display: flex;
          margin: 0 auto;
          align-items: center;
        }
        .col-sm-5 {
          float: left;
          position: relative;
        }
        .col-sm-7 {
          float: left;
          position: relative;
          text-align: left;
          padding-top: 0;
          &:before {
            position: absolute;
            content: '';
            left: -25px;
            top:auto;
            width: 1px;
            height: 100%;
            background-color: $gray-325;
          }
        }
      }
    }
    .cust-carousl {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid $gray-325;
      padding:0;
      text-align: center;
      overflow: hidden;
      margin: 0;
      figure {
        display: block;
        border-bottom: 1px solid $gray-325;
        text-align: center;
        padding: .7rem 1rem;
        margin:0;
        height: 130px;
        img {
          margin: 0 auto;
<<<<<<< HEAD
=======
          position: relative;
          top: 50%;
          transform: translateY(-50%);
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
        }
      }
      h4 {
        color: $primary;
        font-weight: 800;
        font-size: 32px;
        line-height: normal;
        margin-bottom: 16px;
        padding-top: 0;    
      }
      h5 {
        color: $black;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 12px;
      }
      p {
        color: $black;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
      }
      .cust-det {
        padding: 2rem;
      }
      .slick-slider {
        .slick-next,
        .slick-prev {
          z-index: 10;
        }
        .slick-prev {
          left: 5%;
          top: 65px;
          width: 40px;
          height: 40px;
          &.slick-prev::before {
            content: '';
            position : absolute;
            top: 10px;
            left: 0;
            width: 1.7rem;
            height: 1.7px;
            transform: rotate(-45deg);
            background-color: rgba(0,0,0,1);
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
          }
          &.slick-prev::after {
            content: '';
            top: auto;
            left: 0;
            bottom: 10px;
            position : absolute;
            width: 1.7rem;
            height: 1.7px;
            transform: rotate(45deg);
            background-color: rgba(0,0,0,1);
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
          }
        }
        .slick-next {
          right: 5%;
          top: 65px;
          width: 40px;
          height: 40px;
          &.slick-next::before {
            content: '';
            position : absolute;
            top: 10px;
            width: 1.7rem;
            height: 1.7px;
            transform: rotate(45deg);
            background-color: rgba(0,0,0,1);
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            right: 0;
          }
          &.slick-next::after {
            content: '';
            top: auto;
            bottom: 10px;
            right: 0;
            position : absolute;
            width: 1.7rem;
            height: 1.7px;
            transform: rotate(-45deg);
            background-color: rgba(0,0,0,1);
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
          }
        }
      }
    }
    .col-sm-10 {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
  // PARTNERS
  .pertners {
    clear: both;
    padding: 120px 0 0;
    position: relative;
    .row {
      flex-direction: row-reverse;
      .col-md-6 {
        position: relative;
      }
    }
    h2 {
      position: relative;
      font-weight: 300;
      font-size: 4.38rem;
      line-height: 4.5rem;
      color: #184ca1;
      text-transform: uppercase;
      margin-bottom: 4.7rem;
    }
    p {
      margin-bottom: 2.2rem;
    }
    .btn {
      font-family: 'Work Sans', sans-serif;
      font-size: 1rem;
      line-height: normal;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 10rem;
      border-radius: 10rem;
			border: none;
      padding: 1rem 2.2rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      box-shadow: none;
      outline: none;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bluedrkinr;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($secondary, 0%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover,
      &:focus {
        color: $black;
        box-shadow: none;
        outline: none;
        &:before {
          width: 100%;
        }
      }
    }
    .link {
      color: $white;
    }
    .part-vertical-carousel-nav {
      transform: translateX(-55%);
      position: absolute;
      z-index: 4;
      -webkit-transition: transform .5s ease-in;
      transition: transform .5s ease-in;
      .part-vertical-carousel-nav__list {
        list-style-type: none;
        position: relative;
        width: 87vh;
        height: 87vh;
        padding: 0;
        border-radius: 50%;
        list-style: none;
        box-sizing: content-box;
        border: solid 1px $gray-360;
        -webkit-transition: transform 1.5s ease;
        transition: transform 1.5s ease;
        z-index: 3;
        pointer-events: none;
        margin: 0;
        li {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -10px;
          border-radius: 50%;
          -webkit-transition: all 1s ease;
          transition: all 1s ease;
          &:nth-of-type(1) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(-50deg);
                }
              }
            }
          }
          &:nth-of-type(2) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(0deg);
                }
              }
            }
          }
          &:nth-of-type(3) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(50deg);
                }
              }
            }
          }
          // &:nth-of-type(4) {
          //   transform: rotate(270deg) translate(43vh) rotate(-270deg);
          // }
          a {
            transition: all .5s ease-in;
            position: relative;
            z-index: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: block;
            pointer-events: auto;
            animation: blnk 3s infinite;
            img {
              display: none;
              visibility: hidden;
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(90deg, $bluemid 0, $bluemid);
              border-radius: 50%;
              -webkit-border-radius: 50%;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              background-color: $bluedrkthr;
              transition: all .3s ease;
            }
          }
          .part-vertical-carousel-nav__list-item_label {
            position: absolute;
            top: auto;
            left: auto;
            min-width: 150px;
            text-align: left;
            white-space: nowrap;
            padding: 0;
            font-family: 'Muli', sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            color: $gray-575;
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 0;
            z-index: 1;
            opacity: 0;
            -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
            transition: opacity .3s ease,-webkit-transform .3s ease;
            transition: opacity .3s ease,transform .3s ease;
            transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
          }
          &:hover {
            .part-vertical-carousel-nav__list-item_label  {
              opacity: 1;
            }
          }
          &:nth-child(1) {
            .part-vertical-carousel-nav__list-item_label {
              -webkit-transform: translate(40%, -100%);
              transform: translate(40%, -100%);
            }
            &:hover {
              .part-vertical-carousel-nav__list-item_label  {
                -webkit-transform: translate(25%, -100%);
                transform: translate(25%, -100%);
              }
            }
          }
          &:nth-child(2) {
            .part-vertical-carousel-nav__list-item_label {
              -webkit-transform: rotate(-45deg) translate(60%,-245%);
              transform: rotate(-45deg) translate(60%,-245%);
            }
            &:hover {
              .part-vertical-carousel-nav__list-item_label  {
                -webkit-transform: rotate(-45deg) translate(60%,-245%);
                transform: rotate(-45deg) translate(60%,-245%);
                // -webkit-transform: translate(135%, -10%);
                // transform: translate(135%, -10%);
              }
            }
          }
          &:nth-child(3) {
            .part-vertical-carousel-nav__list-item_label {
              -webkit-transform: translate(40%, -90%);
              transform: translate(40%, -90%);
            }
            &:hover {
              .part-vertical-carousel-nav__list-item_label  {
                -webkit-transform: translate(35%, -90%);
                transform: translate(35%, -90%);
              }
            }
          }
          &.active {
            a {
              width: 72px;
              height: 72px;
              margin-left: -28px;
              margin-top: -28px;
              animation: none;
              cursor: default;
              &:after {
                left: 10px;
                top: 10px;
                right: 10px;
                bottom: 10px;
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -50%);
                width: 50%;
                display: block;
                visibility: visible;
                z-index: 1;
              }
            }
            &:nth-child(1) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(-50deg);
                }
              }
              &:after {
                left: -70px;
                bottom: 80px;
                transform: rotate(-65deg);
              }
            }
          }
          &:nth-child(2) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(0deg);
                }
              }
              &:after {
                left: -78px;
                bottom: 50px;
                transform: rotate(-90deg);
              }
            }
          }
          &:nth-child(3) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(50deg);
                }
              }
              &:after {
                left: -70px;
                bottom: 16px;
                transform: rotate(-120deg);
              }
            }
          }
            .part-vertical-carousel-nav__list-item_label {
              width: 100%;
              height: 100%;
              opacity: 1;
              z-index: 2;
              top: 0;
              display: none;
              visibility: hidden;
              -webkit-transform: none;
              transform: none;
            }
          }
          &.active:hover {
            a {
              animation: blnk 3s infinite;
            }
          }
        }
        &.pron {
          li {
            &:nth-child(2) {
              .part-vertical-carousel-nav__list-item_label {
                transform: rotate(-45deg) translate(70%, -285%);
                -webkit-transform: rotate(-45deg) translate(70%, -285%);
              }
            }
            &:nth-child(3) {
              .part-vertical-carousel-nav__list-item_label {
                transform: rotate(-45deg) translate(15%, -40%);
                -webkit-transform: rotate(-45deg) translate(15%, -40%);
              }
            }
            &:hover {
              &:nth-child(2) {
                .part-vertical-carousel-nav__list-item_label {
                  transform: rotate(-45deg) translate(50%, -285%);
                  -webkit-transform: rotate(-45deg) translate(50%, -285%);
                }
              }
              &:nth-child(3) {
                .part-vertical-carousel-nav__list-item_label {
                  transform: rotate(-45deg) translate(15%, -100%);
                  -webkit-transform: rotate(-45deg) translate(15%, -100%);
                }
              }
            }
          }
        }
        &.prth {
          li {
            &:nth-child(1) {
              .part-vertical-carousel-nav__list-item_label {
                transform: rotate(45deg) translate(5%, -100%);
                -webkit-transform: rotate(45deg) translate(5%, -100%);
              }
            }
            &:nth-child(2) {
              .part-vertical-carousel-nav__list-item_label {
                transform: rotate(45deg) translate(60%, 170%);
                transform: rotate(45deg) translate(60%, 170%);
              }
            }
            &:hover {
              &:nth-child(1) {
                .part-vertical-carousel-nav__list-item_label {
                  transform: rotate(45deg) translate(5%, -40%);
                  -webkit-transform: rotate(45deg) translate(5%, -40%);
                }
              }
              &:nth-child(2) {
                .part-vertical-carousel-nav__list-item_label {
                  transform: rotate(45deg) translate(35%, 170%);
                  -webkit-transform: rotate(45deg) translate(35%, 170%);
                }
              }
            }
          }
        }
      }
      .part-contnt-visible {
        text-align: right;
        position: absolute;
        top: 50%;
        right: 0px;
        bottom: auto;
        left: auto;
        z-index: 10;
        width: 280px;
        height: auto;
        opacity: 0;
        -webkit-transition: transform .4s ease;
        transition: all .4s ease;
        transform: rotate(0deg) translateY(-50%) translatex(-4%);
        background-color: $white;
        z-index: -1;
        h3 {
          font-family: 'Muli', sans-serif;
          font-weight: 800;
          font-size: 30px;
          line-height: normal;
          color: $bluedrkinr;
          margin-bottom: 14px;
        }
        p {
          font-size: 15px;
          line-height: 22px;
          color: $black;
          font-weight: 400;
          margin-bottom: 0;
        }
        &.active {
            opacity: 1;
            transform: rotate(0deg) translateY(-50%) translatex(-25%);
        }
      }
    }
    .slick-slider {
      .slick-list {
        .model-item {
          padding-top: 60px;
          figure {
            width: 115px;
            height: 115px;
            margin-left: auto;
            margin-right: auto;
            cursor: default;
            position: relative;
            animation: blnk 3s infinite;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            margin-bottom: 1.4rem;
            img {
              width: 46px;
              height: 46px;
              position: relative;
              z-index: 5;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(90deg, $bluemid 0, $bluemid);
              border-radius: 50%;
              -webkit-border-radius: 50%;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 15px;
              top: 15px;
              right: 15px;
              bottom: 15px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              background-color: $bluedrkthr;
              transition: all .3s ease;
            }
          }
          h4 {
            font-size: 30px;
            line-height: normal;
            font-weight: 800;
            color:$bluedrkinr;
            margin-bottom: .7rem;
          }
          p {
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;
            color: $black;
            padding: 0 1rem;
            margin-bottom: 1.2rem;
          }
        }
      }
      .slick-dots {
        bottom: auto;
        position: relative;
        margin-top: 0;
        li {
          width: 20px;
          height:  20px;
          padding: 0;
          margin: 0;
          button {
            width: 20px;
            height:  20px;
            padding: 0;
            margin: 0;
            &:before {
              opacity: 1;
              font-size: 12px;
              line-height: 20px;
              width: 20px;
              height: 20px;
              color: $gray-450;
            }          
          }
          &.slick-active {
            button {
              &:before {
                opacity: 1;
                color: $bluedrk;
              }
            }
          }
        }
      }
    }
  }
  // IDEAS
  .ideas {
    clear: both;
    padding: 112px 0 0;
    position: relative;
    overflow: hidden;
    h2 {
      position: relative;
      font-weight: 300;
      font-size: 4rem;
      line-height: 4.5rem;
      color: $bluedrkinr;
      text-transform: uppercase;
      margin-bottom: 0;
      span {
        font-size: 30px;
        color: $gray-900;
        letter-spacing: 1.5px;
        font-weight: 200;
        clear: both;
        display: block;
        text-transform: none;
        line-height: normal;
        margin-bottom: 20px;
      }
      strong {
        font-family: "Work Sans", sans-serif;
        display: inline-block;
        clear: both;
        font-weight: 700;
        letter-spacing: 1.5px;
      }
    }
    h5 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
      color: $black;
      margin-top: 2.45rem;
      margin-bottom: 1.7rem;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
    .ideas-title {
      position: relative;

      height: 100%;
      display: flex;
      align-items: center;
    }
    .ideas-cont {
      padding-left: 95px;
    }
    .col-md-6:first-child {
      position: relative;
      &:after {
        width: 1px;
        position: absolute;
        height: 95%;
        background-color: rgba(204,204,204,1);
        right: 0;
        top: 50%;
        bottom: auto;
        left: auto;
        content: '';      
        transform: translateY(-50%);
      }
    }
    .btn {
      font-family: 'Work Sans', sans-serif;
      font-size: 1rem;
      line-height: normal;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 10rem;
      -webkit-border-radius: 10rem;
      border: none;
      padding: 1rem 2.2rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      box-shadow: none;
      outline: none;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bluedrkinr;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($secondary, 0%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover,
      &:focus {
        color: $black;
        box-shadow: none;
        outline: none;
        &:before {
          width: 100%;
        }
      }
    }
    .link {
      color: $white;
    }
  }
  // FAST & FLEXIBLE
  .fast-flexible {
    clear: both;
    padding: 110px 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    .col-md-10 {
      margin: 0 auto;
    }
    h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 4.38rem;
      line-height: 4.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 4.7rem;
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
      span {
        font-family: 'Work Sans', sans-serif;
        margin-bottom: 23px;
      }
    }
    p {
      font-size: 30px;
      line-height: 40px;
    }
  }
  // TESTIMONIALS
  .testimonials {
    clear: both;
    padding: 94px 0 0;
    position: relative;
    h2 {
      font-size: 4.22rem;
      line-height: 4.5rem;
      margin-bottom: 5.95rem;
      font-weight: 300;
      letter-spacing: -.3rem;
      strong {
        font-size: 4.38rem;
        letter-spacing: normal;
      }
      span {
        strong {
          font-size: 1.875rem;
        }
      }
    }
    .clear {
      clear: both;
      height: 10px;
      line-height: 10px;
    }
    p {
      font-size: 24px;
      line-height: 32px;
      color: $black;
      position: relative;
      padding-top: 60px;
      display: inline;
      &:before {
        position: absolute;
        width: 28px;
        height: 28px;
        content: '“';
        font-size: 90px;
        color: $gray-400;
        font-family: 'Poppins', sans-serif;
        line-height: 90px;
        font-weight: 600;
        left: 0;
        top: 23px;
      }
      &:after {
        position: absolute;
        width: 28px;
        height: 28px;
        content: '”';
        font-size: 90px;
        color: $gray-400;
        font-family: 'Poppins', sans-serif;
        line-height: 90px;
        font-weight: 600;
        left: auto;
        top: auto;
        bottom: -2px;
        right: -45px;
      }
    }
    .testi-content {
      small {
        display: block;
        margin-bottom: 64px;
        span {
          border-radius: 10rem;
          border-radius: 10rem;
          border: 2px solid $gray-500;
          text-align: center;
          background-color: $white;
          font-size: 15px;
          font-weight: 700;
          line-height: normal;
          padding:.22rem 1rem .2rem;
          color: $gray-500;
          display: inline-block;
        }
      }
    }
    .col-md-6 {
      position: relative;
    }
    .testi-vertical-carousel-nav {
      transform: translateX(50%);
      position: absolute;
      z-index: 4;
      -webkit-transition: transform .5s ease-in;
      transition: transform .5s ease-in;
      .testi-vertical-carousel-nav__list {
        list-style-type: none;
        position: relative;
        width: 87vh;
        height: 87vh;
        padding: 0;
        border-radius: 50%;
        list-style: none;
        box-sizing: content-box;
        border: solid 1px $gray-360;
        -webkit-transition: transform 1.5s ease;
        transition: transform 1.5s ease;
        z-index: 3;
        pointer-events: none;
        margin: 0;
        li {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -10px;
          border-radius: 50%;
          transition: all 1s ease;
          transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
          transition: transform 1s ease,-webkit-transform 1s ease;
          -webkit-transition: -webkit-transform 1s ease;
          -webkit-transition: transform 1s ease;
          -webkit-transition: transform 1s ease,-webkit-transform 1s ease;
          // &:nth-of-type(1) {
          //   transform: rotate(50deg) translate(-43vh) rotate(-50deg);
          // }
          &:nth-of-type(2) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(25%, -60%);
              -webkit-transform: translate(25%, -60%);
            }
          }
          &:nth-of-type(3) {
            
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-45%, -125%);
              -webkit-transform: translate(-45%, -125%);
            }
          }
          &:nth-of-type(4) {
            
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-105%, -55%);
              -webkit-transform: translate(-105%, -55%);
            }
          }
          &:nth-of-type(5) {
            
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-105%, -55%);
              -webkit-transform: translate(-105%, -55%);
            }
          }
          a {
            transition: all .5s ease-in;
            position: relative;
            z-index: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: block;
            pointer-events: auto;
            animation: blnk 3s infinite;
            overflow: hidden;
            img {
              display: none;
              visibility: hidden;
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(90deg, $bluemid 0, $bluemid);
              border-radius: 50%;
              -webkit-border-radius: 50%;
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              background-color: $bluedrkthr;
              transition: all .3s ease;
            }
          }
          .testi-vertical-carousel-nav__list-item_label {
            position: absolute;
            white-space: nowrap;
            min-width: 150px;
            text-align: right;
            top: 50%;
            left: auto;
            padding: 0;
            font-family: 'Muli', sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            color: $gray-575;
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 0;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s ease,-webkit-transform .3s ease;
            transition: opacity .3s ease,transform .3s ease;
            transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
          }
          &:hover {
            .testi-vertical-carousel-nav__list-item_label  {
              opacity: 1;
            }
          }
          &:nth-child(1) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-140%, -55%);
              -webkit-transform: translate(-140%, -55%);
            }
            &:hover {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-120%, -55%);
                -webkit-transform: translate(-120%, -55%);
              }
            }
          }
          &:nth-child(2) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-140%, -60%);
              -webkit-transform: translate(-140%, -60%);
            }
            &:hover {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-120%, -60%);
                -webkit-transform: translate(-120%, -60%);
              }
            }
          }
          &:nth-child(3) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-300%, -10%);
              -webkit-transform: translate(-300%, -10%);
            }
            &:hover {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-290%, -10%);
                -webkit-transform: translate(-290%, -10%);
              }
            }
          }
          &:nth-child(4) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-140%, -50%);
              -webkit-transform: translate(-140%, -50%);
            }
            &:hover {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-120%, -50%);
                -webkit-transform: translate(-120%, -50%);
              }
            }
          }
          &:nth-child(5) {
            .testi-vertical-carousel-nav__list-item_label {
              transform: translate(-140%, -50%);
              -webkit-transform: translate(-140%, -50%);
            }
            &:hover {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-120%, -50%);
                -webkit-transform: translate(-120%, -50%);
              }
            }
          }
          &.active {
            //transform: rotate(0deg) translate(-43vh) rotate(-0deg);
            margin: 0px;
            a {
              width: 120px;
              height: 120px;
              margin-left: -60px;
              margin-top: -60px;
              animation: none;
              cursor: default;
              &:after {
                left: 10px;
                top: 10px;
                right: 10px;
                bottom: 10px;
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -50%) rotate(0deg);
                width: auto;
                max-width: 85%;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                display: block;
                visibility: visible;
                z-index: 1;
              }
            }
            .testi-vertical-carousel-nav__list-item_label {
              width: 100%;
              height: 100%;
              opacity: 1;
              z-index: 2;
              top: 0;
              transform: translate(0, 0);
              display: none;
              visibility: hidden;
            }
            &:after {
              content: '';
              display: none;
              visibility: hidden;
              position: absolute;
              left: -70px;
              bottom: 20px;
              width: 0;
              height: 0;
              border-style: solid;    
              transform: rotate(-125deg);
              border-width: 0 10px 20px 10px;
              border-style: solid;
              border-color: transparent transparent $bluemid transparent; 
              line-height: 0px;
              _border-color: $black $black $bluemid $black;
              _filter: progid:DXImageTransform.Microsoft.Chroma(color='$black');
            }
          }
          &.active:hover {
            a {
              animation: blnk 3s infinite;
            }
          }
          &:nth-child(1) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(50deg);
                }
              }
              &:after {
                left: -70px;
                bottom: 80px;
                transform: rotate(-65deg);
              }
            }
          }
          &:nth-child(2) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(25deg);
                }
              }
              &:after {
                left: -78px;
                bottom: 50px;
                transform: rotate(-90deg);
              }
            }
          }
          &:nth-child(3) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(0deg);
                }
              }
              &:after {
                left: -70px;
                bottom: 16px;
                transform: rotate(-120deg);
              }
            }
          }
          &:nth-child(4) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(-25deg);
                }
              }
              &:after {
                left: -44px;
                bottom: -10px;
                transform: rotate(-150deg);
              }
            }
          }
          &:nth-child(5) {
            &.active {
              a {
                img {
                  transform: translate(-50%, -50%) rotate(-50deg);
                }
              }
              &:after {
                left: -10px;
                bottom: -18px;
                transform: rotate(-180deg);
              }
            }
          }
        }
        &.tron {
          li {
            &:nth-of-type(2) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-105%, -540%) rotate(50deg);
                -webkit-transform: translate(-105%, -540%) rotate(50deg);
              }
            }
            &:nth-of-type(3) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-106%, -550%) rotate(50deg);
                -webkit-transform: translate(-106%, -550%) rotate(50deg);
              }
            }
            &:nth-of-type(4) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-106%, -550%) rotate(50deg);
                -webkit-transform: translate(-106%, -550%) rotate(50deg);
              }
            }
            &:nth-of-type(5) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-90%, 70%) rotate(50deg);
                -webkit-transform: translate(-90%, 70%) rotate(50deg);
              }
            }
            &:hover {
              &:nth-of-type(2) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-100%, -500%) rotate(50deg);
                  -webkit-transform: translate(-100%, -500%) rotate(50deg);
                }
              }
              &:nth-of-type(3) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-100%, -500%) rotate(50deg);
                  -webkit-transform: translate(-100%, -500%) rotate(50deg);
                }
              }
              &:nth-of-type(4) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-95%, -455%) rotate(50deg);
                  -webkit-transform: translate(-95%, -455%) rotate(50deg);
                }
              }
              &:nth-of-type(5) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-80%, 10%) rotate(50deg);
                  -webkit-transform: translate(-80%, 10%) rotate(50deg);
                }
              }
            }
          }
        }
        &.trtw {
          li {
            &:nth-of-type(1) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-120%, -300%) rotate(25deg);
                -webkit-transform: translate(-120%, -300%) rotate(25deg);
              }
            }
            &:nth-of-type(3) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-130%, -320%) rotate(25deg);
                -webkit-transform: translate(-130%, -320%) rotate(25deg);
              }
            }
            &:nth-of-type(4) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-135%, -335%) rotate(25deg);
                -webkit-transform: translate(-135%, -335%) rotate(25deg);
              }
            }
            &:nth-of-type(5) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-140%, -360%) rotate(25deg);
                -webkit-transform: translate(-140%, -360%) rotate(25deg);
              }
            }
            &:hover {
              &:nth-of-type(1) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-110%, -265%) rotate(25deg);
                  -webkit-transform: translate(-110%, -265%) rotate(25deg);
                }
              }
              &:nth-of-type(3) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-120%, -290%) rotate(25deg);
                  -webkit-transform: translate(-120%, -290%) rotate(25deg);
                }
              }
              &:nth-of-type(4) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-125%, -300%) rotate(25deg);
                  -webkit-transform: translate(-125%, -300%) rotate(25deg);
                }
              }
              &:nth-of-type(5) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-115%, -270%) rotate(25deg);
                  -webkit-transform: translate(-115%, -270%) rotate(25deg);
                }
              }
            }
          }
        }
        &.trfr {
          li {
            &:nth-of-type(1) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-75%, -250%) rotate(-25deg);
                -webkit-transform: translate(-75%, -250%) rotate(-25deg);
              }
            }
            &:nth-of-type(2) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-135%, 245%) rotate(-25deg);
                -webkit-transform: translate(-135%, 245%) rotate(-25deg);
              }
            }
            &:nth-of-type(3) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-125%, 225%) rotate(-25deg);
                -webkit-transform: translate(-125%, 225%) rotate(-25deg);
              }
            }
            &:nth-of-type(5) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-138%, 280%) rotate(-25deg);
                -webkit-transform: translate(-138%, 280%) rotate(-25deg);
              }
            }
            &:hover {
              &:nth-of-type(1) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-70%, -200%) rotate(-25deg);
                  -webkit-transform: translate(-70%, -200%) rotate(-25deg);
                }
              }
              &:nth-of-type(2) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-120%, 190%) rotate(-25deg);
                  -webkit-transform: translate(-120%, 190%) rotate(-25deg);
                }
              }
              &:nth-of-type(3) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-112%, 185%) rotate(-25deg);
                  -webkit-transform: translate(-112%, 185%) rotate(-25deg);
                }
              }
              &:nth-of-type(5) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-115%, 200%) rotate(-25deg);
                  -webkit-transform: translate(-115%, 200%) rotate(-25deg);
                }
              }
            }
          }
        }
        &.trfv {
          li {
            &:nth-of-type(1) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-90%, -150%) rotate(-50deg);
                -webkit-transform: translate(-90%, -150%) rotate(-50deg);
              }
            }
            &:nth-of-type(2) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-105%, 480%) rotate(-50deg);
                -webkit-transform: translate(-105%, 480%) rotate(-50deg);
              }
            }
            &:nth-of-type(3) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-109%, 500%) rotate(-50deg);
                -webkit-transform: translate(-109%, 500%) rotate(-50deg);
              }
            }
            &:nth-of-type(4) {
              .testi-vertical-carousel-nav__list-item_label {
                transform: translate(-105%, 480%) rotate(-50deg);
                -webkit-transform: translate(-105%, 480%) rotate(-50deg);
              }
            }
            &:hover {
              &:nth-of-type(1) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-80%, -100%) rotate(-50deg);
                  -webkit-transform: translate(-80%, -100%) rotate(-50deg);
                }
              }
              &:nth-of-type(2) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-92%, 370%) rotate(-50deg);
                  -webkit-transform: translate(-92%, 370%) rotate(-50deg);
                }
              }
              &:nth-of-type(3) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-95%, 380%) rotate(-50deg);
                  -webkit-transform: translate(-95%, 380%) rotate(-50deg);
                }
              }
              &:nth-of-type(4) {
                .testi-vertical-carousel-nav__list-item_label {
                  transform: translate(-88%, 340%) rotate(-50deg);
                  -webkit-transform: translate(-88%, 340%) rotate(-50deg);
                }
              }
            }
          }
        }
      }
      .testi-contnt-visible {
        text-align: left;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 0px;
        z-index: 10;
        height: auto;
        opacity: 0;
        -webkit-transition: transform .4s ease;
        transition: all .4s ease;
        transform: rotate(0deg) translateY(-50%) translatex(27%);
        background-color: $white;
        z-index: 5;
        width: 250px;
        h3 {
          font-family: 'Muli', sans-serif;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          color: $bluedrkinr;
          margin-bottom: 7px;
        }
        p {
          font-size: 16px;
          line-height: 23px;
          font-weight: 600;
          text-transform: capitalize;
          color: $black;
          margin-top: 10px;
          margin-bottom: 0;
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
        &.active {
            opacity: 1;
            transform: rotate(0deg) translateY(-50%) translatex(36%);
        }
      }
    }
  }
  // CONSULTANTS
  .consultants {
    clear: both;
    padding: 108px 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    .col-md-10 {
      margin: 0 auto;
    }
    h2 {
      font-size: 4.38rem;
      line-height: 4.5rem;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 5.2rem;
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .exp-carousl {
      clear: both;
      padding: 0;
      margin: 0 -15px;
      .slick-slide img {
        margin: auto;
        max-width: 100%;
      }
      .slick-slide {
        padding: 0 15px;
        * {
          -webkit-transition:all .3s;
          -moz-transition:all .3s;
          -o-transition:all .3s;
          transition:all .3s;
        }
        &:hover {
          figure {
            background-color: $gray-200;
          }
          figure img {
            filter: grayscale(0);
          }
          h4 {
            color: $bluedrk;
          }
          h5 {
            color: $black;
          }
          p.expc {
            color: $black;
          }
          .socials {
          
            li {
              
              svg {
                
                path {
                  fill: $bluedrk;
                }
              }
            }
          }
        }
        figure {
          width: 195px;
          background-color: $white;
          height: 195px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          border: 1px solid $gray-330;
          display: inline-block;
          margin: 0 auto 28px;
          overflow: hidden;
        }
        figure {
          img {
            filter: grayscale(1);
            // cursor: url(/static/images/tab-cursor-s.8b36230b.svg) 25 15, auto;
            cursor: pointer;
          }
        }
        h4{
          font-size: 25px;
          line-height: 30px;
          font-weight: 700;
          clear: both;
          display: block;
          color: $gray-600;
          padding: 0;
          margin: 0 0 7px;
        }
        h5{
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
          clear: both;
          display: block;
          color: $gray-600;
          padding: 0;
          margin: 0 0 16px;
        }
        p.expc {
          font-size: 1.13rem;
          line-height: 1.55rem;
          font-weight: 400;
          clear: both;
          display: block;
          color: $gray-600;
          padding: 0;
          margin: 0;
        }
        .socials {
          text-align: center;
          padding: 0;
          margin: 21px 0 0;
          clear: both;
          display: block;
          li {
            width: 20px;
            height: 18px;
            margin: 0 5px;
            display: inline-block;
            &:first-child {
              width: 15px;
              height: 15px;
              svg {
                width: 15px;
                height: 15px;
              }
            }
            svg {
              width: 20px;
              height: 18px;
              path {
                fill: $gray-600;
              }
            }
            a {
              display: block;
              -webkit-transition:all .3s;
              -moz-transition:all .3s;
              -o-transition:all .3s;
              transition:all .3s;
              &:hover {
                svg {
                  
                  path {
                    fill: $black;
                  }
                }
              }
            }
          }
        }  
      }
      .exp-item {
        font-family: 'Muli', sans-serif;
        width: 100%;
        padding: 0;
        margin: 0;
        &:focus {
          outline: none;
        }
      }
      .slick-current {
        figure {
          background-color: $gray-200;
        }
        figure img {
          filter: grayscale(0);
        }
        h4 {
          color: $bluedrk;
        }
        h5 {
          color: $black;
        }
        p.expc {
          color: $black;
        }
        .socials {
          
          li {
            
            svg {
              
              path {
                fill: $bluedrk;
              }
            }
          }
        }
      }
      
      .slick-dots {
        bottom: auto;
        position: relative;
        margin-top: 2rem;
        li {
          width: 19px;
          height:  19px;
          padding: 0;
          margin: 0;
          button {
            width: 19px;
            height:  19px;
            padding: 0;
            margin: 0;
            &:before {
              opacity: 1;
              font-size: 9px;
              line-height: 19px;
              width: 19px;
              height: 19px;
              color: $gray-450;
            }          
          }
          &.slick-active {
            button {
              &:before {
                opacity: 1;
                color: $bluedrk;
              }
            }
          }
        }
      }
    }
  }
  // PROFITS
  .profits {
    clear: both;
    padding: 101px 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    h2 {
      font-weight: 700;
      font-size: 4.38rem;
      line-height: 4.5rem;
      margin-bottom: 4.6rem;
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    h4 {
      font-size: 35px;
      line-height: normal;
      font-weight: 800;
      color: $bluedrk;
      clear: both;
      display: block;
    }
    .det {
      font-family: 'Muli', sans-serif;
      font-size: 25px;
      line-height: 30px;
      font-weight: 400;
      color: $black;
      display: block;
    }
    .col-md-5,
    .col-md-7 {
      text-align: left;
    }
    .col-md-5 {
      align-self: center;
    }
    .col-md-6{
      float: left;
      padding-top: 22px;
      padding-bottom: 12px;
      position: relative;
      &:before {
        height: 100%;
        width: 1px;
        background-color: $gray-350;
        position: absolute;
        left: -70px;
        top: 0;
        content: '';
      }
      &:first-child:before,
      &:nth-child(3):before {
        display: none;
      }
    }
    .prof-counter {
      margin:  0 -15px;
      clear: both;
      padding: 0;
    }
    .profimg {
      width: 343px;
      background-color: $white;
      height: 343px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 1px solid $gray-330;
      display: inline-block;
      margin: 0;
      overflow: hidden;
    }
    h3 {
      font-size: 35px;
      line-height: 42px;
      font-weight: 700;
      color: $black;
      margin: 0 0 12px;
      padding: 0;
      clear: both;
      display: block;
    }
    p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      color: $black;
      margin: 0 0 16px;
      padding: 0;
      clear: both;
      display: block;
    }
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1499px) {
  .home {
    .hdBan {
      .hdBan_inner {
        .anim {
          // height: 526px;
          height: 570px;
        }
      }
    }
  }
}
@media (max-width: 1366px) {
  .introAnim {
    .hdBan {
      .hdBan_inner {
        .hdBan__video,
        .hdBan__video-2 {
          &.dragged {
            left: calc(45% + 524px);
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .home {
    .hdBan {
      .hdBan_inner {
        .hdBan__row-teaser {
          h1 {
            font-size: 3rem;
            line-height: 4.5rem;
            margin-bottom: 2rem;
            min-height: 230px;
            b {
              font-size: 2.5rem;
              margin-bottom: 0.3rem;
            }
            span {
              font-size: 3rem;
              letter-spacing: -.3rem;
            }
          }
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .customers {
      h2 {
        font-size: 4rem;
      }
      .cust-tab {
        .nav.nav-tabs {
          .nav-item {
            .nav-link {
              padding: 0 25px;
            }
          }
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .pertners {
      h2 {
        font-size: 4rem;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .ideas {
      h2 {
        font-size: 4rem;
      }
      .ideas-cont {
        padding-left: 35px;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .fast-flexible {
      h2 {
        font-size: 4rem;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .testimonials {
      h2 {
        font-size: 4rem;
      }
      .testi-vertical-carousel-nav {
        transform: translateX(15%);
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .profits {
      .det {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1023px) {
  .home {
    .hdBan {
      .hdBan_inner {
        .hdBan__row-teaser {
          h1 {
            font-size: 4rem;
            line-height: 4.5rem;
            margin-bottom: 3rem;
            min-height: 230px;
            b {
              font-size: 2.5rem;
              margin-bottom: 0.3rem;
            }
            span {
              font-size: 3rem;
              letter-spacing: -.2rem;
            }
          }
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .customers {
      h2 {
        font-size: 3rem;
        line-height: normal;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .pertners {
      text-align: center;
      h2 {
        font-size: 3.3rem;
        line-height: normal;
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .row  {
        .col-md-6 {
          max-width: 100%;
          flex: 0 0 100%
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .ideas {
      text-align: center;
      h2 {
        margin-bottom: 76px;
        display: inline-block;
        font-size: 3.3rem;
        line-height: normal;
        br {
          display: none;
          visibility: hidden;
        }
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
        .ideas-cont {
          padding: 0
        }
        &:first-child {
          &:after {
            display: none;
          }
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .fast-flexible {
      h2 {
        font-size: 3.3rem;
        line-height: normal;
        margin-bottom: 3.8rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .testimonials {
      text-align: center;
      .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
        h2 {
          margin-bottom: 76px;
          display: inline-block;
          font-size: 3rem;
          line-height: normal;
          &:after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .testi-content {
        display: none;
      }
      .slick-slider {
        .slick-list {
          .testi-item {
            small {
              display: block;
              margin-bottom: 40px;
              span {
                border-radius: 10rem;
                -webkit-border-radius: 10rem;
                border: 2px solid $gray-500;
                text-align: center;
                background-color: $white;
                font-size: 15px;
                font-weight: 700;
                line-height: normal;
                padding:.22rem 1rem .23rem;
                color: $gray-500;
                display: inline-block;
              }
            }
            figure {
              width: 115px;
              height: 115px;
              margin-left: auto;
              margin-right: auto;
              overflow: hidden;
              cursor: default;
              position: relative;
              animation: blnk 3s infinite;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              margin-bottom: 1.4rem;
              border: 2px solid $bluemid;
              img {
                max-width: 100%;
              }
            }
            .testi-det {
              h4 {
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                color: #184ca1;
                margin-bottom: 0;
              }
              h5 {
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                color: $black;
              }
              p {
                font-size: 18px;
                line-height: 28px;
                font-weight: 300;
                color: $black;
                position: relative;
                padding-top: 65px;
                display: inline-block;
                text-align: center;
                padding-right: 1.3rem;
                padding-left: 1.3rem;
                &:before {
                  position: absolute;
                  width: 28px;
                  height: 28px;
                  content: '“';
                  font-size: 120px;
                  color: $gray-400;
                  font-family: 'Poppins', sans-serif;
                  line-height: 90px;
                  font-weight: 600;
                  left: 50%;
                  transform: translateX(-50%);
                  top: 28px;
                }
                &:after {
                  display: none;
                  visibility: hidden;
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: auto;
          position: relative;
          margin-top: 24px;
          li {
            width: 20px;
            height:  20px;
            padding: 0;
            margin: 0;
            button {
              width: 20px;
              height:  20px;
              padding: 0;
              margin: 0;
              &:before {
                opacity: 1;
                font-size: 12px;
                line-height: 20px;
                width: 20px;
                height: 20px;
                color: $gray-450;
              }          
            }
            &.slick-active {
              button {
                &:before {
                  opacity: 1;
                  color: $bluedrk;
                }
              }
            }
          }
        }
      } 
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .consultants {
      h2 {
        font-size: 3.3rem;
        line-height: normal;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .profits {
      text-align: center;
      h2 {
        font-size: 3.3rem;
        line-height: normal;
      }
      .col-md-5,
      .col-md-7 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
      }
      .profimg {
        margin-bottom: 2rem;
      }
      .col-md-6 {
        text-align: left;
        &:before {
          left: -20px;
        }
      }
      .prof-counter {
        max-width: 32rem;
        margin: 0 auto;
      }
      p {
        margin-bottom: 2.5rem;
      }
    }
  }
}
@media (max-width: 767px) {
  .home {
    .hdBan {
      text-align: center;
      min-height: 86vh;
      margin-left: -15px;
      margin-right: -15px;
      background-image: url(/static/images/globe-trans.png);
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      .hdBan_inner {
        display: block;
        .hdBan__row-teaser {
          max-width: 100%;
          height: auto;
          padding-left: 15px;
          padding-right: 15px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);        
          opacity: 1;
          h1 {
            margin-top: 1.5rem;
            span {
              font-size: 2.8rem;
              line-height: 3rem;
              letter-spacing: -.2rem;
            }
          }
        }
        .anim {
          display: none;
          visibility: hidden;
        }
        .hdBan__video,
        .hdBan__video-2 {
          display: none;
          visibility: hidden;
        }
      }
    }
  
    .introAnim {
      .hdBan {
        min-height: 86vh;
        .hdBan_inner {
          .hdBan__row-teaser {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  
    .customers {
      padding-top: 80px;
      h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 72px;
        &:after {
          height: 4px;
          bottom: -22px;
        }
      }
      .cust-carousl {
<<<<<<< HEAD
  
=======
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
        h4 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        p {
          font-size: 17px;
        }
<<<<<<< HEAD
=======
        figure {
          img {
            max-width: 85%;
          }
        }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
        .cust-det {
          padding: 1.5rem 0 2rem;
        }
      }
    }
  
    .pertners {
      text-align: center;
      padding-top: 80px;
      h2 {
        margin-bottom: 54px;
        margin-top: 0;
        font-size: 2.5rem;
      }
      P {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 35px;
      }
      .part-vertical-carousel-nav {
        transform: translateX(-55%);
        position: relative;
        margin-top: 60px;
        .part-vertical-carousel-nav__list {
          width: 65vh;
          height: 65vh;
          li {
            &:nth-of-type(1) {
              transform: rotate(-45deg) translate(32.5vh) rotate(45deg);
            }
            &:nth-of-type(2) {
              transform: rotate(0deg) translate(32.5vh) rotate(0deg);
            }
            &:nth-of-type(3) {
              transform: rotate(45deg) translate(33vh) rotate(-45deg);
            }
            &.active {
              transform: rotate(0deg) translate(32.5vh) rotate(0deg);
            }
          }
        }
        .part-contnt-visible {
          width: 200px;
          transform: rotate(0deg) translateY(-50%) translatex(30%);
          h3 {
            font-size: 22px;
            margin-bottom: 10px;
          }
          p {
            font-size: 12px;
            line-height: 18px;
          }
          &.active {
              opacity: 1;
              transform: rotate(0deg) translateY(-50%) translatex(12%);
          }
        }
      }
    }
  
    .ideas {
      padding-top: 80px;
      text-align: center;
      .ideas-title{
        top: auto;
        transform: none;
      }
      h2 {
        margin-bottom: 54px;
        font-size: 2.5rem;
        br {
          display: none;
        }
      }
      h5 {
        font-size: 25px;
        line-height: 34px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
      .ideas-cont {
        padding-left: 0;
      }
      .col-md-6:first-child {
        &:after {
          display: none;
          visibility: hidden;
        }
      }
    }
  
    .fast-flexible {
      padding-top: 80px;
      h2 {
        margin-bottom: 52px;
<<<<<<< HEAD
        font-size: 3rem;
        line-height: 3rem;
=======
        font-size: 2.5rem;
        line-height: normal;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
        span {
          margin-bottom: 6px;
        }
      }
      p {
        font-size: 21px;
        line-height: 30px;
      }
    }
  
    .testimonials {
      padding-top: 80px;
      text-align: center;
      h2 {
        margin-bottom: 61px;
        padding: 0 4rem;
        font-size: 3rem;
        font-weight: 300;
      }
      p {
        font-size: 20px;
        line-height: 28px;
        padding-top: 0;
        text-align: left;
        display: inline-block;
        &:before {
          top: -28px;
        }
        &:after {
          bottom: -4px;
          right: 140px;
        }
      }
      .col-md-6 {
        h2 {
          font-size: 2.5rem;
          padding: 0;
<<<<<<< HEAD
=======
          strong {
            font-size: 2.5rem;
          }
          span {
            strong {
              font-size: 1.875rem;
            }
          }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
        }
        &.vm {
          margin-top: 37px;
        }
      }
<<<<<<< HEAD
=======
      .slick-slider {
        .slick-list {
          .testi-item {
            .testi-det {
              p {
                &:before {
                  font-size: 90px;
                  line-height: 90px;
                  top: 20px;
                }
              }
            }
          }
        }
      }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
      .testi-vertical-carousel-nav {
        transform: translateX(23%);
        position: relative;
        margin-top: 60px;
        .testi-vertical-carousel-nav__list {
          width: 65vh;
          height: 65vh;
          li {
            &:nth-of-type(1) {
              transform: rotate(-120deg) translate(32vh) rotate(120deg);
            }
            &:nth-of-type(2) {
              transform: rotate(-150deg) translate(32vh) rotate(150deg);
            }
            &:nth-of-type(3) {
              transform: rotate(-180deg) translate(32vh) rotate(180deg);
            }
            &:nth-of-type(4) {
              transform: rotate(120deg) translate(32.5vh) rotate(-120deg);
            }
            &:nth-of-type(5) {
              transform: rotate(150deg) translate(32.5vh) rotate(-150deg);
            }
            &.active {
              transform: rotate(-180deg) translate(32vh) rotate(180deg);
              a {
                width: 100px;
                height: 100px;
                margin-left: -40px;
                margin-top: -40px;
              }
              &:after {
                display: none;
              }
            }
          }
        }
        .testi-contnt-visible {
          width: 200px;
          transform: rotate(0deg) translateY(-50%) translatex(30%);
          h3 {
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 0;
          }
          p {
            font-size: 14px;
            line-height: 18px;
          }
          &.active {
              opacity: 1;
              transform: rotate(0deg) translateY(-50%) translatex(40%);
          }
        }
      }
      .testi-curved-menu {
        min-height: 450px;
        margin-right: 0;
        .testi-curved-menu_container {
          .testi-curved-menu_container__curve {
            width: 450px;
            height: 450px;
            left: 50px;
          }
        }
        .testi-curved-menu_point {
          &:nth-child(2) {
            top: 11.7%;
            right: 14%; 
          }
          &:nth-child(3) {
            top: 21.9%;
            left: 33%;
          }
          &:nth-child(5) {
            bottom: 21.9%;
            left: 33%;
          }
          &:nth-child(6) {
            bottom: 11.7%;
            right: 14%;
          }
          &.active {
            left: 0;
            width: 120px;
            height: 120px;
            &:after {
              display: none;
            }
            .testi-curved-menu_point__bullet {
              width: 120px;
              height: 120px;
            }
            .img-fluid {
              width: 100px;
              height: 100px;
            }
            span {
              padding-left: 15px;
              font-size: 22px;
              line-height: 25px;
              text-align: left;
              small {
                line-height: normal;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  
    .consultants {
      padding-top: 80px;
      h2 {
        font-size: 2.3rem;
      }
    }
  
    .profits {
      padding-top: 80px;
      h2 {
        font-size: 2.5rem;
      }
      .col-md-6 {
        padding: 10px 0 0;
        text-align: center;
        &:before {
          display: none;
          visibility: hidden;
        }
      }
      .col-md-5,
      .col-md-7 {
        text-align: center;
      }
      h3 {
        font-size: 25px;
        line-height: 38px;
        margin-top: 15px;
      }
      h4 {
        font-size: 30px;
        margin-bottom: 2px;
      }
      p {
        font-size: 22px;
        line-height: 30px;
      }
      .profimg {
        width: 250px;
        height: 250px;
      }
      .det {
        font-size: 22px;
      }
      .c-block {
        display: inline-block;
        background-color: $gray-200;
        margin: 0 auto;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1rem .8rem;
        overflow: hidden;
        width: 65%;
      }
    }
  }
}
@media (max-width: 499px) {
  .home {
    .hdBan {
      background-position: -150% 50%;
      background-size: cover;
    }
<<<<<<< HEAD
=======

>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
    .testimonials {
      h2 {
        padding: 0 2rem;
      }
    }
  }
}