// PAGE BG
.news-room {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/newsroom/bg-nr.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.inr-page {
    &.int-news {
        padding-top: 2.7rem;
    }
}

.news-room {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                    &:first-of-type {
                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }

    // News List
    .news-wrapper {
        clear: both;
        margin: 0rem 0 5rem;
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .news-tab {
            .nav-tabs {
<<<<<<< HEAD
                .nav-item {
                    margin-right: -1px;
=======
                border-top: 1px solid $bluedrkinr;
                border-bottom-color: $bluedrkinr;
                justify-content: center;
                background-color: $white;
                .nav-item {
                    margin: 0px;
                    padding: 0 3.1rem;
                    font-family: "Work Sans", sans-serif;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    &.show {
                        .nav-link {
                            color: $bluedrkinr;
                            background-color: $white;
                            border-color: #dee2e6 #dee2e6 $white;
                            border-top-left-radius: 0rem;
                            border-top-right-radius: 0rem;
                            &.active {
                                color: $bluedrkinr;
                                background-color: $white;
                                border-color: #dee2e6 #dee2e6 $white;
                            }
                        }
                    }
                    .nav-link {
<<<<<<< HEAD
                        background-color: $white;
                        border-color: #dee2e6 #dee2e6;
                        border-top-left-radius: 0rem;
                        border-top-right-radius: 0rem;
                        padding: 1rem 1.5rem;
                        cursor: pointer;
                        &.active {
                            color: $bluedrkinr;
                            background-color: $white;
                            border-color: #dee2e6 #dee2e6 $white;
=======
                        font-size: 20px;
                        line-height: normal;
                        border: none;
                        border-radius: 0px;
                        -webkit-border-radius: 0px;
                        padding: 1.4rem 0 1.45rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        position: relative;
                        -webkit-transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        &.active {
                            color: $bluedrkinr;
                            border: none;
                            &:after {
                                background-color: $yellow;
                            }
                        }
                        &:after {
                            height: 6px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            content: '';
                            -webkit-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                        }
                    }
                }
            }
            .tab-content {
<<<<<<< HEAD
                border: 1px solid #dee2e6;
                text-align: left;
                border-top: none;
                padding: 1rem;
                overflow: hidden;
                .press-releases {
                    clear: both;
                    margin: .5rem 0;
=======
                border: none;
                text-align: left;
                border-top: none;
                padding: 0;
                overflow: hidden;
                .press-releases {
                    clear: both;
                    margin: 2.5rem 0;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    width: 100%;
                    float: left;
                    display: block;
                    text-align: center;
<<<<<<< HEAD
=======
                    h2 {
                        margin-bottom: 4.05rem;
                    }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    .press-wrapper {
                        clear: both;
                        overflow: hidden;
                        .press-col {
                            margin-top: 15px;
                            margin-bottom: 15px;
                            float: left;
                            .press-col_box {
                                position: relative;
                                background-color: $white;
                                padding: 0px 1rem;
                                // box-shadow: 0px 0px 15px $gray-190;
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                box-sizing: border-box;
                                animation-delay: 0.3s;
                                border: 2px solid $gray-160;
                                display: flex;
                                align-items: center;
                                min-height: 180px;
                                transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                                text-align: left;
                                h4 {
                                    font-size: 18px;
                                    line-height: 24px;
                                    color: $gray-775;
                                    font-weight: 300;
                                    margin-bottom: 2rem;
                                }
                                .press-action-row {
                                    position: absolute;
                                    left: 0;
                                    bottom: 10px;
                                    width: 100%;
                                    padding: .7rem 1rem 0;
                                    border-top: 1px solid $gray-160;
                                    .readmore-link {
                                        float: left;
                                        padding: 0;
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        color: $bluedrkinr;
                                        text-decoration: none;
                                        cursor: pointer;
                                        &:hover,
                                        &:focus {
                                            color: $black;   
                                        }
                                    }
                                    .publish-date {
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        width: 50%;
                                        text-align: right;
                                        float: right;
                                        font-style: italic;
                                        color: $gray-775;
                                        font-weight: 300;
                                    }
                                }
                                &:hover {
                                    box-shadow: $grayLow 0px 0px 10px 0.2rem;
                                    outline: 0px;
                                }
                            }
                        }
                        .load-more {
                            margin-top: 2.5rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
                .news-releases {
                    clear: both;
<<<<<<< HEAD
                    margin: .5rem 0;
=======
                    margin: 2.5rem 0 0;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    width: 100%;
                    float: left;
                    display: block;
                    text-align: center;
<<<<<<< HEAD
=======
                    h2 {
                        margin-bottom: 4.05rem;
                    }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    .news-container {
                        clear: both;
                        overflow: hidden;
                        .news-col {
                            margin-top: 15px;
                            margin-bottom: 15px;
                            float: left;
                            .news-col_box {
                                position: relative;
                                background-color: $white;
                                padding: 0;
                                box-sizing: border-box;
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                box-sizing: border-box;
                                animation-delay: 0.3s;
                                border: 2px solid $gray-160;
                                display: flex;
                                align-items: center;
                                min-height: 350px;
                                height: auto;
                                flex-direction: column;
                                transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                                text-align: left;
                                h4 {
                                    font-weight: 500;
                                    font-size: 1.1rem;
                                    line-height: normal;
                                    color: $black;
                                    margin: 0 0 .5rem;
                                    padding: 0 1rem;
                                    width: 100%;
                                }
                                .news-publisher {
                                    font-size: .85rem;
                                    color: $bluedrk;
                                    line-height: normal;
                                    padding: 0 1rem;
                                    display: block;
                                    width: 100%;
                                    font-weight: 300
                                    small {
                                        font-size: 75%;
                                        font-weight: 300;
                                    }
                                }
                                .news-action-row {
                                    position: absolute;
                                    left: 0;
                                    bottom: 10px;
                                    width: 100%;
                                    padding: .7rem 1rem 0;
                                    border-top: 1px solid $gray-160;
                                    .readmore-link {
                                        float: left;
                                        padding: 0;
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        color: $bluedrkinr;
                                        text-decoration: none;
                                        cursor: pointer;
                                        &:hover,
                                        &:focus {
                                            color: $black;   
                                        }
                                    }
                                    .news-date {
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        width: 50%;
                                        text-align: right;
                                        float: right;
                                        font-style: italic;
                                        color: $gray-775;
                                        font-weight: 300;
                                    }
                                }
                                &:hover {
                                    box-shadow: $grayLow 0px 0px 10px 0.2rem;
                                    outline: 0px;
                                }
                            }
                        }
                        .load-more {
                            margin-top: 2.5rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
                .presskit-releases {
                    clear: both;
<<<<<<< HEAD
                    margin: .5rem 0;
=======
                    margin: 2.5rem 0 0;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    width: 100%;
                    float: left;
                    display: block;
                    text-align: center;
<<<<<<< HEAD
=======
                    h2 {
                        margin-bottom: 4.05rem;
                    }
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
                    .presskit-wrapper {
                        clear: both;
                        overflow: hidden;
                        .presskit-container {
                            clear: both;
                            overflow: hidden;
                            .presskit-col {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                float: left;
                                .presskit-col_box {
                                    position: relative;
                                    background-color: $white;
                                    padding: 0px;
                                    // box-shadow: 0px 0px 15px $gray-190;
                                    border-radius: 4px;
                                    -webkit-border-radius: 4px;
                                    box-sizing: border-box;
                                    animation-delay: 0.3s;
                                    border: 2px solid $gray-160;
                                    display: flex;
                                    align-items: center;
                                    min-height: 180px;
                                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                                    text-align: left;
                                    h4 {
                                        font-size: 1.1rem;
                                        line-height: 1.2rem;
                                        color: $black;
                                        font-weight: 600;
                                        margin-bottom: .6rem;
                                        span {
                                            display: block;
                                            font-size: .85rem;
                                            padding-top: .2rem;
                                        }
                                    }
                                    p {
                                        font-size: .77rem;
                                        line-height: normal;
                                        margin-bottom: .8rem;
                                    }
                                    figure {
                                        margin: 0;
                                    }
                                    .dwld-prof {
                                        display: block;
                                        text-align: center;
                                        font-family: 'Work Sans', sans-serif;
                                        font-size: .7rem;
                                        line-height: normal;
                                        font-weight: 600;
                                        text-transform: uppercase;
                                        border-radius: 10rem;
                                        -webkit-border-radius: 10rem;
                                        border: none;
                                        padding: .75rem .85rem .7rem;
                                        transition: all .3s;
                                        position: relative;
                                        overflow: hidden;
                                        box-shadow: none;
                                        outline: none;
                                        z-index: 1;
                                        color: #fff;
                                        margin-left: auto;
                                        margin-right: auto;
                                        margin-top: 0;
                                        margin-bottom: .5rem;
                                        background-color: transparent;
                                        border: none;
                                        cursor: pointer;
                                        text-decoration: none;
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            width: 0%;
                                            height: 100%;
                                            background-color: #e9cd02;
                                            transition: all .3s;
                                            border-radius: 10rem;
                                            z-index: -1;
                                        }
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            background-color: #184ca1;
                                            border-radius: 10rem;
                                            z-index: -2;
                                        }
                                        &:hover,
                                        &:focus {
                                            color: #000;
                                            outline: none;
                                            &:before {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &:hover {
                                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                                        outline: 0px;
                                    }
                                }
                            }
                        }
                        .dwld-resources {
                            width: 100%;
                            text-align: center;
                            margin-top: 1rem;
                            padding: 1.5rem 0 .5rem;
                            border-top: 1px solid #dee2e6;
                            clear: both;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            span {
                                font-size: 1.3rem;
                                color:$black;
                                font-weight: 300;
                                display: inline-block;
                                margin-right: .8rem;
                            }
                            .dwld-all {
                                display: inline-block;
                                text-align: center;
                                font-family: 'Work Sans', sans-serif;
                                font-size: .9rem;
                                line-height: normal;
                                font-weight: 600;
                                text-transform: uppercase;
                                border-radius: 10rem;
                                -webkit-border-radius: 10rem;
                                border: none;
                                padding: 1rem 1.8rem;
                                transition: all .3s;
                                position: relative;
                                overflow: hidden;
                                box-shadow: none;
                                outline: none;
                                z-index: 1;
                                color: #fff;
                                margin-top: 0;
                                margin-bottom: 0;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                text-decoration: none;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 0%;
                                    height: 100%;
                                    background-color: #e9cd02;
                                    transition: all .3s;
                                    border-radius: 10rem;
                                    z-index: -1;
                                }
                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #184ca1;
                                    border-radius: 10rem;
                                    z-index: -2;
                                }
                                &:hover,
                                &:focus {
                                    color: #000;
                                    outline: none;
                                    &:before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .load-more {
                            margin-top: 2.5rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .news-room {
        background-size: auto, 43%;
    }
}

@media (max-width: 1299px) {
    .news-room {
        background-size: auto, 65%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .news-wrapper {
            margin-bottom: 4.5rem;
            margin-top: 2.5rem;
            h2 {
                    margin-bottom: 4rem;
                    font-size: 2.3rem;
            }
           .awards-wrapper {
                .awards-block {
                    .awards-block_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
    }
}
@media (max-width: 1050px) {
}
@media (max-width: 991px) {
    .inr {
        &.news-room {
            .hdBan_inner {
                .hdBan_inner__teaser {
                    h1 {
                        min-height: initial;
                    }
                }
            }
            h2 {
                margin-bottom: 3.5rem;
            }
        }
    }
    .news-room {
        background-size: auto, 80%;
        h2 {
            margin-bottom: 3.5rem;
        }
        .news-wrapper {
            margin-top: 0rem;
            h2 {
                margin-bottom: 3rem;
            }
            .news-carousl {
                border: 1px solid #dee2e6;
                text-align: center;
                padding: 0;
                overflow: hidden;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                margin-top: 2.5rem;
                .news-item {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    h3 {
                        padding: 1.5rem 1rem;
                        border-bottom: 1px solid #cccccc;
                        font-size: 1.3rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $bluedrkinr;
                        margin: 0 0 1rem;
                    }
                    .press-releases,
                    .news-releases,
                    .presskit-releases {
                        overflow: hidden;
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                    .press-wrapper,
                    .news-container,
                    .presskit-wrapper {
                        clear: both;
                        overflow: hidden;
                    }
                    .press-col,
                    .news-col,
                    .presskit-col {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        float: none;
                        display: inline-block;
                        text-align: center;
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    .press-col_box,
                    .news-col_box,
                    .presskit-col_box {
                        position: relative;
                        background-color: $white;
                        padding: 0;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        box-sizing: border-box;
                        animation-delay: 0.3s;
                        border: 2px solid $gray-160;
                        display: flex;
                        align-items: center;
                        min-height: initial;
                        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                        text-align: left;
                    }
                    .press-col_box {
                        flex-direction: column;
                        h4 {
                            font-size: 18px;
                            line-height: 24px;
                            color: $gray-775;
                            font-weight: 300;
                            margin-bottom: 0;
                            margin-top: 1.5rem;
                            padding: 0 1rem;
                        }
                        .press-action-row {
                            width: 100%;
                            padding: .7rem 1rem;
                            margin: 1.5rem 0 0;
                            border-top: 1px solid $gray-160;
                            .readmore-link {
                                float: left;
                                padding: 0;
                                font-size: .9rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: $bluedrkinr;
                                text-decoration: none;
                                cursor: pointer;
                                &:hover,
                                &:focus {
                                    color: $black;   
                                }
                            }
                            .publish-date {
                                font-size: .9rem;
                                font-weight: 400;
                                line-height: 1.5;
                                width: 50%;
                                text-align: right;
                                float: right;
                                font-style: italic;
                                color: $gray-775;
                                font-weight: 300;
                            }
                        }
                        &:hover {
                            box-shadow: $grayLow 0px 0px 10px 0.2rem;
                            outline: 0px;
                        }
                    }
                    .news-col_box {
                        flex-direction: column;
                        padding: 0;
                        h4 {
                            font-weight: 500;
                            font-size: 1.1rem;
                            line-height: normal;
                            color: $black;
                            margin: 0 0 .5rem;
                            padding: 0 1rem;
                            width: 100%;
                        }
                        .news-publisher {
                            font-size: .85rem;
                            color: $bluedrk;
                            line-height: normal;
                            padding: 0 1rem;
                            display: block;
                            width: 100%;
                            font-weight: 300
                            small {
                                font-size: 75%;
                                font-weight: 300;
                            }
                        }
                        .news-action-row {
                            width: 100%;
                            padding: .7rem 1rem;
                            border-top: 1px solid $gray-160;
                            margin: 1.5rem 0 0;
                            .readmore-link {
                                float: left;
                                padding: 0;
                                font-size: .9rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: $bluedrkinr;
                                text-decoration: none;
                                cursor: pointer;
                                &:hover,
                                &:focus {
                                    color: $black;   
                                }
                            }
                            .news-date {
                                font-size: .9rem;
                                font-weight: 400;
                                line-height: 1.5;
                                width: 50%;
                                text-align: right;
                                float: right;
                                font-style: italic;
                                color: $gray-775;
                                font-weight: 300;
                            }
                        }
                        &:hover {
                            box-shadow: $grayLow 0px 0px 10px 0.2rem;
                            outline: 0px;
                        }
                    }
                    .presskit-col_box {
                        padding: 0;
                        h4 {
                            font-size: 1.1rem;
                            line-height: 1.2rem;
                            color: $black;
                            font-weight: 600;
                            margin-bottom: .6rem;
                            span {
                                display: block;
                                font-size: .85rem;
                                padding-top: .2rem;
                            }
                        }
                        p {
                            font-size: .7rem;
                            line-height: normal;
                            margin-bottom: .8rem;
                        }
                        figure {
                            margin: 0;
                        }
                        .dwld-prof {
                            display: block;
                            text-align: center;
                            font-family: 'Work Sans', sans-serif;
                            font-size: .7rem;
                            line-height: normal;
                            font-weight: 600;
                            text-transform: uppercase;
                            border-radius: 10rem;
                            -webkit-border-radius: 10rem;
                            border: none;
                            padding: .75rem .85rem .7rem;
                            transition: all .3s;
                            position: relative;
                            overflow: hidden;
                            box-shadow: none;
                            outline: none;
                            z-index: 1;
                            color: #fff;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 0;
                            margin-bottom: .5rem;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            text-decoration: none;
                            letter-spacing: -.03rem;
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0%;
                                height: 100%;
                                background-color: #e9cd02;
                                transition: all .3s;
                                border-radius: 10rem;
                                z-index: -1;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: #184ca1;
                                border-radius: 10rem;
                                z-index: -2;
                            }
                            &:hover,
                            &:focus {
                                color: #000;
                                outline: none;
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                        &:hover {
                            box-shadow: $grayLow 0px 0px 10px 0.2rem;
                            outline: 0px;
                        }
                    }
                    .presskit-releases {
                        .presskit-container {
                            clear: both;
                            overflow: hidden;
                        }
                        .dwld-resources {
                            width: 100%;
                            text-align: center;
                            margin-top: 1.5rem;
                            padding: 1rem 0 .5rem;
                            border-top: 1px solid #dee2e6;
                            clear: both;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;
                            span {
                                font-size: 1.1rem;
                                color:$black;
                                font-weight: 300;
                                display: inline-block;
                                margin-right: 0;
                                margin-bottom: 1rem;
                            }
                            .dwld-all {
                                display: inline-block;
                                text-align: center;
                                font-family: 'Work Sans', sans-serif;
                                font-size: .9rem;
                                line-height: normal;
                                font-weight: 600;
                                text-transform: uppercase;
                                border-radius: 10rem;
                                -webkit-border-radius: 10rem;
                                border: none;
                                padding: 1rem 1.8rem;
                                transition: all .3s;
                                position: relative;
                                overflow: hidden;
                                box-shadow: none;
                                outline: none;
                                z-index: 1;
                                color: #fff;
                                margin-top: 0;
                                margin-bottom: 0;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                text-decoration: none;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 0%;
                                    height: 100%;
                                    background-color: #e9cd02;
                                    transition: all .3s;
                                    border-radius: 10rem;
                                    z-index: -1;
                                }
                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #184ca1;
                                    border-radius: 10rem;
                                    z-index: -2;
                                }
                                &:hover,
                                &:focus {
                                    color: #000;
                                    outline: none;
                                    &:before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .slick-slider {
                    .slick-prev,
                    .slick-next {
                        top: 36px;
                        width: 30px;
                        height: 30px;
                        z-index: 10;
                    }
                    .slick-prev {
                        left: 5%;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 7px;
                            left: 0;
                            width: 1.3rem;
                            height: 1.5px;
                            transform: rotate(-45deg);
                            background-color: #000;
                            transition: all 0.2s;
                            -webkit-transition: all 0.2s;
                        }
                        &:after {
                            content: '';
                            top: auto;
                            left: 0;
                            bottom: 7px;
                            position: absolute;
                            width: 1.3rem;
                            height: 1.5px;
                            transform: rotate(45deg);
                            background-color: #000;
                            transition: all 0.2s;
                            -webkit-transition: all 0.2s;
                        }
                    }
                    .slick-next {
                        right: 5%;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 7px;
                            width: 1.3rem;
                            height: 1.5px;
                            transform: rotate(45deg);
                            background-color: #000;
                            transition: all 0.2s;
                            -webkit-transition: all 0.2s;
                            right: 0;
                        }
                        &:after {
                            content: '';
                            top: auto;
                            bottom: 7px;
                            right: 0;
                            position: absolute;
                            width: 1.3rem;
                            height: 1.5px;
                            transform: rotate(-45deg);
                            background-color: #000;
                            transition: all 0.2s;
                            -webkit-transition: all 0.2s;
                        }
                    }
                }
            }
            .load-more {
                margin-top: 3.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}
@media (max-width: 767px) {
    .news-room {
        background-size: auto, 65%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .news-wrapper {
            padding-top: 1rem;
            margin-bottom: 4.5rem;
            .news-carousl {
                .news-item {
                    .press-col,
                    .news-col,
                    .presskit-col {
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .awards-wrapper {
                .col-md-4 {
                    width: 100%;
                    border-top: 1px solid #ececec;
                    padding-top: 1.5rem;
                    margin-top: 1rem;
                    &:first-child {
                        border-top: none;
                        padding-top: .5rem;
                        margin-top: 0;
                    }
                }
                .awards-block {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .awards-block_box {
                        figure {
                            width: 100%;
                            overflow: visible;
                        }
                    }
                    .awards-title {
                        h4 {
                            color: $bluedrkinr;
                        }
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: initial;
                        div {
                            opacity: 1;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .news-room {
        background-size: auto, 100%;
        .news-wrapper {
            background-size: auto, 100%;
            h2 {
                font-size: 2rem;
            }
            .awards-wrapper {
                .awards-block {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 339px) {
    .news-room {
        .news-wrapper {
            margin-top: 1rem;
            .awards-wrapper {
                .awards-block {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        div {
                            p {
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    .awards-title {
                        h4 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}