// PAGE BG
.partner {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/partner/bg-pnr.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.inr-page {
    &.our-partners {
        padding-top: 2.7rem;
    }
}
@keyframes arrow-down {
    0% {
        bottom: -5rem;
    }
    100% {
        bottom: -6rem;
    }
}
@keyframes arrow-down-mob {
    0% {
        bottom: -7rem;
    }
    100% {
        bottom: -8rem;
    }
}

// TECHNOLOGY PARTNER
.partner {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
    // Partnerships Beyond Contracts
    .partnerships {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.65rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.7rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            span {
                color: $bluedrkinr;
                font-weight: 700;
            }
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
    }
    // Our Engagement Models
    .eng-models {
        text-align: center;
        clear: both;
        padding: 3rem 0 0;
        h2 {
            margin-bottom: 4.5rem;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4.2rem;
            color: $gray-900;
            font-weight: 400;
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .model-item {
            margin-bottom: 1rem;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            figure {
                margin: 0 auto .88rem;
                width: 66px;
                height: 66px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.315rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 2rem;
                margin-right: 2rem;
                color: $black;
            }
            p {
                font-size: 1.063rem;
                line-height: 1.5rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 0;
                padding-top: 1.5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 200px;
                max-width: 95%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
            &:first-child {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
            }
            &:nth-child(5) {
                h6 {
                    margin-left: 3rem;
                    margin-right: 3rem;
                } 
            }
            &:nth-child(6) {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                } 
            }
        }
    }
    // Why US
    .whyus {
        text-align: center;
        clear: both;
        padding: 4rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 3.25rem;
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .row {
            flex-direction: column;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 3.4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .whyus-item {
            text-align: center;
            margin: 0;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                margin-bottom: 0rem;
                figure {
                    margin: 0 auto .87rem;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                }
                h6 {
                    font-weight: 700;
                    font-size: 1.315rem;
                    line-height: normal;
                    color: $black;
                    margin-bottom: 0;
                    margin-left: 4rem;
                    margin-right: 4rem; 
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    position: relative;
                    display: flex;
                    margin: 0;
                    min-height: 200px;
                    max-width: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0)
                }
                [class*=' hvr-'] img,
                [class^=hvr-] img {
                    vertical-align: top;
                    max-width: 100%
                }
                [class*=' hvr-'] div,
                [class^=hvr-] div {
                    background-color: $blue-lows;
                    padding: 20px;
                    position: absolute;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: 1px solid rgba(0, 0, 0, .1)
                }
                [class*=' hvr-'] div h3,
                [class*=' hvr-'] div p,
                [class^=hvr-] div h3,
                [class^=hvr-] div p {
                    margin: 0;
                    padding: 0
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-family: 'Muli', sans-serif;
                    font-weight: 600;
                    color: $white;
                    padding: 0;
                    margin-bottom: 0;
                    font-size: .95rem;
                    line-height: 1.3rem;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                [class*=' hvr-'] a,
                [class^=hvr-] a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1
                }
                [class*=' hvr-'],
                [class*=' hvr-'] *,
                [class*=' hvr-'] :after,
                [class*=' hvr-'] :before,
                [class*=' hvr-']:after,
                [class*=' hvr-']:before,
                [class^=hvr-],
                [class^=hvr-] *,
                [class^=hvr-] :after,
                [class^=hvr-] :before,
                [class^=hvr-]:after,
                [class^=hvr-]:before {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all .35s ease;
                    transition: all .35s ease
                }
                [class*=' hvr-blocks'] div:after,
                [class*=' hvr-blocks'] div:before,
                [class*=' hvr-blocks']:after,
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks] div:after,
                [class^=hvr-blocks] div:before,
                [class^=hvr-blocks]:after,
                [class^=hvr-blocks]:before {
                    background-color: $primary-low;
                    opacity: 0;
                    position: absolute;
                    content: ''
                }
                [class*=' hvr-blocks']:after,
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks]:after,
                [class^=hvr-blocks]:before {
                    z-index: 1
                }
                [class*=' hvr-blocks']:before,
                [class^=hvr-blocks]:before {
                    top: 15px;
                    right: 15px;
                    bottom: 50%;
                    left: 50%
                }
                [class*=' hvr-blocks']:after,
                [class^=hvr-blocks]:after {
                    bottom: 15px;
                    left: 15px;
                    top: 50%;
                    right: 50%
                }
                [class*=' hvr-blocks'] div,
                [class^=hvr-blocks] div {
                    z-index: 3;
                    background-color: transparent;
                    border-width: 0
                }
                [class*=' hvr-blocks'] div *,
                [class^=hvr-blocks] div * {
                    opacity: 0
                }
                [class*=' hvr-blocks'] div:after,
                [class*=' hvr-blocks'] div:before,
                [class^=hvr-blocks] div:after,
                [class^=hvr-blocks] div:before {
                    height: 50%;
                    width: 50%;
                    z-index: -1
                }
                [class*=' hvr-blocks'] div:before,
                [class^=hvr-blocks] div:before {
                    top: 0;
                    left: 0
                }
                [class*=' hvr-blocks'] div:after,
                [class^=hvr-blocks] div:after {
                    bottom: 0;
                    right: 0
                }
                [class*=' hvr-blocks'] a,
                [class^=hvr-blocks] a {
                    z-index: 3;
                    cursor: pointer;
                }
                [class*=' hvr-blocks']:hover div:after,
                [class*=' hvr-blocks']:hover div:before,
                [class*=' hvr-blocks']:hover:after,
                [class*=' hvr-blocks']:hover:before,
                [class^=hvr-blocks]:hover div:after,
                [class^=hvr-blocks]:hover div:before,
                [class^=hvr-blocks]:hover:after,
                [class^=hvr-blocks]:hover:before {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                    opacity: .96
                }
                [class*=' hvr-blocks']:hover div *,
                [class^=hvr-blocks]:hover div * {
                    opacity: 1;
                    -webkit-transition-delay: .25s;
                    transition-delay: .25s
                }            
                .hvr-blocks-out:before {
                    -webkit-transform: translate(-100%, 100%);
                    transform: translate(-100%, 100%)
                }                
                .hvr-blocks-out:after {
                    -webkit-transform: translate(100%, -100%);
                    transform: translate(100%, -100%)
                }                
                .hvr-blocks-out div:before {
                    -webkit-transform: translate(100%, 100%);
                    transform: translate(100%, 100%)
                }                
                .hvr-blocks-out div:after {
                    -webkit-transform: translate(-100%, -100%);
                    transform: translate(-100%, -100%)
                }
                &:first-child,
                &:last-child {
                    h6 {
                        margin-left: 3rem;
                        margin-right: 3rem; 
                    }
                }
                &:nth-child(4) {
                    h6 {
                        margin-left: 5rem;
                        margin-right: 5rem; 
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 4rem;
                        margin-right: 4rem; 
                    }
                }
            } 
        }
    }
    // Our Process
    .our-process {
        text-align: center;
        clear: both;
        padding: 4.75rem 0 0;
        h2 {
            margin-bottom: 6.3rem;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.8rem;
            padding-top: .7rem;
            margin-bottom: 3.4rem;
            color: $gray-900;
            font-weight: 400;
        }
        .col-md-8 {
            margin-left: auto;
            margin-right: auto;
        }
        .process {
            clear: both;
            width: 100%;
            padding: 0;
            .process-flow {
                position: relative;
                margin: 0 auto;
                padding: 0;
                width: 100%;
                max-width: 660px;
                ul.process-list {
                    clear: both;
                    list-style: none;
                    padding: 0;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;
                    li {
                        display: inline-block;
                        width: 10.625rem;
                        height: 10.625rem;
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        margin: 0 1.562rem 2.8rem;
                        padding: 0;
                        overflow: hidden;
                        .process-item {
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                            width: 100%;
                            height: 100%;
                            flex-direction: column;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            overflow: hidden;
                            figure {
                                margin: 0 auto .5rem;
                                max-width: 100%;
                                width: 48px;
                                height: 48px;
                                position: relative;
                                left: auto;
                                top: auto;
                                img {
                                    max-width: 100%;
                                }
                            }
                            h3 {
                                font-family: "Work Sans", sans-serif;
                                font-size: 1.2rem;
                                line-height: normal;
                                color: $white;
                                font-weight: 600;
                            }
                            &:after{
                                display: none;
                                visibility: hidden;
                            }
                        }
                        &:nth-child(1) {
                            background-color: $bluedrkinr;
                        }
                        &:nth-child(2) {
                            background-color: $redsDrk;
                        }
                        &:nth-child(3) {
                            background-color: $grnsLght;
                        }
                        &:nth-child(4) {
                            background-color: $redsLght;
                        }
                        &:nth-child(5) {
                            background-color: $grnsDrk;
                        }
                        &:nth-child(6) {
                            background-color: $bluLght;
                        }
                        &:nth-child(7) {
                            background-color: $bluedrkinr;
                        }
                        &:nth-child(8) {
                            background-color: $redsDrk;
                        }
                        &:nth-child(9) {
                            background-color: $grnsLght;
                        }
                        &:nth-child(10) {
                            background-color: $redsLght;
                        }
                        &:nth-child(11) {
                            background-color: $grnsDrk;
                        }
                        &:nth-child(12) {
                            background-color: $bluLght;
                        }
                    }
                    &:after {
                        height: 83px;
                        width: 42px;
                        background-color: transparent;
                        position: absolute;
                        left: 50%;
                        content: '';
                        transform: translateX(-50%);
                        background-image: url(/static/images/process/application-development/process-arrow.png);
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        animation: arrow-down 1000ms linear infinite alternate;
                    }
                }
                ul.process-list_next {
                    clear: both;
                    padding: 0;
                    margin: 9.5rem auto 5.5rem;
                    list-style: none;
                    text-align: center;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    flex-direction: row;
                    li {
                        width: 130px;
                        margin: 0 3rem;
                        figure {
                            width: 65px;
                            height: 65px;
                            margin: 0 auto 1rem;
                            position: relative;
                            top: auto;
                            left: auto;
                            img {
                                max-width: 100%;
                            }
                        }
                        h4 {
                            font-family: "Work Sans", sans-serif;
                            font-size: 1.32rem;
                            line-height: normal;
                            color: $black;
                            font-weight: 400;
                            margin: 0 auto;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .btn {
            margin: 2.4rem auto 0;
            padding: 1.33rem 2.85rem;
            font-size: 1.12rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            color: $white;
            font-weight: 600;
            &:hover {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
    // Technologies
    .technologies {
        text-align: center;
        clear: both;
        padding: 6.8rem 0 0;
        h2 {
            margin-bottom: 3.25rem;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4.2rem;
            color: $gray-900;
            font-weight: 400;
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .tech-item {
            text-align: center;
            padding: 0;
            margin: 0 auto;
            li {
                display: inline-block;
                margin: 0 45px 40px;
                text-align: center;
                vertical-align: top;
                figure {
                    margin: 0;
                    img {
                        max-width: 100%;
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
                        filter: grayscale(100%);
                        transition: all 0.5s ease;
                    }
                }
                &:hover {
                    figure {
                        img {
                            -webkit-filter: grayscale(0%);
                            -moz-filter: grayscale(0%);
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
        .btn {
            margin: 1.45rem auto 0;
            padding: 1.33rem 2.85rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            color: $white;
            font-size: 1.12rem;
            font-weight: 600;
            &:hover {
                color: $black;
                box-shadow: none;
                outline: none;
            }
        }
    }
}
@media (max-width: 1450px) {
    .partner {
        background-size: auto, 45%;
    }
}
@media (max-width: 1299px) {
    .partner {
        background-size: auto, 55%;
    }
}
@media (max-width: 1050px) {
    .partner {
        .partnerships {
            h2 {
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }
        .eng-models {
            padding-top: 3rem;
            p {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                line-height: 1.8rem;
            }
            .model-item {
                h6 {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: 200px;
                }
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                &:nth-child(5) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.315rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
        .our-process {
            .process {
                .btn {
                    margin-top: 3rem;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .applc-development {
        .our-process {
            padding-top: 3rem;
            h2 {
                margin-bottom: 5.5rem;
            }
            h3 {
                font-family: "Work Sans", sans-serif;
                font-size: 1.8rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 4rem;
            }
            .process {
                p {
                    font-size: 1.5rem;
                    margin-bottom: 3rem;
                    line-height: 2.2rem;
                }
                .process-flow {
                    display: block;
                    visibility: visible;
                    position: relative;
                    .slick-slider {
                        .slick-slide {
                            .process-items {
                                width: 100%;
                                max-width: 10.625rem;
                                height: 10.625rem;
                                border-radius: 100%;
                                -webkit-border-radius: 100%;
                                margin: 0 1.562rem 2.8rem;
                                padding: 0;
                                overflow: hidden;
                                .process-flex {
                                    display: flex;
                                    justify-content: center;
                                    justify-items: center;
                                    flex-direction: column;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    -webkit-border-radius: 100%;
                                }
                                figure {
                                    margin: 0 auto .5rem;
                                    max-width: 100%;
                                    width: 48px;
                                    height: 48px;
                                    position: relative;
                                    left: auto;
                                    top: auto;
                                    img {
                                        max-width: 100%;
                                    }
                                }
                                h3 {
                                    font-family: "Work Sans", sans-serif;
                                    font-size: 1.2rem;
                                    line-height: normal;
                                    color: $white;
                                    font-weight: 600;
                                    margin-bottom: 0;
                                }
                                &:after{
                                    display: none;
                                    visibility: hidden;
                                }
                            }
                            &:nth-child(1) {
                                .process-items {
                                    background-color: $bluedrkinr;
                                }
                            }
                            &:nth-child(2) {
                                .process-items {
                                    background-color: $redsDrk;
                                }
                            }
                            &:nth-child(3) {
                                .process-items {
                                    background-color: $grnsLght;
                                }
                            }
                            &:nth-child(4) {
                                .process-items {
                                    background-color: $redsLght;
                                }
                            }
                            &:nth-child(5) {
                                .process-items {
                                    background-color: $grnsDrk;
                                }
                            }
                            &:nth-child(6) {
                                .process-items {
                                    background-color: $bluLght;
                                }
                            }
                            &:nth-child(7) {
                                .process-items {
                                    background-color: $bluedrkinr;
                                }
                            }
                            &:nth-child(8) {
                                .process-items {
                                    background-color: $redsDrk;
                                }
                            }
                            &:nth-child(9) {
                                .process-items {
                                    background-color: $grnsLght;
                                }
                            }
                            &:nth-child(10) {
                                .process-items {
                                    background-color: $redsLght;
                                }
                            }
                            &:nth-child(11) {
                                .process-items {
                                    background-color: $grnsDrk;
                                }
                            }
                            &:nth-child(12) {
                                .process-items {
                                    background-color: $bluLght;
                                }
                            }
                        }
                        .slick-dots {
                            bottom: auto;
                            position: relative;
                            margin-top: 0;
                            li {
                              width: 20px;
                              height:  20px;
                              padding: 0;
                              margin: 0;
                              button {
                                width: 20px;
                                height:  20px;
                                padding: 0;
                                margin: 0;
                                &:before {
                                  opacity: 1;
                                  font-size: 12px;
                                  line-height: 20px;
                                  width: 20px;
                                  height: 20px;
                                  color: $gray-450;
                                }          
                              }
                              &.slick-active {
                                button {
                                  &:before {
                                    opacity: 1;
                                    color: $bluedrk;
                                  }
                                }
                              }
                            }
                        }
                        &:after {
                            height: 83px;
                            width: 42px;
                            background-color: transparent;
                            position: absolute;
                            left: 50%;
                            content: '';
                            transform: translateX(-50%);
                            background-image: url(/static/images/process/application-development/process-arrow.png);
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            animation: arrow-down-mob 1000ms linear infinite alternate;
                        }
                    }
                    ul.process-list_next {
                        margin-top: 11.5rem;
                        margin-bottom: 3.5rem;
                    }
                }
                .btn {
                    margin-top: 2rem;
                }
            }
        }
        .technologies {
            h2 {
                margin-bottom: 4rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 4rem;
                line-height: 2.2rem;
            }
            .tech-item {
                li {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    figure {
                        img {
                            max-width: 70%;
                        }
                    }
                }
            }
            .btn {
                margin-top: 4.5rem;
            }
        }
        // &.applc-development {
        //     background-size: auto, 70%;
        // }
    }
}
@media (max-width: 991px) {
    .partner {
        background-size: auto, 80%;
        .eng-models {
            padding-top: 2rem;
            .model-item {
                margin-bottom: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                h6 {
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
                figure {
                    margin-bottom: 1.5rem;
                }
                &:first-child,
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(8) {
                    h6 {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                &:nth-child(2) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
                p {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding-top: 1rem;
                    letter-spacing: -.01rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .partner {
        background-size: contain;
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.55rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .partnerships {
            padding-top: 4rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
            }
        }
        .eng-models {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 3rem;
            }
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
                padding-top: 1rem;
            }
            .model-item {
                margin-bottom: 0rem;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h6 {
                    font-size: 1.5rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    letter-spacing: -.5px;
                }
                p {
                    font-size: 1.2rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    max-width: 100%;
                    border-top: 1px solid #ececec;
                    padding-top: 2rem;
                    margin-top: 1rem;
                    margin-bottom: .5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        p {
                            font-size: 1.02rem;
                            line-height: 1.5rem;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        height: auto;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        transform: none;
                        display: none;
                        visibility: hidden;
                    }
                }
                &:first-child {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        border-top: none;
                        padding-top: 0;
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                }
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
}
@media (max-width: 339px) {
    .partner {
        .eng-models {
            .model-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}