// PAGE BG
.product-eng {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/prdt-eng/bg-pe.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.inr-page {
    &.product-engineering {
        padding-top: 2.7rem;
    }
}

.product-eng {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                    &:first-of-type {
                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    // Technology Partner Product Lifecycle
    .tech_partnr {
        clear: both;
        padding: 0.8rem 0 0;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 3.5rem;
            &:after {
                display: none;
            }
        }
        h4 {
            font-size: 1.877rem;
            line-height: 3rem;
            font-weight: 400;
            color: $black;
        }
        h5 {
            font-size: 1.5rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $black;
            strong {
                font-size: 1.7rem;
                font-weight: 800;
                color: $bluedrkinr;
            }
        }
    }
    // Our End-to-End Solutions
    .solution {
        text-align: center;
        clear: both;
        padding: 6.75rem 0 0;
        h5 {
            font-size: 1.63rem;
            line-height: 2.3rem;
            color: $black;
            padding-top: .7rem;
            text-align: left;
        }
        .prdt-item {
            margin-bottom: 1rem;
            figure {
                margin: 0 auto 1rem;
                width: 75px;
                height: 75px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.24rem;
                line-height: 1.4rem;
                margin-bottom: 0;
                margin-left: .5rem;
                margin-right: .5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                    font-size: .9rem;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 210px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 10px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        padding: 0;
                        margin-bottom: 0;
                        font-size: 1rem;
                        line-height: normal;
                        position: relative;
                        cursor: default;
                        letter-spacing: -.05rem;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }

            // [class*=' hvr-'],
            // [class*=' hvr-'] *,
            // [class*=' hvr-'] :after,
            // [class*=' hvr-'] :before,
            // [class*=' hvr-']:after,
            // [class*=' hvr-']:before,
            // [class^=hvr-],
            // [class^=hvr-] *,
            // [class^=hvr-] :after,
            // [class^=hvr-] :before,
            // [class^=hvr-]:after,
            // [class^=hvr-]:before {
            //     -webkit-box-sizing: border-box;
            //     box-sizing: border-box;
            //     -webkit-transition: all .35s ease;
            //     transition: all .35s ease
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class*=' hvr-blocks'] div:before,
            // [class*=' hvr-blocks']:after,
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks] div:after,
            // [class^=hvr-blocks] div:before,
            // [class^=hvr-blocks]:after,
            // [class^=hvr-blocks]:before {
            //     background-color: $primary-low;
            //     opacity: 0;
            //     position: absolute;
            //     content: ''
            // }
            // [class*=' hvr-blocks']:after,
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks]:after,
            // [class^=hvr-blocks]:before {
            //     z-index: 1
            // }
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks]:before {
            //     top: 0px;
            //     right: 0px;
            //     bottom: 50%;
            //     left: 50%
            // }
            // [class*=' hvr-blocks']:after,
            // [class^=hvr-blocks]:after {
            //     bottom: 0px;
            //     left: 0px;
            //     top: 50%;
            //     right: 50%
            // }
            // [class*=' hvr-blocks'] div,
            // [class^=hvr-blocks] div {
            //     z-index: 3;
            //     background-color: transparent;
            //     border-width: 0
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class*=' hvr-blocks'] div:before,
            // [class^=hvr-blocks] div:after,
            // [class^=hvr-blocks] div:before {
            //     height: 50%;
            //     width: 50%;
            //     z-index: -1
            // }
            // [class*=' hvr-blocks'] div:before,
            // [class^=hvr-blocks] div:before {
            //     top: 0;
            //     left: 0
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class^=hvr-blocks] div:after {
            //     bottom: 0;
            //     right: 0
            // }
            // [class*=' hvr-blocks']:hover div:after,
            // [class*=' hvr-blocks']:hover div:before,
            // [class*=' hvr-blocks']:hover:after,
            // [class*=' hvr-blocks']:hover:before,
            // [class^=hvr-blocks]:hover div:after,
            // [class^=hvr-blocks]:hover div:before,
            // [class^=hvr-blocks]:hover:after,
            // [class^=hvr-blocks]:hover:before {
            //     -webkit-transform: translate(0, 0);
            //     transform: translate(0, 0);
            //     opacity: .96
            // }
            // .hvr-blocks-out:before {
            //     -webkit-transform: translate(-100%, 100%);
            //     transform: translate(-100%, 100%)
            // }                
            // .hvr-blocks-out:after {
            //     -webkit-transform: translate(100%, -100%);
            //     transform: translate(100%, -100%)
            // }                
            // .hvr-blocks-out div:before {
            //     -webkit-transform: translate(100%, 100%);
            //     transform: translate(100%, 100%)
            // }                
            // .hvr-blocks-out div:after {
            //     -webkit-transform: translate(-100%, -100%);
            //     transform: translate(-100%, -100%)
            // }
            &:last-child {
                figure {
                    width: 85px;
                }
            }
        }
        .btn {
            margin-top: 1.87rem;
            border-radius: 10rem;
            font-size: 1.12rem;
            font-weight: 700;
            color: $white;
            padding: 1.33rem 2.85rem;
            &:hover,
            &:focus {
                box-shadow: none;
                outline: none;
                color: $black;
            }
        }
    }
    // Our Software Re-engineering Solutions
    .soft-solutions {
        text-align: center;
        clear: both;
        padding: 7.5rem 0 0;
        .col-md-10 {
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            margin-bottom: 5.15rem;
        }
        p {
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.6rem;
            color: $black;
            margin-bottom: 3.3rem;
        }
        .soft-item {
            text-align: center;
            margin: 0 0 4.3rem;
            padding: 0;
            clear: both;
            li {
                list-style: none;
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                figure {
                    margin: 0 auto 1.2rem;
                    width: 75px;
                    height: 75px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.32rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 1.5rem;
                margin-right: 1.5rem; 
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 230px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }


            // [class*=' hvr-'],
            // [class*=' hvr-'] *,
            // [class*=' hvr-'] :after,
            // [class*=' hvr-'] :before,
            // [class*=' hvr-']:after,
            // [class*=' hvr-']:before,
            // [class^=hvr-],
            // [class^=hvr-] *,
            // [class^=hvr-] :after,
            // [class^=hvr-] :before,
            // [class^=hvr-]:after,
            // [class^=hvr-]:before {
            //     -webkit-box-sizing: border-box;
            //     box-sizing: border-box;
            //     -webkit-transition: all .35s ease;
            //     transition: all .35s ease
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class*=' hvr-blocks'] div:before,
            // [class*=' hvr-blocks']:after,
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks] div:after,
            // [class^=hvr-blocks] div:before,
            // [class^=hvr-blocks]:after,
            // [class^=hvr-blocks]:before {
            //     background-color: $primary-low;
            //     opacity: 0;
            //     position: absolute;
            //     content: ''
            // }
            // [class*=' hvr-blocks']:after,
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks]:after,
            // [class^=hvr-blocks]:before {
            //     z-index: 1
            // }
            // [class*=' hvr-blocks']:before,
            // [class^=hvr-blocks]:before {
            //     top: 15px;
            //     right: 15px;
            //     bottom: 50%;
            //     left: 50%
            // }
            // [class*=' hvr-blocks']:after,
            // [class^=hvr-blocks]:after {
            //     bottom: 15px;
            //     left: 15px;
            //     top: 50%;
            //     right: 50%
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class*=' hvr-blocks'] div:before,
            // [class^=hvr-blocks] div:after,
            // [class^=hvr-blocks] div:before {
            //     height: 50%;
            //     width: 50%;
            //     z-index: -1
            // }
            // [class*=' hvr-blocks'] div:before,
            // [class^=hvr-blocks] div:before {
            //     top: 0;
            //     left: 0
            // }
            // [class*=' hvr-blocks'] div:after,
            // [class^=hvr-blocks] div:after {
            //     bottom: 0;
            //     right: 0
            // }
            // [class*=' hvr-blocks']:hover div:after,
            // [class*=' hvr-blocks']:hover div:before,
            // [class*=' hvr-blocks']:hover:after,
            // [class*=' hvr-blocks']:hover:before,
            // [class^=hvr-blocks]:hover div:after,
            // [class^=hvr-blocks]:hover div:before,
            // [class^=hvr-blocks]:hover:after,
            // [class^=hvr-blocks]:hover:before {
            //     -webkit-transform: translate(0, 0);
            //     transform: translate(0, 0);
            //     opacity: .96
            // }            
            // .hvr-blocks-out:before {
            //     -webkit-transform: translate(-100%, 100%);
            //     transform: translate(-100%, 100%)
            // }                
            // .hvr-blocks-out:after {
            //     -webkit-transform: translate(100%, -100%);
            //     transform: translate(100%, -100%)
            // }                
            // .hvr-blocks-out div:before {
            //     -webkit-transform: translate(100%, 100%);
            //     transform: translate(100%, 100%)
            // }                
            // .hvr-blocks-out div:after {
            //     -webkit-transform: translate(-100%, -100%);
            //     transform: translate(-100%, -100%)
            // }
        }
        .btn {
            margin: 0 auto;
            border-radius: 10rem;
            font-size: 1.12rem;
            font-weight: 700;
            color: $white;
            padding: 1.33rem 2.85rem;
            &:hover,
            &:focus {
                box-shadow: none;
                outline: none;
                color: $black;
            }
        }
    }
}

@media (max-width: 1450px) {
    .product-eng {
        background-size: auto, 55%;
    }
}

@media (max-width: 1299px) {
    .product-eng {
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .tech_partnr {
            padding-top: 2rem;
        }
        .solution {
            .btn {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
        .soft-solutions {
            .soft-item {
                h6 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            .btn {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
    }
}
@media (max-width: 1050px) {
}
@media (max-width: 991px) {
    .inr {
        &.product-eng {
            h2 {
                margin-bottom: 3.5rem;
            }
        }
    }
    .product-eng {
        h2 {
            margin-bottom: 3.5rem;
        }
        .solution {
            h5 {
                margin-bottom: 2rem;
                text-align: center;
            }
            .col-md-4,
            .col-md-8 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .prdt-item {
                [class*=' hvr-'],
                [class^=hvr-] {
                    div {
                        p {
                            font-size: .77rem;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
        .soft-solutions {
            .soft-item {
                h6 {
                    font-size: 1.08rem;
                    margin-left: 0;
                    margin-right: 0;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .product-eng {
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                            left: 50%;
                        }
                    }
                }
            }
        }
        .tech_partnr {
            padding-top: 3.65rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                letter-spacing: -.15rem;
            }
            h4 {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: center;
                margin-bottom: 2rem;
            }
            h5 {
                font-size: 1.3rem;
                line-height: 2rem;
                text-align: center;
                letter-spacing: -.06rem;
                strong {
                    font-size: 1.5rem;
                }
            }
        }
        .solution {
            padding-top: 3.65rem;
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
                line-height: 2rem;
            }
            .prdt-item {
                margin-bottom: 0;
                h6 {
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    max-width: 100%;                    
                    border-top: 1px solid #ececec;
                    padding-top: 1.5rem;
                    margin-top: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        p {
                            font-size: 1.02rem;
                            line-height: 1.5rem;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        height: auto;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        transform: none;
                        display: none;
                        visibility: hidden;
                    }
                }
                &:first-child {
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        border-top: none;
                        margin-top: 0;
                        padding-top: 1rem;
                    }
                }
            }
            .btn {
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 3rem;
            }
        }
        .soft-solutions {
            padding-top: 4.3rem;
            h2 {
                margin-bottom: 3.35rem;
            }
            p {
                margin-bottom: 1.4rem;
            }
            .soft-item {
                margin-bottom: 2.25rem;
                li {
                    width: 100%;
                    padding-bottom: 0rem;
                    border-top: 1px solid #ececec;
                    padding-top: 1rem;
                    margin-top: 1rem;
                    figure {
                        margin-bottom: .5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        min-height: 190px;
                        max-width: 100%;
                    }
                    [class*=' hvr-blocks'],
                    [class^=hvr-blocks] {
                        div {
                            * {
                                opacity: 1;
                            }
                        }
                        .awards-action {
                            position: relative;
                            width: 100%;
                            text-align: center;
                            height: auto;
                            left: auto;
                            right: auto;
                            top: auto;
                            bottom: auto;
                            transform: none;
                            display: none;
                            visibility: hidden;
                        }
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.01rem;
                        line-height: 1.3rem;
                    }
                    &:first-child {
                        border-top: none;
                        margin-top: 0;
                        padding-top: 1rem;
                    }
                }
                h6 {
                    font-size: 1.3rem;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    margin-bottom: .5rem;
                    color: $bluedrkinr;
                    line-height: normal;
                }
            }
            .btn{
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 1rem;
            }
        }
    }
}
@media (max-width: 499px) {
}