// PAGE BG
.remote-team {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/remote-team/bg-rt.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.inr-page {
    &.remote-teams {
        padding-top: 2.7rem;
    }
}

.remote-team {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    em {
                        font-size: 4.06rem;
                        font-weight: 300;
                        font-style: normal;
                    }
                }
            }
        }
    }
    // EXTENDED TEAM
    .extend-team {
        clear: both;
        padding: 1rem 0 0;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 4.7rem;
            &:after {
                display: none;
            }
        }
        h4 {
            font-size: 21px;
            line-height: normal;
            font-weight: 700;
            color: $black;
            margin: 1.5rem 0;
        }
        .features-list {
            text-align: center;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                vertical-align: top;
                padding: 1rem 2rem;
                width: 25%;
                h4 {
                    padding: 0 2.5rem;
                }
                &:nth-child(3) h4 {
                    padding: 0 .8rem;
                }
                &:nth-child(5) h4 {
                    padding: 0 3rem;
                }
                &:last-child h4 {
                    padding: 0 2.5rem;
                }
                figure {
                    margin: 0 auto;
                    width: 4.5rem;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    // EFFICIENT & EFFECTIVE EXECUTION THROUGH
    .execution {
        text-align: center;
        clear: both;
        padding: 6.7rem 0 0;
        h5 {
            font-size: 1.63rem;
            line-height: 2.3rem;
            color: $black;
            padding-top: .7rem;
            text-align: left;
        }
        .execution-tab {
            margin: 0;
            width: 100%;
            clear: both;
            .execution-tab_wrapper {
                display: flex;
                height: 100%;
                .col-md-3,
                .col-md-9 {
                    float: left;
                }
                .col-md-3 {
                    height: 100%;
                }
                .nav {
                    font-family: 'Muli', sans-serif;
                    padding: 0;
                    margin: 0;
                    border: none;
                    border-right: 1px solid $gray-325;
                    height: 100%;
                    .nav-item {
                        list-style: none;
                        margin: 0;
                        .nav-link {
                            font-size: 1.5rem;
                            line-height: normal;
                            font-weight: 700;
                            color: $gray-525;
                            padding: 0;
                            margin: 3.5rem 0;
                            text-transform: none;
                            border: none;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            &.active {
                                font-size: 35px;
                                color: $bluedrkinr;
                                background-color: transparent;
                                &:after {
                                    background-color: $bluedrkinr;
                                }
                            }
                            &:after {
                                width: 11px;
                                height: 11px;
                                border-radius: 100%;
                                content: '';
                                position: absolute;
                                overflow: hidden;
                                top: 50%;
                                right: -6px;
                                transform: translateY(-50%);
                                background-color: $gray-175;
                                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            }
                        }
                    }
                }
                .execution-list {
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    li {
                        width: 50%;
                        display: inline-block;
                        padding: 0 3rem;
                        vertical-align: top;
                        margin-bottom: 1rem;
                        figure {
                            width: 4.5rem;
                            height: auto;
                            margin: 0 auto 14px;
                            img {
                                max-width: 100%;
                            }
                        }
                        h4 {
                            padding: 0;
                            margin: 0 0 5px;
                            font-size: 21px;
                            line-height: 29px;
                            font-weight: 800;
                            color: $black;
                        }
                        p {
                            font-size: 17px;
                            line-height: 24px;
                            font-weight: 600;
                            color: $black;
                            padding: 0 2rem 1.85rem;
                            margin: 0;
                        }
                        .awards-action {
                            clear: both;
                            overflow: hidden;
                            text-align: center;
                            a {
                                display: inline-block;
                                margin: 0 auto;
                                color: $bluedrkinr;
                                cursor: pointer;
                            }
                        }
                        [class*=' hvr-'],
                        [class^=hvr-] {
                            position: relative;
                            display: flex;
                            box-sizing: border-box;
                            margin: 0;
                            min-height: 180px;
                            max-width: 100%;
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            -webkit-transform: translateZ(0);
                            transform: translateZ(0);
                            img {
                                vertical-align: top;
                                max-width: 100%
                            }
                            div {
                                box-sizing: border-box;
                                background-color: rgba(255,255,255,0.97);
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                -webkit-transition: all 0.4s ease-in-out;
                                transition: all 0.4s ease-in-out;
                                padding: 15px;
                                overflow: hidden;
                                border-radius: 3px;
                                -webkit-border-radius: 3px;
                                position: absolute;
                                text-align:center;
                                top: 15px;
                                bottom: 15px;
                                left: 15px;
                                right: 15px;
                                border: none;
                                z-index: 3;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                                h3, p {
                                    margin: 0;
                                    padding: 0
                                }
                                p {
                                    font-family: 'Muli', sans-serif;
                                    font-weight: 600;
                                    color: $gray-900;
                                    font-size: 1.1rem;
                                    line-height: 1.5rem;
                                    padding: 0;
                                    margin-bottom: 0;
                                    position: relative;
                                    cursor: default;
                                }
                                a {
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    z-index: 1;
                                    cursor: pointer;
                                }
                            }
                        }
                        [class*=' hvr-blocks'],
                        [class^=hvr-blocks] {
                            div {
                                z-index: 3;
                                border-width: 0;
                                * {
                                    opacity: 0
                                }
                                a {
                                    z-index: 3
                                }
                            }
                            &:hover {     
                                div, * {
                                    opacity: 1;
                                    -webkit-transition-delay: .15s;
                                    transition-delay: .15s;
                                    transition: all 0.4s ease-in;
                                    -webkit-transition: all 0.4s ease-in;
                                }
                            }
                            .awards-action {
                                opacity: 1;
                                position: relative;
                                padding: 0;
                                background-color: transparent;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                figure,
                                img,
                                h4,
                                a {
                                    opacity: 1;
                                    position: relative;
                                    margin: 0 auto;
                                }
                                img {
                                    -webkit-transition: .3s;
                                    -o-transition: .3s;
                                    transition: .3s;
                                }
                            }
                            .awards-action {
                                position: absolute;
                                width: auto;
                                height: auto;
                                left: 50%;
                                right: auto;
                                top: auto;
                                bottom: 0;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1450px) {
    .remote-team {
        background-size: auto, 45%;
    }
}
@media (max-width: 1299px) {
    .remote-team {
        background-size: auto, 55%;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .extend-team {
            padding-top: 0;
            .features-list {
                li {
                    h4 {
                        padding: 0;
                    }
                    &:first-child {
                        h4 {
                            padding: 0 2rem;
                        }
                    }
                }
            }
        }
        .execution {
            padding-top: 4rem;
        }
        .consultants {
            padding-top: 5rem;
        }
    }
}
@media (max-width: 1050px) {
    .remote-team {
        .our-services {
            .srvc-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:first-child {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
            }
        }
        .whyus {
            .whyus-item {
                li {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
        .our-process {
            .process-item {
                &:nth-child(7) {
                    &:after {
                        right: .05rem;
                        top: 18.5rem;
                    }
                }
            }
        }
        .benefits {
            padding-top: 6rem;
            .benefit-item {
                li {
                    &:nth-child(4),
                    &:last-child {
                        h6 {
                            margin-left: 4rem;
                            margin-right: 4rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .remote-team {
        background-size: auto, 80%;
        .accordion {
            margin: 0 auto;
            width: 100%;
            text-align: left;
            .card {
                font-family: 'Muli', sans-serif;
                border-color: $gray-325;
                overflow: visible;
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                .card-header {
                    padding: .75rem 1.25rem;
                    cursor: pointer;
                    transform: translate3d(0, 0, 0);
                    color: $bluedrkinr;
                    position: relative;
                    font-size: 22px;
                    font-weight: 700;
                    background-color: transparent;
                    margin-bottom: -1px;
                    .creat {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        display: block;
                        width: 20px;
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: auto;
                            right: auto;
                            height: 2px;
                            width: 12px;
                            background: $bluedrkinr;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                        &:before {
                            left: 0;
                            transform: rotate(40deg);
                        }
                        &:after {
                            right: 0;
                            transform: rotate(-40deg);
                        }
                    }
                }
                .collapse {
                    .card-body {
                        padding: 0;
                        position: relative;
                        .execution-list {
                            margin-left: 0;
                            padding-left: 0;
                            overflow: hidden;
                            margin-bottom: 2.5rem;
                            li {
                                padding: 2rem 1rem 0;
                                float: left;
                                width: 50%;
                                text-align: center;
                                list-style: none;
                                figure {
                                    margin-bottom: .5rem;
                                }
                                h4 {
                                    padding: 0;
                                    margin: 0 2.5rem 1.5rem;
                                    font-size: 1.3rem;
                                    line-height: normal;
                                    font-weight: 700;
                                    color: $bluedrkinr;
                                    margin-bottom: .8rem;
                                }
                                p {
                                    font-weight: 600;
                                    color: $black;
                                    padding: 0 2rem 1.85rem;
                                    margin: 0;
                                    padding-left: 0;
                                    padding-right: 0;
                                    font-size: 1.05rem;
                                    line-height: normal;
                                    padding-bottom: 0;
                                }
                            }
                        }
                        .creat {
                            position: absolute;
                            right: 20px;
                            top: -35px;
                            display: block;
                            width: 20px;
                            height: 15px;
                            background-color: $white;
                            z-index: 10;
                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: auto;
                                right: auto;
                                height: 2px;
                                width: 12px;
                                background: $bluedrkinr;
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                            &:before {
                                left: 0;
                                transform: rotate(40deg);
                            }
                            &:after {
                                right: 0;
                                transform: rotate(-40deg);
                            }
                        }
                    }
                    &.show {
                        position: relative;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        .creat {
                            &:before {
                                transform: rotate(-40deg);
                            }
                            &:after {
                                transform: rotate(40deg);
                            }
                        }
                    }
                }
            }
        }
    }  
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .remote-team {
        background-size: contain;
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .extend-team {
            padding-top: 1rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                letter-spacing: -.15rem;
            }
            .features-list {
                li {
                    padding: 1.5rem 0;
                    width: 50%;
                    figure {
                        width: 4rem;
                    }
                    h4 {
                        font-size: 1.2rem;
                        line-height: normal;
                        text-align: center;
                        margin: .8rem auto 0;
                        padding: 0 1.5rem;
                    }
                    &:first-child {
                        h4 {
                            padding: 0 2.5rem;
                        }
                    }
                }
            }
        }
        .execution {
            padding-top: 3.65rem;
            h2 {
                font-size: 1.995rem;
                letter-spacing: -.1rem;
                margin-bottom: 4rem;
            }
            .accordion {
                .card {
                    .card-body {
                        padding: 0 1rem;
                        .execution-list {
                            li {
                                width: 100%;
                                padding-bottom: 0;
                                border-top: 1px solid #ececec;
                                padding-top: 2rem;
                                margin-top: 2rem;
                                margin-bottom: .5rem;
                                &:first-child {
                                    padding-top: 2rem;
                                    border-top: none;
                                    margin-top: 0;
                                }
                                &:last-child {
                                    padding-bottom: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
}