// PAGE BG
.success-stories {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/success-stories/bg-ss.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
    .success-story {
        padding-top: 0;
        text-align: center;
    }
    &.single-success-stories {
        background-image: none;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 1s ease-in;
}
.load-more {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: normal;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    border: none;
    padding: 1rem 2.2rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    outline: none;
    z-index: 1;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    background-color: transparent;
    border: none;
}
.load-more:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $secondary;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
.load-more:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bluedrkinr;
    border-radius: 10rem;
    z-index: -2;
}
.load-more:hover:before,
.load-more:focus:before {
    width: 100%;
}
.load-more:hover,
.load-more:focus {
    color: $black;
    outline: none;
}
.success-stories {
    display: block;
    .header-wrapper {
        height: auto;
        -webkit-transition: none;
        transition: none;
        .header {
            .header_inner {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                nav.navbar {
                    .btn-link {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        text-transform: none;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: $gray-550;
                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                } 
            }
        }
        &.menu-clicked {
            .header {
                .header_inner {
                    nav.navbar {
                        .btn-link {
                            color: $blue-lw;							
                            &:hover, &:focus {
                                color: $blue-lw;
                            }
                        }
                    }
                }
            }
        }
    }
    // HEADER BANNER
    .hdBan_inner {
        padding-bottom: 3.3rem;
        .hdBan_inner__teaser {
            .successstory-ban {
                width: 100%;
                clear: both;
                figure {
                    display: block;
                    margin: 0 auto;
                    img {
                        display: block;
                        max-width: 100%;
                    }
                }
                .successstory-items {
                    overflow: visible;
                    .col-md-6 {
                        float: left;
                        &:first-child {
                            justify-content: center;
                            display: flex;
                            flex-direction: column;
                            figure {
                                margin: 0;
                            }
                            .story-logo,
                            .story-content,
                            .story-action {
                                text-align: left;
                            }
                        }
                    }
                    .story-logo {
                        margin-bottom: 2.1rem;
                        clear: both;
                    }
                    .story-content {
                        overflow: hidden;
                        clear: both;
                    }
                    .story-action {
                        clear: both;
                        overflow: hidden;
                        .read-more {
                            font-family: 'Muli', sans-serif;
                            font-size: 1.25rem;
                            line-height: normal;
                            font-weight: 600;
                            cursor: pointer;
                            text-decoration: none;
                            display: inline-block;
                        }
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-size: 1.438rem;
                        line-height: 2rem;
                        font-weight: 400;
                        color: $black;
                        margin-bottom: 1.9rem;
                    }
                    a {
                        color: $bluedrkinr;
                    }
                    a:hover {
                        color: $black;
                    }
                    .story-banr {
                        // width: 100%;
                        // max-width: 520px;
                        // height: 520px;
                        // background-color: #f8f9fa;
                        // border-radius: 100%;
                        // -webkit-border-radius: 100%;
                        // overflow: hidden;
                        // border-color: #f5f5f5;
                        // border-width: 2px;
                        // border-style: solid;
                        // position: relative;
                        overflow: visible;
                        background-color: transparent;
                        border: none;
                        text-align: center;
                        width: 105%;
                        max-width: 600px;
                        height: 600px;
                        display: flex;
                        align-items: center;
                        span {
                            width: 100%;
                            max-width: 520px;
                            height: 520px;
                            background-color: $gray-100;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            overflow: hidden;
                            border-color: $gray-135;
                            border-width: 2px;
                            border-style: solid;
                            position: relative;
                            display: inline-block;
                        }
                        &:after {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border: 1px solid $blue-light;
                            border-radius: 100%;
                            right: -50%;
                            top: 0;
                            content: '';
                            z-index: -1;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .slick-slider {
                    .slick-list {
                        overflow: visible;
                        .slick-slide {
                            background: transparent;
                            z-index: 2;
                            &.slick-current {
                                z-index: 3;
                            }
                        }
                    }
                    .slick-arrow {
                        height: 2.5vw;
                        width: 2.5vw;
                        border: 1px solid #121212;
                        border-radius: 100vw;
                        box-sizing: border-box;
                        z-index: 3;
                        &:before {
                            color: $black;
                            font-size: 20px;
                            font-family: unset;
                            position: relative;
                            bottom: 2px;
                            z-index: 2;
                        }
                        &:after {
                            background-color: $white;
                            border-radius: 100vw;
                            content: '';
                            height: 100%;
                            left: 0;
                            margin: 0 auto;
                            overflow: visible;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translate3d(0, -50%, 0) scale(0);
                            transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
                            width: 100%;
                            z-index: 1;
                        }
                        &:hover {
                            &:before {
                                color: $white;
                            }
                            &:after {
                                background: $gray-975;
                                -webkit-transform: translate3d(0, -50%, 0) scale(1.2);
                                transform: translate3d(0, -50%, 0) scale(1.2);
                                -webkit-transition: transform 0.45s cubic-bezier(0.6, 0.01, 0, 1.28);
                                transition: transform 0.45s cubic-bezier(0.6, 0.01, 0, 1.28);
                            }
                        }
                    }
                    .slick-prev {
                        left: auto;
                        right: -50px;
                        transform: translate(0,-75%) rotate(-90deg);
                        &:before {
                            content: '→';
                            opacity: 1;
                        }
                    }
                    .slick-next {
                        right: -50px;
                        transform: translate(0,75%) rotate(-90deg);
                        &:before {
                            content: '←';
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    // Success Story Category
    .category-list {
        text-align: center;
        clear: both;
        .col-md-5 {
            margin-left: auto;
            margin-right: auto;
        }
        .catg-row {
            display: flex;
            margin: 1.6rem auto 3.8rem;
            .button {
                position: relative;
                font-family: 'Muli', sans-serif;
                font-size: 1.25rem;
                line-height: normal;
                font-weight: 700;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                border-radius: 2rem;
                -webkit-border-radius: 2rem;
                padding: .3rem 2rem;
                margin: 0 auto;
                overflow: hidden;
                box-shadow: none;
                border: 1px solid $gray-290;
                &:hover,
                &:focus {
                    color: $bluedrkinr;
                    border-color: $bluedrkinr;
                }
                &.link {
                    color: $gray-525;
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;
                    margin-left: 1.05rem;
                    margin-right: 1.05rem;
                }
                &.active {
                    box-shadow: 0 0 0 0.05rem $bluedrkinr;
                    color: $bluedrkinr;
                    border-color: $bluedrkinr;
                }
            }
            .catgform {
                .form-group {
                    margin-bottom: 0;
                    position: relative;
                    select {
                        position: relative;
                        cursor: pointer;
                        font-family: 'Muli', sans-serif;
                        font-size: 1.25rem;
                        line-height: normal;
                        font-weight: 700;
                        color: $gray-525;
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s;
                        border-radius: 2rem;
                        -webkit-border-radius: 2rem;
                        padding: .23rem 0rem .36rem .6rem;
                        margin: 0 auto;
                        overflow: hidden;
                        outline: none;
                        border: 1px solid $gray-290;
                        box-shadow: 0 0 0 0.05rem $gray-290;
                        transition: box-shadow ease-in-out .25s,border-color ease-in-out .25s;
                        -webkit-appearance: none;
                        appearance: none;
                        background: transparent;
                        &::-ms-expand {
                            display: none;
                        }
                        &:hover,
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            color: $bluedrkinr;
                            border-color: $bluedrkinr;
					        box-shadow: 0 0 0 0.05rem $bluedrkinr;
                        }
                    }
                    &:after {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 10px;
                        height: 10px;
                        top: 50%;
                        right: 21px;
                        margin-top: -2px;
                        border-bottom: 2px solid $gray-290;
                        border-right: 2px solid $gray-290;
                        transform: rotate(45deg) translateY(-50%);
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        transform-origin: 50% 0;
                    }
                }
                &:focus-within {
                    .form-group {
                        &:after {
                            margin-top: 2px;
                            transform: rotate(-135deg) translateY(-50%);
                            border-color: $bluedrkinr;
                        }
                    }
                }
                &:hover {
                    .form-group {
                        select {
                            color: $bluedrkinr;
                        }
                        &:after {
                            border-color: $bluedrkinr;
                        }
                    }
                }
            }
        }
    }
    // Success Story List
    .successstory-list {
        clear: both;
        margin: 5.55rem 0 6rem;
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        .successstory-wrapper {
            clear: both;
            overflow: hidden;
            .successstory {
                margin-top: 15px;
                margin-bottom: 15px;
                float: left;
                .successstory_box {
                    background-color: $white;
                    padding: 0px;
                    // box-shadow: 0px 0px 15px $gray-190;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    box-sizing: border-box;
                    animation-delay: 0.3s;
                    border: 2px solid $gray-160;
                    display: flex;
                    align-items: center;
                    min-height: 225px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    cursor: pointer;
                    figure {
                        width: 100%;
                        text-align: center;
                        padding: 0;
                        margin: 0 auto;
                        border-radius: 0px;
                        overflow: visible;
                        position: relative;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        img {
                            max-width: 100%;
                            border-radius: 0px;
                            vertical-align: middle;
                            border-style: none;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            // -webkit-transform: scale(1) translateX(0);
                            // -ms-transform: scale(1) translateX(0);
                            // transform: scale(1) translateX(0);
                        }
                    }
                    &:hover {
                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                        outline: 0px;
                        figure {
                            img {                                
                                -webkit-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
    
    // Success Story Content
    .success-story {
        .successstory-content {
            clear: both;
            margin: 3rem 0 6.23rem;
            position: relative;
            padding-bottom: 3.95rem;
            border-bottom: 1px solid $gray-150;
            .col-md-10,
            .col-md-9 {
                margin-left: auto;
                margin-right: auto;
            }
            h2 {
                font-size: 4.06rem;
                line-height: 4.15rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2.45rem;
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            h4 {
                font-family: "Work Sans", sans-serif;
                font-size: 2.179rem;
                line-height: 2.95rem;
                color: $gray-900;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.95rem;
            }
            p {
                font-size: 1.53rem;
                line-height: 2.05rem;
            }
        }
    }
    
    #loadng {
        width: 4rem;
        height: 4rem;
        margin: 1.5rem auto;
        position: relative;
        text-align: center;
      #loadng-wrap {
        position: absolute;
        background: transparent;
        border-radius: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
        width: 4rem;
        height: 4rem;
        border: 0.0625rem $primary solid;
        border-top: 0.25rem $primary solid;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
      }
      img {
        max-width: 100%;
        display: inline-block;
        margin: 0 auto;
      }
    }
    &.single-success-stories {
        .hdBan_inner {
            .hdBan_inner__teaser {
                .successstory-ban {
                    position: relative;
                    .slick-slider {
                        .slick-list {
                            overflow: visible;
                            .successstory-items {
                                overflow: visible;
                                .col-md-6 {
                                    position: relative;
                                    &:last-child {
                                        .story-banr {
                                            overflow: visible;
                                            background-color: transparent;
                                            border: none;
                                            text-align: center;
                                            width: 105%;
                                            max-width: 600px;
                                            height: 600px;
                                            display: flex;
                                            align-items: center;
                                            span {
                                                width: 100%;
                                                max-width: 520px;
                                                height: 520px;
                                                background-color: #f8f9fa;
                                                border-radius: 100%;
                                                -webkit-border-radius: 100%;
                                                overflow: hidden;
                                                border-color: #f5f5f5;
                                                border-width: 2px;
                                                border-style: solid;
                                                position: relative;
                                                display: inline-block;
                                            }
                                            &:after {
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                border: 1px solid $blue-light;
                                                border-radius: 100%;
                                                right: -50%;
                                                top: 0;
                                                content: '';
                                                z-index: -1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .slick-prev,
                        .slick-next {
                            right: -40px;
                        }
                    }
                    
                }
            }
        }
    }
}
@media (min-width: 768px) {
}
@media (max-width: 1299px) {
    .success-stories {
        background: 
        url(/static/images/bg/bg-pg-lt.png) 0 0/auto no-repeat, 
        url(/static/images/bg/success-stories/bg-ss.png) 100% 0/70% no-repeat;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        p {
                            font-size: 1.3rem;
                            line-height: 1.7rem;
                            margin-bottom: 1rem;
                        }
                        .col-md-6 {
                            &:first-child {
                                .story-logo {
                                    margin-bottom: 1.5rem;
                                    figure {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                        .story-banr {
                            height: auto;
                            max-width: 100%;
                            span {
                                height: auto;
                                max-width: 100%;
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 4vw;
                            width: 4vw;
                            &.slick-prev {
                                left: 42%;
                                right: auto;
                                transform: translate(42%, 0) rotate(0deg);
                                top: auto;
                                bottom: -6rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 48%;
                                transform: translate(48%, 0) rotate(0deg);
                                top: auto;
                                bottom: -6rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-bottom: 4.5rem;
            margin-top: 11rem;
           h2 {
                margin-bottom: 4rem;
           }
           .successstory-wrapper {
                .successstory {
                    .successstory_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-success-stories {
            .success-story {
                padding-top: 0;
                .hdBan_inner {
                    .hdBan_inner__teaser {
                        .successstory-ban {
                            .slick-slider {
                                .slick-list {
                                    .successstory-items {
                                        .col-md-6 {
                                            &:last-child {
                                                .story-banr {
                                                    max-width: 100%;
                                                    width: 100%;
                                                    height: auto;
                                                    span {
                                                        max-width: 100%;
                                                        height: auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .successstory-content {
                    margin-bottom: 4rem;
                    padding-bottom: 2rem;
                    h2 {
                        font-size: 3.5rem;
                        line-height: 3.15rem;
                        margin-bottom: 1.5rem;
                    }
                    h4 {
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        margin-bottom: 1.5rem;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .success-stories {
        .hdBan_inner {
            .hdBan_inner__teaser {
                .successstory-ban {
                    .slick-slider {
                        .slick-arrow {
                            height: 5vw;
                            width: 5vw;
                            &.slick-prev {
                                left: 41%;
                                transform: translate(41%, 0) rotate(0deg);
                                bottom: -5rem;
                            }
                            &.slick-next {
                                right: 47%;
                                transform: translate(47%, 0) rotate(0deg);
                                bottom: -5rem;
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 9rem;
           .successstory-wrapper {
                .successstory {
                    .successstory_box {
                        min-height: 180px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .success-stories {
        background-position: 0 0, 100% 15%;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        .row {
                            flex-direction: column-reverse;
                            .col-md-6 {
                                &:first-child {
                                    figure {
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 80%;
                                        text-align: center;
                                        img {
                                            display: inline-block
                                        }
                                    }
                                    .story-content,
                                    .story-action {
                                        text-align: center;
                                    }
                                }
                                &:last-child {
                                    margin-bottom: 3rem;
                                    .story-banr {
                                        max-width: 70%;
                                        height: auto;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 6vw;
                            width: 6vw;
                            &.slick-prev {
                                left: 40%;
                                right: auto;
                                transform: translate(40%, 0) rotate(0deg);
                                top: auto;
                                bottom: -3.2rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 45.5%;
                                transform: translate(45.5%, 0) rotate(0deg);
                                top: auto;
                                bottom: -3.2rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 8rem;
            margin-bottom: 4.5rem;
            .category-list {
                .catg-row {
                    margin-bottom: 2rem;
                }
            }
            .successstory-wrapper {
                .successstory {
                    width: 50%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .successstory_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-success-stories {
            .success-story {
                .hdBan_inner {
                    .hdBan_inner__teaser {
                        .successstory-ban {
                            .slick-slider {
                                .slick-list {
                                    .successstory-items {
                                        .col-md-6 {
                                            &:last-child {
                                                .story-banr {
                                                    max-width: 600px;
                                                    span {
                                                        max-width: 520px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .success-stories {
        .hdBan_inner {
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        .row {
                            .col-md-6 {
                                p {
                                    margin-bottom: 1.5rem;
                                    line-height: 1.9rem;
                                }
                                &:last-child {
                                    .story-banr {
                                        max-width: 100%;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        .col-md-6 {
                            &:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 9vw;
                            width: 9vw;
                            &.slick-prev {
                                left: 34.5%;
                                right: auto;
                                transform: translate(34.5%, 0) rotate(0deg);
                                top: auto;
                                bottom: -4rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 42%;
                                transform: translate(42%, 0) rotate(0deg);
                                top: auto;
                                bottom: -4rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 9rem;
            .category-list {
                .catg-row {
                    .button {
                        font-size: 1rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .successstory-wrapper {
                .successstory {
                    width: 100%;
                    .successstory_box {
                        min-height: 230px;
                        figure {
                            width: 75%;
                        }
                    }
                }
            }
        }
        &.single-success-stories {
            .success-story {
                .successstory-content {
                    padding-bottom: 2.5rem;
                    h2 {
                        font-size: 2.5rem;
                        line-height: normal;
                    }
                    h4 {
                        font-size: 1.7rem;
                        line-height: 2rem;
                        margin-bottom: 1.9rem;
                    }
                    p {
                        font-size: 1.25rem;
                        line-height: 1.65rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 339px) {
    .success-stories {
        .successstory-list {
            margin-top: 8rem;
            h2 {
                font-size: 2rem;
            }
            .category-list {
                .catg-row {
                    .button {
                        font-size: .8rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}