// PAGE BG
.team {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/team/bg-tm.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
}
.inr-page {
    &.our-team {
        padding-top: 5rem;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 1s ease-in;
}

.team {
    .hdBan_inner {
        padding-bottom: 0rem;
        .hdBan_inner__teaser {
            h1 {
                font-size: 4.06rem;
                line-height: 4.18rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.32rem;
                    margin-bottom: 1rem;
                    line-height: 2.95rem;
                }
            }
            p {
                font-family: 'Work Sans', sans-serif;
                font-size: 2.19rem;
                line-height: 2.8rem;
                font-weight: 600;
                color: $bluedrkinr;
            }
        }
    }
    .team_expertise {
        clear: both;
        padding: 5rem 0 0;
        text-align: center;
        h2 {
            font-size: 36px;
            line-height: 45px;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.45rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            span {
                color: $bluedrkinr;
                font-weight: 700;
                strong {
                    font-weight: 800;
                }
            }
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
    }
    // OUR VISION, MISSION, PHILOSOPHY & MOTO
    .commitment-faces {
        clear: both;
        padding: 84px 0 0;
        position: relative;
        text-align: center;
        overflow: hidden;
        h2 {
            margin-bottom: 6.25rem;
        }
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .exp-carousl {
            clear: both;
            padding: 0;
            margin: 0 -15px;
            .slick-slide img {
              margin: auto;
              max-width: 100%;
            }
            .slick-slide {
              padding: 0 15px;
              * {
                -webkit-transition:all .3s;
                -moz-transition:all .3s;
                -o-transition:all .3s;
                transition:all .3s;
              }
              &:hover {
                figure {
                  background-color: $gray-200;
                }
                figure img {
                  filter: grayscale(0);
                }
                h4 {
                  color: $bluedrk;
                }
                h5 {
                  color: $black;
                }
                p.expc {
                  color: $black;
                }
                .socials {
                
                  li {
                    
                    svg {
                      
                      path {
                        fill: $bluedrk;
                      }
                    }
                  }
                }
              }
              figure {
                width: 195px;
                background-color: $white;
                height: 195px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                border: 1px solid $gray-330;
                display: inline-block;
                margin: 0 auto 28px;
                overflow: hidden;
              }
              figure {
                img {
                  filter: grayscale(1);
                  // cursor: url(/static/images/tab-cursor-s.8b36230b.svg) 25 15, auto;
                  cursor: pointer;
                }
              }
              h4{
                font-size: 22px;
                line-height: 26px;
                font-weight: 700;
                clear: both;
                display: block;
                color: $gray-600;
                padding: 0;
                margin: 0 0 7px;
              }
              h5{
                font-size: 18px;
                line-height: 25px;
                font-weight: 700;
                clear: both;
                display: block;
                color: $gray-600;
                padding: 0;
                margin: 0 0 16px;
              }
              p.expc {
                font-size: 1rem;
                line-height: 1.4rem;
                font-weight: 400;
                clear: both;
                display: block;
                color: $gray-600;
                padding: 0;
                margin: 0;
              }
              .socials {
                text-align: center;
                padding: 0;
                margin: 21px 0 0;
                clear: both;
                display: block;
                li {
                  width: 20px;
                  height: 18px;
                  margin: 0 5px;
                  display: inline-block;
                  &:first-child {
                    width: 15px;
                    height: 15px;
                    svg {
                      width: 15px;
                      height: 15px;
                    }
                  }
                  svg {
                    width: 20px;
                    height: 18px;
                    path {
                      fill: $gray-600;
                    }
                  }
                  a {
                    display: block;
                    -webkit-transition:all .3s;
                    -moz-transition:all .3s;
                    -o-transition:all .3s;
                    transition:all .3s;
                    &:hover {
                      svg {
                        
                        path {
                          fill: $black;
                        }
                      }
                    }
                  }
                }
              }  
            }
            .exp-item {
              font-family: 'Muli', sans-serif;
              width: 100%;
              padding: 0;
              margin: 0;
              &:focus {
                outline: none;
              }
            }
            .slick-current {
              figure {
                background-color: $gray-200;
              }
              figure img {
                filter: grayscale(0);
              }
              h4 {
                color: $bluedrk;
              }
              h5 {
                color: $black;
              }
              p.expc {
                color: $black;
              }
              .socials {
                
                li {
                  
                  svg {
                    
                    path {
                      fill: $bluedrk;
                    }
                  }
                }
              }
            }
            
            .slick-dots {
              bottom: auto;
              position: relative;
              margin-top: 2rem;
              li {
                width: 19px;
                height:  19px;
                padding: 0;
                margin: 0;
                button {
                  width: 19px;
                  height:  19px;
                  padding: 0;
                  margin: 0;
                  &:before {
                    opacity: 1;
                    font-size: 9px;
                    line-height: 19px;
                    width: 19px;
                    height: 19px;
                    color: $gray-450;
                  }          
                }
                &.slick-active {
                  button {
                    &:before {
                      opacity: 1;
                      color: $bluedrk;
                    }
                  }
                }
              }
            }
        }
    }
    // OUR VALUES
    .advisory-board {
        text-align: center;
        clear: both;
        padding: 7.4rem 0 0;
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        h2 {
            margin-bottom: 6.25rem;
        }
        .advisory-board_memb {
            margin: 1.1rem 0;
            padding: 1rem 0;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            display: flex;
            align-items: center;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            position: relative;
            .col-md-2,
            .col-md-10 {
                float: left;
                text-align: left;
            }
            figure {
                width: 150px;
                height: 150px;
                border: 5px solid $blue-lgt;
                overflow: hidden;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                margin: 0 20px 0 0;
                img {
                    max-width: 100%;
                }
            }
            h3 {
                font-family: 'Muli', sans-serif;
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: 700;
                color: $bluedrkinr;
                span {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    font-weight: 600;
                    color: #000;
                }
            }
            p {
                font-size: 1.375rem;
                line-height: 1.8rem;
                color: $black;
                position: relative;
                margin-bottom: 0;
            }
            &:hover {
                box-shadow: rgba(102, 102, 102, 0.1) 0px 0px 10px 0.2rem;
            }
            &:before {
                width: 95%;
                height: 1px;
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $gray-160;
                top: -10%;
            }
            &:first-child {
                &:before {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
    // THE WHY & THE WHAT
    .management-team {
        clear: both;
        padding: 101px 0 0;
        position: relative;
        text-align: center;
        overflow: hidden;
        h2 {
            margin-bottom: 4.75rem;
        }
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .management-team_row {
            width: 100%;
            clear: both;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .col-md-6,
            .col-md-6 {
                float: left;
                text-align: left;
            }
            .mangimg {
                max-width: 500px;
                width: 100%;
                background-color: $gray-140;
                height: 500px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                border: 1px solid $gray-330;
                display: flex;
                align-items: center;
                margin: 0;
                overflow: hidden;
                img {
                    max-width: 100%;
                }
              }
              h3 {
                font-family: "Work Sans", sans-serif;
                font-size: 4.22rem;
                line-height: 4.5rem;
                margin-bottom: 0;
                font-weight: 300;
                color: $bluedrkinr;
                text-transform: uppercase;
                strong {
                    font-size: 4.38rem;
                    letter-spacing: normal;
                    display: block;
                    clear: both;
                    font-weight: 700;
                }
              }
              p {
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
                color: $black;
                margin: 0 0 16px;
                padding: 0;
                clear: both;
                display: block;
              }
        }
        .managmnt-teams {
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-items: center;
            align-content: center;
            // margin: 4rem 0 0;
            // padding: 2.5rem 0 0;
            // border-top: 1px solid $gray-160;
            .teams-block {
                clear: both;
                margin: 1.5rem auto;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                figure {
                    width: 120px;
                    height: 120px;
                    border: 4px solid $blue-lgt;
                    overflow: hidden;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    margin: 0 auto 1rem;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                    img {
                        max-width: 100%;
                    }
                }
                h4 {
                    font-family: 'Muli', sans-serif;
                    font-size: 1.25rem;
                    margin-bottom: .3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: $black;
                    clear: both;
                    display: block;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                }
                h5 {
                    font-family: 'Muli', sans-serif;
                    font-size: 1rem;
                    margin-bottom: .5rem;
                    font-weight: 400;
                    line-height: 1.1;
                    color: $gray-980;
                    clear: both;
                    display: block;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                }
            }
        }
    }
    .team_statistics {
        clear: both;
        padding: 5.95rem 0 0;
        text-align: center;
        h2 {
            margin-bottom: 5.3rem;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            span {
                color: $bluedrkinr;
                font-weight: 700;
                strong {
                    font-weight: 800;
                }
            }
        }
        .col-md-10 {
            margin-left: auto;
            margin-right: auto;
        }
        .statistics-data {
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-items: center;
            align-content: center;
            margin: 0 auto;
            padding: 0;
            .stat-box {
                margin-top: 15px;
                margin-bottom: 15px;
                .stat-box_col {
                    background-color: $white;
                    padding: 0px;
                    // box-shadow: 0px 0px 15px $gray-190;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    box-sizing: border-box;
                    animation-delay: 0.3s;
                    border: 2px solid $gray-160;
                    display: flex;
                    align-items: center;
                    min-height: 210px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    cursor: pointer;
                    position: relative;
                    h4 {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: .3rem .6rem .4rem;
                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                        border-radius: 0px 4px 0px 4px;
                        -webkit-border-radius: 0px 4px 0px 4px;
                        overflow: hidden;
                        z-index: 5;
                        font-size: 12px;
                        line-height: normal;
                        font-weight: 600;
                        color: $bluedrkinr;
                    }
                    ul {
                        clear: both;
                        list-style: none;
                        margin: 0 auto;
                        padding: 0;
                        width: 75%;
                        li {
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            font-size: 17px;
                            line-height: 20px;
                            color: #252021;
                            font-weight: 500;
                            margin: 1rem 0;
                            text-align: left;
                            h3 {
                                font-size: 18px;
                                line-height: normal;
                                color: #252021;
                                font-weight: 500;
                                margin: 0;
                                display: inline-block;
                            }
                            figure {
                                margin: 0 1rem 0 0;
                                width: auto;
                                img {
                                    height: auto;
                                    width: 70px;
                                }
                            }
                            &:hover {
                                figure {
                                    img {                                
                                        -webkit-transform: scale(1.05);
                                        -ms-transform: scale(1.05);
                                        transform: scale(1.05);
                                    }
                                }
                            }
                        }
                    }
                    figure {
                        width: 100%;
                        text-align: center;
                        padding: 0;
                        margin: 0 auto;
                        border-radius: 0px;
                        overflow: visible;
                        position: relative;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        img {
                            max-width: 100%;
                            border-radius: 0px;
                            vertical-align: middle;
                            border-style: none;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            // -webkit-transform: scale(1) translateX(0);
                            // -ms-transform: scale(1) translateX(0);
                            // transform: scale(1) translateX(0);
                        }
                    }
                    &:hover {
                        box-shadow: $grayLow 0px 0px 10px 0.2rem;
                        outline: 0px;
                    }
                }
            }
        }
        
    }
}
@media (min-width: 768px) {
    .meet-the-team {
        .team-wrapper {
            .team_teaser__list {
                li {
                    &:first-child,
                    &:last-child {
                        width: 41.5555555555%; 
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 58.4444444445%; 
                    }
                }
            }
        }
    }
    .beyond-business {
        .team-wrapper {
            .team_teaser__list {
                li {
                    &:first-child,
                    &:last-child,
                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 58.4%;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 41.6%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1450px) {
    .team {
        background-size: auto, 55%;
    }
}
@media (max-width: 1299px) {
    .team {
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .about {
            padding-top: 3rem;
        }
        .meet-the-team {
            .team-wrapper {
                .team_teaser__list {
                    li {
                        figure {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .values {
            .values-item {
                p {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .beyond-business {
            .team-wrapper {
                .team_teaser__list {
                    li {
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 58.2%;
                        }
                        figure {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .brand-products {
                .col-md-9 {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
        .media-awards {
            .media-wrapper {
                .media-cont {
                    max-width: 100%;
                    flex: 0 0 100%;
                    ul {
                        li {
                            width: 36%;
                            height: 130px;
                            margin: 3rem .5rem;
                            background-size: contain;
                            .midawards-block {
                                h6 {
                                    font-size: 1.15rem;
                                    line-height: normal;
                                    padding: 1rem 2rem;
                                    letter-spacing: -.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .team {
        .hdBan_inner {
            padding-bottom: 0rem;
        }
        .about {
            padding-top: 3rem;
            h2 {
                font-size: 2.22rem;
                margin-bottom: 1.5rem;
            }
            p {
                padding-left: 0;
                padding-right: 0;
            }
            .idea-list {
                padding-top: 2rem;
                li {
                    padding-bottom: 1rem;
                    h3 {
                        font-size: 2.22rem;
                    }
                    p {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        .values {
            padding-top: 4.5rem;
            .values-item {
                p {
                    font-size: .9rem;
                    line-height: 1.3rem;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .history {
            padding-top: 5rem;
            .history-wrapper {
                .hist-cont {
                    p {
                        font-size: .95rem;
                        line-height: 1.4rem;
                    }
                    .profiles {
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.2rem;
                                strong {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-right: 0;
                            padding-left: 28px;
                            min-height: 100px;
                            h3 {
                                strong {
                                    min-width: 60px;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.2rem;
                                    }
                                    span {
                                        font-size: 1.1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .clients {
            padding-top: 5.5rem;
            .clients-wrapper {
                ul {
                    margin-top: .8rem;
                    margin-bottom: 1rem;
                }
            }
            .btn {
                margin-top: 4rem;
                color: $white;
                border-radius: 10rem;
                padding: .78rem 1.9rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .meet-the-team {
            padding-top: 5.5rem;
            .team-wrapper {
                .team_teaser__list {
                    li {
                        padding-left: .58rem;
                        padding-right: .58rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            .btn {
                color: $white;
                border-radius: 10rem;
                padding: .78rem 2.36rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .beyond-business {
            padding-top: 2rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            .brand-products {
                padding-top: 1.5rem;
                .col-md-9 {
                    max-width: 100%;
                    flex: 0 0 100%;
                    figure {
                        margin-top: .08rem;
                        margin-bottom: 1.5rem;
                    }
                    h3 {
                        font-size: 1.2rem;
                    }
                }
            }
            .team-wrapper {
                padding-top: 5rem;
                .team_teaser__list {
                    li {
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 57.85%;
                        }
                    }
                }
            }
            .btn {
                color: $white;
                border-radius: 10rem;
                padding: .78rem 2.75rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .media-awards {
            padding-top: 3rem;
            .media-wrapper {
                .media-cont {
                    max-width: 100%;
                    flex: 0 0 100%;
                    ul {
                        li {
                            width: 46%;
                            height: 130px;
                            margin: 3rem .5rem;
                            background-size: contain;
                            .midawards-block {
                                h6 {
                                    font-size: 1.15rem;
                                    line-height: normal;
                                    padding: 1rem 2rem;
                                    letter-spacing: -.1rem;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-right: 0;
                            padding-left: 28px;
                            h3 {
                                strong {
                                    min-width: 90px;
                                }
                                span {
                                    font-size: .9rem;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.2rem;
                                        small {
                                            font-size: .8rem;
                                        }
                                    }
                                    span {
                                        font-size: .95rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn {
                margin-top: 4rem;
            }
        }
        .partners {
            padding-top: 5rem;
            .partner-wrapper {
                ul {
                    margin-bottom: 3rem;
                    li {
                        width: 150px;
                        margin: 0 1rem;
                    }
                }
            }
        }
        .offices {
            padding-top: 5.5rem;
            .accordion {
                .card {
                    .card-header {
                        display: flex;
                        align-items: center;
                        figure {
                            float: left;
                            margin: 0 1.5rem 0 0;
                            text-align: center;
                            width: 10%;
                            img {
                                height: 40px;
                            }
                        }
                        h4 {
                            margin-bottom: 0;
                            overflow: hidden;
                        }
                    }
                    .card-body {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                        .office-add {
                            padding: 0 0 1rem;
                            iframe {
                                display: block;
                                border: none;
                                box-shadow: none;
                                outline: none;
                            }
                            h3 {
                                font-size: 1.3rem;
                                margin-top: 1.5rem;
                                color: $bluedrkfr;
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                            p {
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                        }
                    }
                    &:first-child {
                        .card-header {
                            figure {
                                width: auto;
                                img {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .work-together {
            padding-top: 5rem;
        }
        .team_statistics {
            .statistics-data {
                .stat-box {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .stat-box_col {
                        ul {
                            li {
                                h3 {
                                    font-size: .9rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .team {
        background-position: 0 0, 100% 50px;
        background-size: contain;
        .hdBan_inner {
            padding-bottom: 1rem;
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.2rem;
                    font-weight: 300;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    min-height: initial;
                    margin-bottom: 3rem;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        font-size: 3.2rem;  
                    }
                    &:after {
                        bottom: -18px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 4px;
                    }
                }
                p {
                    font-size: 2.2rem;
                    line-height: normal;
                    margin-bottom: 2rem;
                    letter-spacing: -.15rem;
                    font-weight: 500;
                    text-align: center;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
        .about {
            padding-top: 3.65rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                letter-spacing: -.15rem;
            }
            p {
                padding: 0;
                font-size: 1.5rem;
            }
            .idea-list {
                padding-top: 1.5rem;
                li {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid #ececec;
                    min-height: initial;
                    padding: 2rem 1.5rem;
                    h3 {
                        font-size: 2.2rem;
                        line-height: 2.5rem;
                        margin-bottom: 2.6rem;
                        &:after {
                            bottom: -18px;
                            height: 4px;
                        }
                    }
                    p {
                        padding: 0;
                    }
                }
            }
        }
        .team_expertise {
            padding-top: 2rem;
            p {
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
        }
        .values {
            padding-top: 3.65rem;
            h2 {
                font-size: 2.5rem;
                margin-bottom: 5rem;
            }
            .values-item {
                margin-bottom: 2.5rem;
                padding-bottom: 2.5rem;
                border-bottom: 1px solid #ececec;
                figure {
                    margin-bottom: .5rem;
                }
                h4 {
                    font-size: 1.5rem;
                }
                p {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 1.1rem;
                    line-height: normal;
                    font-weight: 400;
                }
            }
        }
        .history {
            padding-top: 1rem;
            h2 {
                margin-bottom: 3.35rem;
            }
            p {
                margin-bottom: 3.4rem;
            }
            .history-wrapper {
                .hist-cont {
                    p {
                        font-size: 1.1rem;
                        line-height: 1.6rem;
                    }
                    .profiles {
                        padding-left: 2rem;
                        padding-right: 2rem;
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.3rem;
                                strong {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .col-md-5 {
                    margin-top: 3rem;
                    .nav {
                        .nav-item {
                            .nav-link {
                                padding-left: 30px;
                                h3 {
                                    strong {
                                        min-width: 70px;
                                    }
                                }
                                &.active {
                                    h3 {
                                        strong {
                                            font-size: 22px;
                                        }
                                        span {
                                            font-size: 19px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .clients {
            padding-top: 4.3rem;
            h2 {
                margin-bottom: 4.1rem;
            }
            .clients-wrapper {
                h3 {
                    font-size: 1.2rem;
                }
                ul {
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
            }
            .btn {
                margin-top: 4rem;
            }
        }
        .meet-the-team {
            padding-top: 4.3rem;
            padding-bottom: 0;
            h2 {
                margin-bottom: 4.5rem;
            }
            p {
                margin-bottom: 1.2rem;
            }
            .team-wrapper {
                .team_teaser__list {
                    margin-bottom: 1.5rem;
                    li {
                        margin-bottom: 15px;
                    }
                }
            }
            .btn {
                font-size: .95rem;
            }
        }
        .beyond-business {
            padding-top: 3.65rem;
            h2 {
                margin-bottom: 3.7rem;
            }
            p {
                margin-bottom: 1rem;
            }
            .brand-products {
                padding-top: .5rem;
                .col-md-12 {
                    .row {
                        .col-md-4 {
                            .col-md-9 {
                                figure {
                                    margin-top: 1.5rem;
                                    margin-bottom: 1.5rem;
                                }
                                p {
                                    padding-left: 2rem;
                                    padding-right: 2rem;
                                }
                                .btn {
                                    margin-bottom: 2.5rem;
                                }
                                .row {
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
            .team-wrapper {
                padding-top: 2rem;
                .team_teaser__list {
                    li {
                        margin-bottom: 15px;
                        &:first-child,
                        &:last-child,
                        &:nth-child(1),
                        &:nth-child(4) {
                            width: 100%;
                        }
                    }
                }
            }
            .btn{
                color: $white;
                font-size: 1rem;
                padding: 1rem 1.5rem;
                margin-top: 2rem;
                &:hover,
                &:focus {
                    color: $black;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .advisory-board {
            padding-top: 3rem;
            h2 {
                margin-bottom: 3.5rem;
            }
            .advisory-board_memb {
                display: block;
                margin-top: 0;
                figure {
                    margin: 0 auto 2rem;
                }
                p {
                    margin-bottom: 2rem;
                    font-size: 1.2rem;
                }
                .col-md-10 {
                    text-align: center;
                }
                &:hover {
                    box-shadow: none;
                }
            }
        }
        .media-awards {
            padding-top: 3.5rem;
            h2 {
                margin-bottom: 3rem;
                font-size: 2rem;
            }
            .media-wrapper {
                .media-cont {
                    ul {
                        li {
                            margin-bottom: 2rem;
                            width: 225px;
                            height: 162px;
                            margin-left: 2rem;
                            margin-right: 2rem;
                            background-size: auto;
                            .midawards-block {
                                h6 {
                                    font-size: 1.25rem;
                                    line-height: 1.2rem;
                                    padding: 2.2rem 2.4rem;
                                    letter-spacing: normal;
                                }
                            }
                        }
                    }
                }
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-left: 30px;
                            h3 {
                                strong {
                                    min-width: 100px;
                                    font-size: 22px;
                                    small {
                                        font-size: .9rem;
                                    }
                                }
                                span {
                                    font-size: 1.1rem;
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.6rem;
                                    }
                                    span {
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn {
                margin-top: 2.5rem;
            }
        }
        .partners {
            padding-top: 3.65rem;
            .partner-wrapper {
                ul {
                    margin-top: 0;
                    text-align: left;
                    li {
                        width: 124px;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                        figure {
                            padding-top: 1.1rem;
                            padding-bottom: 1.1rem;
                        }
                    }
                }
            }
        }
        .offices {
            padding-top: 3.65rem;
            h2 {
                margin-bottom: 5rem;
            }
            .accordion {
                .card {
                    .card-header {
                        display: flex;
                        align-items: center;
                        figure {
                            float: left;
                            margin: 0 1rem 0 0;
                            width: 20%;
                            text-align: center;
                            img {
                                max-width: 100%;
                                height: 35px;
                            }                            
                        }
                        h4 {
                            margin-bottom: 0;
                            overflow: hidden;
                            font-size: 1.3rem;
                            line-height: normal;
                        }
                    }
                    .collapse {
                        .card-body {
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                            .creat {
                                top: -44px;
                                height: 20px;
                            }
                            .office-add {
                                padding: 0;
                                iframe {
                                    display: block;
                                    border: none;
                                    margin-bottom: 1.1rem;
                                }
                                h3 {
                                    font-size: 1.35rem;
                                    color: $bluedrkfr;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                                p {
                                    font-size: 1.05rem;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                    &:first-child {
                        .card-header {
                            figure {
                                width: 40%;                                
                                img {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .work-together {
            padding-top: 5rem;
        }
        .management-team {
            padding-top: 0;
            h2 {
                margin-bottom: 3rem;
            }
        }
        .commitment-faces {
            margin-bottom: 0;
            padding-top: 4rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            .exp-carousl {
                .slick-dots {
                    margin-top: 0;
                }
            }
        }
        .team_statistics {
            padding-top: 2rem;
            h2 {
                margin-bottom: 4rem;
            }
            .statistics-data {
                .stat-box {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
@media (max-width: 499px) {
}