// PAGE BG
.terms-of-use {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/term-use/bg-tou.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    .modal {
        &.show {
            .modal-dialog {
                .modal-body {
                    padding: 2px;
                    iframe {
                        display: block;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
    .modal-backdrop {
        &.show {
            opacity: .4;
        }
    }
    .terms-use {
        padding-top: 4rem;
    }
}
.terms-of-use {
    display: block;
    .header-wrapper {
        height: auto;
        -webkit-transition: none;
        transition: none;
        .header {
            .header_inner {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                nav.navbar {
                    .btn-link {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        text-transform: none;
                        font-size: 22px;
                        letter-spacing: 1px;
                        color: $gray-550;
                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                } 
            }
        }
        &.menu-clicked {
            .header {
                .header_inner {
                    nav.navbar {
                        .btn-link {
                            color: $blue-lw;							
                            &:hover, &:focus {
                                color: $blue-lw;
                            }
                        }
                    }
                }
            }
        }
    }
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 4.06rem;
                line-height: 4.18rem;
                font-weight: 300;
                margin-bottom: 16rem;
                color: $bluedrk;
                b {
                    font-size: 2.32rem;
                    margin-bottom: 1rem;
                    line-height: 2.95rem;
                }
            }
        }
    }
    // Terms Of Use Content
    .terms-content {
        p {
            font-size: 1.063rem;
            line-height: 1.6rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
    }
    // Policy Content
    .term-content {
        text-align: left;
        padding-top: 1rem;
        h2 {
            font-size: 21px;
            clear: both;
            text-transform: none;
            line-height: normal;
            width: 100%;
            display: block;
            text-align: left;
            font-weight: 700;
            margin-bottom: 1.6rem;
            margin-top: 2rem;
            margin-left: 0;
            &:after {
                display: none;
                visibility: hidden;
            }
        }
        .terms-list {
            ul.mrgntplt {
                margin: 0 0 0 1.2rem;
                padding: 0;
                li {
                    font-family: 'Muli', sans-serif;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 25px;
                    color: $black;
                    margin: 0;
                    padding: 0;
                    list-style: decimal;
                    position: relative;
                    p {
                        font-family: 'Muli', sans-serif;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 25px;
                        margin: 0;
                        color: $black;
                        padding-left: 0;
                        list-style: none;
                        margin-bottom: 1.55rem;
                        span {
                            display: block;
                            color: $bluedrkinr;
                            font-weight: 700;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1490px) {
    .privacy-policy {
        background: 
        url(/static/images/bg/bg-pg-lt.png) 0 0/auto no-repeat, 
        url(/static/images/bg/priv-policy/bg-pp.png) 100% 0/55% no-repeat;
    }
}
@media (max-width: 1299px) {
    .success-stories {
        background: 
        url(/static/images/bg/bg-pg-lt.png) 0 0/auto no-repeat, 
        url(/static/images/bg/success-stories/bg-ss.png) 100% 0/70% no-repeat;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        p {
                            font-size: 1.3rem;
                            line-height: 1.7rem;
                            margin-bottom: 1rem;
                        }
                        .col-md-6 {
                            &:first-child {
                                .story-logo {
                                    margin-bottom: 1.5rem;
                                    figure {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                        .story-banr {
                            height: auto;
                            max-width: 100%;
                            span {
                                height: auto;
                                max-width: 100%;
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 4vw;
                            width: 4vw;
                            &.slick-prev {
                                left: 42%;
                                right: auto;
                                transform: translate(42%, 0) rotate(0deg);
                                top: auto;
                                bottom: -6rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 48%;
                                transform: translate(48%, 0) rotate(0deg);
                                top: auto;
                                bottom: -6rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-bottom: 4.5rem;
            margin-top: 11rem;
           h2 {
                margin-bottom: 4rem;
           }
           .successstory-wrapper {
                .successstory {
                    .successstory_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-success-stories {
            .success-story {
                padding-top: 0;
                .hdBan_inner {
                    .hdBan_inner__teaser {
                        .successstory-ban {
                            .slick-slider {
                                .slick-list {
                                    .successstory-items {
                                        .col-md-6 {
                                            &:last-child {
                                                .story-banr {
                                                    max-width: 100%;
                                                    width: 100%;
                                                    height: auto;
                                                    span {
                                                        max-width: 100%;
                                                        height: auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .successstory-content {
                    margin-bottom: 4rem;
                    padding-bottom: 2rem;
                    h2 {
                        font-size: 3.5rem;
                        line-height: 3.15rem;
                        margin-bottom: 1.5rem;
                    }
                    h4 {
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        margin-bottom: 1.5rem;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .success-stories {
        .hdBan_inner {
            .hdBan_inner__teaser {
                .successstory-ban {
                    .slick-slider {
                        .slick-arrow {
                            height: 5vw;
                            width: 5vw;
                            &.slick-prev {
                                left: 41%;
                                transform: translate(41%, 0) rotate(0deg);
                                bottom: -5rem;
                            }
                            &.slick-next {
                                right: 47%;
                                transform: translate(47%, 0) rotate(0deg);
                                bottom: -5rem;
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 9rem;
           .successstory-wrapper {
                .successstory {
                    .successstory_box {
                        min-height: 180px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .success-stories {
        background-position: 0 0, 100% 15%;
        .hdBan_inner {
            padding-bottom: 0;
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        .row {
                            flex-direction: column-reverse;
                            .col-md-6 {
                                &:first-child {
                                    figure {
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 80%;
                                        text-align: center;
                                        img {
                                            display: inline-block
                                        }
                                    }
                                    .story-content,
                                    .story-action {
                                        text-align: center;
                                    }
                                }
                                &:last-child {
                                    margin-bottom: 3rem;
                                    .story-banr {
                                        max-width: 70%;
                                        height: auto;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 6vw;
                            width: 6vw;
                            &.slick-prev {
                                left: 40%;
                                right: auto;
                                transform: translate(40%, 0) rotate(0deg);
                                top: auto;
                                bottom: -3.2rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 45.5%;
                                transform: translate(45.5%, 0) rotate(0deg);
                                top: auto;
                                bottom: -3.2rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 8rem;
            margin-bottom: 4.5rem;
            .category-list {
                .catg-row {
                    margin-bottom: 2rem;
                }
            }
            .successstory-wrapper {
                .successstory {
                    width: 50%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .successstory_box {
                        figure {
                            width: 85%;
                            overflow: visible;
                        }
                    }
                }
                .load-more {
                    margin-top: 3rem;
                }
            }
        }
        &.single-success-stories {
            .success-story {
                .hdBan_inner {
                    .hdBan_inner__teaser {
                        .successstory-ban {
                            .slick-slider {
                                .slick-list {
                                    .successstory-items {
                                        .col-md-6 {
                                            &:last-child {
                                                .story-banr {
                                                    max-width: 600px;
                                                    span {
                                                        max-width: 520px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 499px) {
    .success-stories {
        .hdBan_inner {
            .hdBan_inner__teaser {
                .successstory-ban {
                    .successstory-items {
                        .row {
                            .col-md-6 {
                                p {
                                    margin-bottom: 1.5rem;
                                    line-height: 1.9rem;
                                }
                                &:last-child {
                                    .story-banr {
                                        max-width: 100%;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        .col-md-6 {
                            &:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                    .slick-slider {
                        .slick-arrow {
                            height: 9vw;
                            width: 9vw;
                            &.slick-prev {
                                left: 34.5%;
                                right: auto;
                                transform: translate(34.5%, 0) rotate(0deg);
                                top: auto;
                                bottom: -4rem;
                                &:before {
                                    content: '\2190';
                                }
                            }
                            &.slick-next {
                                right: 42%;
                                transform: translate(42%, 0) rotate(0deg);
                                top: auto;
                                bottom: -4rem;
                                &:before {
                                    content: '\2192';
                                }
                            }
                        }
                    }
                }
            }
        }
        .successstory-list {
            margin-top: 9rem;
            .category-list {
                .catg-row {
                    .button {
                        font-size: 1rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .successstory-wrapper {
                .successstory {
                    width: 100%;
                    .successstory_box {
                        min-height: 230px;
                        figure {
                            width: 75%;
                        }
                    }
                }
            }
        }
        &.single-success-stories {
            .success-story {
                .successstory-content {
                    padding-bottom: 2.5rem;
                    h2 {
                        font-size: 2.5rem;
                        line-height: normal;
                    }
                    h4 {
                        font-size: 1.7rem;
                        line-height: 2rem;
                        margin-bottom: 1.9rem;
                    }
                    p {
                        font-size: 1.25rem;
                        line-height: 1.65rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 339px) {
    .success-stories {
        .successstory-list {
            margin-top: 8rem;
            .category-list {
                .catg-row {
                    .button {
                        font-size: .8rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    .catgform {
                        .form-group {
                            select {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}