// PAGE BG
.why-us {
    background-image: url(/static/images/bg/bg-pg-lt.png), url(/static/images/bg/why-us/bg-wu.png);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.inr-page {
    &.whywe {
        padding-top: 2.7rem;
    }
}
@keyframes arrow-down {
    0% {
        bottom: -5rem;
    }
    100% {
        bottom: -6rem;
    }
}
@keyframes arrow-down-mob {
    0% {
        bottom: -7rem;
    }
    100% {
        bottom: -8rem;
    }
}

// TECHNOLOGY PARTNER
.why-us {
    // HEADER BANNER
    .hdBan_inner {
        .hdBan_inner__teaser {
            h1 {
                font-size: 3.12rem;
                line-height: 3.7rem;
                font-weight: 300;
                color: $bluedrk;
                b {
                    font-size: 2.315rem;
                    margin-bottom: .85rem;
                    line-height: 2.5rem;
                }
                strong {
                    display: inline;
                    &:after {
                        bottom: -23px;
                        left: 3px;
                    }
                    &:first-of-type {
                        &:after {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    // Customer Experiences
    .experiences {
        clear: both;
        padding: 1rem 0 0;
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: 3.1rem;
            font-weight: 400;
            color: $bluedrkinr;
            text-transform: none;
            text-align: center;
            margin-bottom: 1.65rem;
            &:after {
                display: none;
            }
        }
        p {
            font-size: 1.7rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $gray-900;
            span {
                color: $bluedrkinr;
                font-weight: 700;
            }
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
    }
    // Our Engagement Models
    .whyus-models {
        text-align: center;
        clear: both;
        padding: 5.15rem 0 0;
        h2 {
            margin-bottom: 3.5rem;
        }
        p {
            font-size: 1.75rem;
            line-height: 2.2rem;
            padding-top: .7rem;
            margin-bottom: 4.2rem;
            color: $gray-900;
            font-weight: 400;
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .model-item {
            margin-bottom: 0rem;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            figure {
                margin: 0 auto .88rem;
                width: 75px;
                height: 75px;
                img {
                    max-width: 100%;
                }
            }
            h6 {
                font-weight: 700;
                font-size: 1.32rem;
                line-height: normal;
                margin-bottom: 0;
                margin-left: 3.8rem;
                margin-right: 3.8rem;
            }
            p {
                font-size: 1.063rem;
                line-height: 1.5rem;
                color: $black;
                font-weight: 600;
                margin-bottom: 0;
                padding-top: 1.5rem;
            }
            .awards-action {
                clear: both;
                overflow: hidden;
                text-align: center;
                a {
                    display: inline-block;
                    margin: 0 auto;
                    color: $bluedrkinr;
                    cursor: pointer;
                }
            }
            [class*=' hvr-'],
            [class^=hvr-] {
                position: relative;
                display: flex;
                box-sizing: border-box;
                margin: 0;
                min-height: 230px;
                max-width: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                img {
                    vertical-align: top;
                    max-width: 100%
                }
                div {
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0.97);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    -webkit-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    padding: 15px;
                    overflow: hidden;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    position: absolute;
                    text-align:center;
                    top: 15px;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    border: none;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    h3, p {
                        margin: 0;
                        padding: 0
                    }
                    p {
                        font-family: 'Muli', sans-serif;
                        font-weight: 600;
                        color: $gray-900;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        padding: 0;
                        margin-bottom: 0;
                        position: relative;
                        cursor: default;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        cursor: pointer;
                    }
                }
            }
            [class*=' hvr-blocks'],
            [class^=hvr-blocks] {
                div {
                    z-index: 3;
                    border-width: 0;
                    * {
                        opacity: 0
                    }
                    a {
                        z-index: 3
                    }
                }
                &:hover {     
                    div, * {
                        opacity: 1;
                        -webkit-transition-delay: .15s;
                        transition-delay: .15s;
                        transition: all 0.4s ease-in;
                        -webkit-transition: all 0.4s ease-in;
                    }
                }
                .awards-action {
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    figure,
                    img,
                    h4,
                    a {
                        opacity: 1;
                        position: relative;
                        margin: 0 auto;
                    }
                    img {
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                    }
                }
                .awards-action {
                    position: absolute;
                    width: auto;
                    height: auto;
                    left: 50%;
                    right: auto;
                    top: auto;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }
        }
    }
    // Service Timeline
    .service-timeline {
        text-align: center;
        clear: both;
        padding: 7.1rem 0 0;
        text-align: center;
        position: relative;
        overflow: hidden;
        h2 {
            margin-bottom: 6.25rem;
        }
        .col-md-11 {
            margin-left: auto;
            margin-right: auto;
        }
        .service-wrapper {
            margin: 0;
            width: 100%;
            clear: both;
            .col-md-6,
            .col-md-6 {
                float: left;
            }
            .nav {
                font-family: 'Muli', sans-serif;
                padding: 0;
                margin: 0;
                border: none;
                border-left: none;
                position: relative;
                .nav-item {
                    list-style: none;
                    margin: 0;
                    .nav-link {
                        padding: 10px 15px 10px 36px;
                        min-height: 70px;
                        text-align: left;
                        text-transform: none;
                        border: none;
                        position: relative;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        cursor: pointer;
                        h3 {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            strong {
                                font-size: 1.2rem;
                                font-weight: 600;
                                line-height: normal;
                                color: $gray-530;
                                padding: 0;
                                margin: 0 1.5rem 0 0;
                                min-width: 145px;
                                max-width: 145px;
                            }
                            span {
                                font-size: 1.1rem;
                                font-weight: 300;
                                line-height: normal;
                                color: $gray-540;
                                display: inline-block;
                                overflow: hidden;
                                strong {
                                    font-size: 1.2rem;
                                    color: $black;
                                    font-weight: 800;
                                    min-width: initial;
                                    max-width: initial;
                                    margin: 0;
                                }
                            }
                            sup {
                                top: -.15em;
                                font-size: 90%;
                            }
                        }
                        &:hover {
                            h3 {
                                strong {
                                    color: $bluedrkinr;
                                }
                                span {
                                    color: $black;
                                    strong {
                                        color: $black;
                                    }
                                }
                            }
                        }
                        &.active {
                            background-color: transparent;
                            h3 {
                                strong {
                                    font-size: 1.4rem;
                                    font-weight: 700;
                                    color: $bluedrkinr;
                                }
                                span {
                                    font-size: 1.31rem;
                                    color: $black;
                                    strong {
                                        font-size: 1.35rem;
                                        color: $black;
                                        font-weight: 800;
                                    }
                                }
                            }
                            &:after {
                                background-color: $bluedrkinr;
                            }
                        }
                        &:after {
                            width: 11px;
                            height: 11px;
                            border-radius: 100%;
                            content: '';
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 1px;
                            transform: translateY(-50%);
                            background-color: $gray-175;
                            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            z-index: 11;
                        }
                    }
                }
                &:after {
                    position: absolute;
                    left: 6px;
                    top: 0;
                    content: '';
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid $gray-325;
                    z-index: 10;
                }
            }
            .service-cont {
                text-align: left;
                p {
                    font-size: 17px;
                    line-height: 25px;
                    font-weight: 300;
                    color: $black;
                    padding: 0;
                    margin: 0 0 1.33rem;
                }
                .profiles {
                    border: 2px solid $gray-125;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    overflow: hidden;
                    padding: 12px 50px 24px;
                    clear: both;
                    margin: 58px 0 0;
                    ul {
                        list-style: none;
                        font-family: 'Muli', sans-serif;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                        li {
                            padding: 13px 0 17px;
                            margin: 0;
                            font-size: 25px;
                            line-height: normal;
                            font-weight: 200;
                            color: $gray-900;
                            border-top: 1px solid $gray-125;
                            strong {
                                font-size: 30px;
                                font-weight: 700;
                                color: $bluedrkinr;
                            }
                            &:first-child {
                                padding-top: 0;
                                border-top-color: transparent;
                            }
                            &:last-child {
                                border-top-color: transparent;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .post-area {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            width: 100%;
            position: relative;
            li {
                display: block;
                width: 100%;
                position: relative;
                padding-top: 80px;
                list-style: inherit;
                .hentry {
                    position: relative;
                    width: 50%;
                    .icon {
                        display: flex;
                        justify-content: center;
                        align-self: baseline;
                        width: 68px;
                        height: 68px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border: 1px solid rgba(0,0,0,0.1);
                        text-align: center;
                        font-size: 22px;
                        color: #4385F5;
                        line-height: 68px;
                        position: absolute;
                        top: 50%;
                        margin-top: -34px;
                        background: #fff;
                        z-index: 9;
                        -webkit-box-shadow: 0 6px 20px rgba(0,0,0,0.15);
                        box-shadow: 0 6px 20px rgba(0,0,0,0.15);
                        -webkit-transition: all 0.35s;
                        -o-transition: all 0.35s;
                        transition: all 0.35s;
                        -moz-transition: all 0.35s;
                        -ms-transition: all 0.35s;
                        svg {
                            width: 24px;
                        }
                    }
                    .hentry-box {
                        -webkit-box-shadow: 0 10px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.1);
                        box-shadow: 0 10px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.1);
                        background: $white;
                        padding: 30px;
                        .title {
                            font-size: 1rem;
                            font-weight: 800;
                            color: $black;
                            text-transform: uppercase;
                            margin-bottom: .05rem;
                        }
                        .content {
                            p {
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.3;
                                margin-bottom: 0;
                                color: $gray-850;
                                strong {
                                    color: $bluedrkinr;
                                    font-weight: 800;
                                    font-size: 1.05rem;
                                }
                            }
                        }
                    }
                }
                &:nth-child(odd) {
                    .hentry {
                        float: right;
                        clear: right;
                        padding-left: 50px;
                        text-align: left;
                        .icon {
                            left: -35px;
                        }
                        .hentry-box {
                            .content-inner {
                                padding-left: 10px;
                            }
                        }
                    }
                }
                &:nth-child(even) {
                    .hentry {
                        float: left;
                        clear: left;
                        padding-right: 50px;
                        text-align: right;
                        .icon {
                            right: -35px;
                        }
                        .hentry-box {
                            .content-inner {
                                padding-right: 10px;
                            }
                        }
                    }
                }
                &:last-child {
                    padding-bottom: 110px;
                }
                &.active,
                &:hover {
                    .hentry {
                        .icon {
                            background: #4385F5;
                            color: $white;
                        }
                    }
                }
                &.clearfix {
                    &:before,
                    &:after {
                        content: "";
                        display: table;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    &:after {
                        clear: both;
                    }
                }
            }
            &:before {
                background: rgba(0,0,0,0.1);
                content: "";
                left: 50%;
                top: 10px;
                bottom: 0;
                position: absolute;
                width: 1px;
                margin-left: -1px;
                margin-top: -10px;
                height: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }
}
@media (max-width: 1450px) {
    .why-us {
        background-size: auto, 45%;
    }
}
@media (max-width: 1299px) {
    .inr-page {        
        &.whywe {
            padding-top: 1.9rem;
        }
    }
    .why-us {
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 3.3rem;
                    line-height: 3.35rem;
                    margin-bottom: 3rem;
                    b {
                        font-size: 2.2rem;
                        margin-bottom: .5rem;
                        line-height: 2.5rem;
                    }
                    strong {
                        &:after {
                            bottom: -24px;
                        }
                    }
                }
            }
        }
        .experiences {
            padding-top: 0;
        }
        .whyus-models {
            .model-item {
                h6 {
                    font-size: 1.1rem;
                }
            }
        }
        .whyus {
            .whyus-item {
                li {
                   h6 {
                    font-size: 1.315rem;
                    line-height: normal;
                   }
                }
            }
        }
        .service-timeline {
            padding-top: 4.5rem;
            h2 {
                margin-bottom: 3.95rem;
            }
            .post-area {
                li {
                    padding-top: 30px;
                    .hentry {
                        .icon {
                            width: 50px;
                            height: 50px;
                            margin-top: -25px;
                            line-height: 50px;
                            svg {
                                width: 20px;
                            }
                        }
                        .hentry-box {
                            padding: 10px 5px;
                            .title {
                                font-size: .85rem;
                                margin-bottom: .1rem;
                            }
                            .content {
                                p {
                                    font-size: .8rem;
                                    strong {
                                        font-size: .95rem;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(even) {
                        .hentry {
                            padding-right: 40px;
                        }
                    }
                    &:nth-child(odd) {
                        .hentry {
                            padding-left: 40px;
                            .icon {
                                left: -25px;
                            }
                        }
                    }
                    &:nth-child(even) {
                        .hentry {
                            .icon {
                                right: -25px;
                            }
                        }
                    }
                    &:last-child {
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .why-us {
        .experiences {
            h2 {
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }
        .whyus-models {
            padding-top: 3rem;
            p {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                line-height: 1.8rem;
            }
            .model-item {
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-size: 1rem;
                    line-height: normal;
                }
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 4rem;
                        margin-right: 4rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                &:nth-child(5) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2rem;
            .whyus-item {
                margin-bottom: 1.5rem;
                li {
                    h6 {
                        font-size: 1.315rem;
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    &:first-child {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .why-us {
        background-size: auto, 70%;
        .experiences {
            padding-top: 0rem;
        }
        .whyus-models {
            padding-top: 2rem;
            .model-item {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;
                h6 {
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: .5rem;
                    font-size: 1.1rem;
                    color: $bluedrkinr;
                }
                figure {
                    width: 55px;
                    height: 55px;
                    margin-bottom: 1rem;
                }
                &:nth-child(3),
                &:nth-child(8) {
                    h6 {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }                
                &:first-child,
                &:nth-child(2) {
                    h6 {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                }
                p {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding-top: 1rem;
                    letter-spacing: -.01rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        p {
                            font-size: 1rem;
                            line-height: normal;
                        }
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
        .service-timeline {
            padding-top: 5rem;
            h2 {
                margin-bottom: 4.5rem;
            }
            .service-wrapper {
                .col-md-6 {
                    -ms-flex: 0 0 75%;
                    flex: 0 0 75%;
                    max-width: 75%;
                    float: none;
                    margin-left: auto;
                    margin-right: auto;
                }
                .service-cont {
                    p {
                        font-size: .95rem;
                        line-height: 1.4rem;
                        text-align: center;
                    }
                    .profiles {
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.2rem;
                                strong {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
                .nav {
                    margin-top: 2rem;
                    .nav-item {
                        .nav-link {
                            padding-right: 0;
                            padding-left: 25px;
                            h3 {
                                strong {
                                    min-width: 110px;
                                    max-width: 110px;
                                    margin-right: 1rem;
                                    font-size: 1rem;
                                }
                                span {
                                    font-size: 1rem;
                                    strong {
                                        font-size: 1.1rem;
                                        min-width: initial;
                                        max-width: initial;
                                        font-size: 1rem;
                                    }
                                }
                            }
                            &.active {
                                h3 {
                                    strong {
                                        font-size: 1.07rem;
                                    }
                                    span {
                                        font-size: 1.05rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .whyus {
            padding-top: 3rem;
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 33%;
                    margin-bottom: 0rem;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.2rem;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        h6 {
                            margin-left: 1.5rem;
                            margin-right: 1.5rem;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:nth-child(7),
                    &:nth-child(8) {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem; 
                        }
                    }
                    &:last-child {
                        h6 {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .inr-page {
        &.whywe {
            padding-top: 3rem;
        }
    }
    .why-us {
        background-size: contain;
        background-position: 0 0, 100% 15px;
        .hdBan_inner {
            .hdBan_inner__teaser {
                h1 {
                    font-size: 2.55rem;
                    line-height: 3rem;                
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 300;
                    b {
                        font-size: 2.1rem;
                        line-height: 2.2rem;
                        margin-bottom: .5rem;
                    }
                    strong {
                        &:after {
                            bottom: -18px;
                        }
                    }
                }
            }
        }
        .experiences {
            padding-top: 1rem;
            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1.4rem;
                letter-spacing: -.15rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
            }
        }
        .whyus-models {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 3rem;
            }
            h5 {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
                padding-top: 1.5rem;
            }
            .model-item {
                margin-bottom: 0rem;
                width: 100%;
                border-top: 1px solid #ececec;
                padding-top: 1rem;
                margin-top: 1rem;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                &:first-child {
                    border-top: none;
                    padding-top: 0;
                    margin-top: 0;
                }
                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h6 {
                    font-size: 1.3rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    letter-spacing: -.5px;
                }
                p {
                    font-size: 1.2rem;
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    max-width: 100%;
                    min-height: 210px;
                }
                [class*=' hvr-'] div p,
                [class^=hvr-] div p {
                    font-size: 1.02rem;
                    line-height: 1.5rem;
                }
                &:nth-child(6) {
                    h6 {
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                }
                &:nth-child(8) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    min-height: initial;
                    div {
                        opacity: 1;
                        position: relative;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
                [class*=' hvr-blocks'],
                [class^=hvr-blocks] {
                    div {
                        * {
                            opacity: 1;
                        }
                    }
                    .awards-action {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        height: auto;
                        left: auto;
                        right: auto;
                        top: auto;
                        bottom: auto;
                        transform: none;
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
        .whyus {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
                text-align: center;
                margin-bottom: 2rem;
                letter-spacing: -.02rem;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .whyus-item {
                margin-bottom: 0;
                li {
                    width: 100%;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    figure {
                        margin-bottom: 1rem;
                    }
                    h6 {
                        font-size: 1.5rem;
                        margin-left: 3.5rem;
                        margin-right: 3.5rem;
                    }
                    [class*=' hvr-'],
                    [class^=hvr-] {
                        max-width: 100%;
                    }
                    [class*=' hvr-'] div p,
                    [class^=hvr-] div p {
                        font-size: 1.02rem;
                        line-height: 1.5rem;
                    }
                    &:nth-child(4),
                    &:nth-child(6) {
                        h6 {
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                    }
                    &:nth-child(7) {
                        h6 {
                            margin-left: 3.5rem;
                            margin-right: 3.5rem; 
                        }
                    }
                } 
            }
            .btn {
                margin-top: 3rem;
            }
        }
        .service-timeline {
            padding-top: 2.5rem;
            h2 {
                margin-bottom: 1.5rem;
            }
            p {
                margin-bottom: 3.4rem;
            }
            .service-wrapper {
                .service-cont {
                    p {
                        font-size: 1.1rem;
                        line-height: 1.6rem;
                    }
                    .profiles {
                        padding-left: 2rem;
                        padding-right: 2rem;
                        margin-top: 3rem;
                        ul {
                            li {
                                font-size: 1.3rem;
                                strong {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .col-md-6 {
                    margin-top: 2rem;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    .nav {
                        margin-top: 0;
                        .nav-item {
                            .nav-link {
                                padding-left: 30px;
                                min-height: initial;
                                h3 {
                                    padding: 0;
                                    margin: 0;
                                    width: 100%;
                                    display: flex;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    text-align: left;
                                    strong {
                                        min-width: 100%;
                                        max-width: 100%;
                                        font-size: 1.1rem;
                                        margin-right: 0;
                                        margin-bottom: .4rem;
                                        clear: both;
                                        line-height: 1.3rem;
                                    }
                                    span {
                                        font-size: 1rem;
                                        strong {
                                            min-width: initial;
                                            max-width: initial;
                                            margin-right: 0;
                                            font-size: 1.1rem;
                                            line-height: 1.3rem;
                                        }
                                    }
                                }
                                &.active {
                                    h3 {
                                        strong {
                                            font-size: 1.2rem;
                                        }
                                        span {
                                            font-size: 1.1rem;
                                            strong {
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:last-child {
                        margin-top: 1rem;
                    }
                }
            }
            .post-area {
                li {
                    display: block;
                    width: 100%;
                    position: relative;
                    .hentry {
                        width: 100%;
                        padding-left: 70px;
                        float: left;
                        clear: left;
                        .icon {
                            width: 55px;
                            height: 55px;
                            margin-top: -27.5px;
                            line-height: 55px;
                            svg {
                                width: 22px;
                            }
                        }
                        .hentry-box {
                            .title {
                                font-size: 1rem;
                                margin-bottom: .3rem;
                                line-height: 1.2rem;
                            }
                            .content {
                                p {
                                    font-size: 1rem;
                                    strong {
                                        font-size: 1.05rem;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(even) {
                        .hentry {
                            padding-right: 0;
                            padding-left: 70px;
                        }
                    }
                    &:nth-child(odd) {
                        .hentry {
                            padding-left: 70px;
                            .icon {
                                left: 0;
                            }
                        }
                    }
                    &:nth-child(even) {
                        .hentry {
                            text-align: left;
                            .hentry-box {
                                .content-inner {
                                    padding-right: 0;
                                    padding-left: 10px;
                                }
                            }
                            .icon {
                                right: auto;
                                left: 0;
                            }
                        }
                    }
                    &:last-child {
                        padding-bottom: 70px;
                    }
                }   
                &:before {
                    left: auto;
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}
@media (max-width: 499px) {
}
@media (max-width: 339px) {
    .why-us {
        .whyus-models {
            .model-item {
                h6 {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    h6 {
                        margin-left: 2rem;
                        margin-right: 2rem;
                    }
                }
                [class*=' hvr-'],
                [class^=hvr-] {
                    div {
                        p {
                            font-size: 1rem;
                            line-height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}