@import "./shared/fonts";
@import "./shared/colors";
@import "./shared/mixins";
// PAGES
@import "./index";
@import "./enterprise";
@import "./agency";
@import "./product-engineering";
@import "./analytics";
@import "./enterprise-mobility";
@import "./application-development";
@import "./cloud";
@import "./digital-commerce";
@import "./digital-marketing";
@import "./uiux-design";
@import "./remote-teams";
@import "./blog";
@import "./ebook";
@import "./infographic";
@import "./about-us";
@import "./whyus";
@import "./team";
@import "./partner";
@import "./awards";
@import "./newsroom";
<<<<<<< HEAD
=======
@import "./careers";
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
@import "./success-stories";
@import "./privacy-policy";
@import "./terms-of-use";
// COMPONENTS
@import "./header";
@import "./footer";
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Muli", "Roboto", "Helvetica", sans-serif;
}
h1,
h2 {
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-size: 5.95rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 4.9rem;
  strong {
    font-weight: 700;
    display: inline-block;
    position: relative;
    &:after {
      height: 5px;
      width: 65px;
      position: absolute;
      left: 0;
      bottom: -34px;
      content: "";
      display: table;
      background-color: $yellow;
    }
  }
  span {
    display: inline;
  }
  b {
    display: block;
    text-transform: none;
    font-weight: 300;
    font-size: 3.125rem;
    line-height: normal;
    letter-spacing: 1px;
    color: $gray-900;
    margin-bottom: 0.95rem;
    u {
      display: inline-block;
      font-weight: 700;
      text-decoration: none;
      font-style: normal;
    }
  }
}
h2 {
  // font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: 300;
  font-size: 4.38rem;
  line-height: 4.5rem;
  color: #184ca1;
  text-transform: uppercase;
  margin-bottom: 95px;
}
h2:after {
  height: 5px;
  width: 65px;
  background-color: rgba(233, 205, 2, 1);
  position: absolute;
  left: 0;
  bottom: -33px;
  content: "";
}
h2 span {
  font-size: 1.875rem;
  color: #282828;
  letter-spacing: 1.5px;
  font-weight: 200;
  clear: both;
  display: block;
  text-transform: none;
  line-height: normal;
  margin-bottom: 20px;
}
h2 span strong {
  font-weight: 700;
  display: inline-block;
}
h2 strong {
  font-family: "Work Sans", sans-serif;
  display: block;
  clear: both;
  font-weight: 700;
  letter-spacing: 1.5px;
}
p {
  font-family: "Muli", sans-serif;
  color: $black;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin-bottom: 2.2rem;
}
p strong {
  font-weight: 700;
}
h3,
h4,
h5,
h6 {
  display: block;
  font-family: "Muli", sans-serif;
}
a {
	color: $bluedrkinr;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
	color: $gray-900;
}
.hide {
	display: none;
	visibility: hidden;
}
.isLoading {
  display: none;
}
#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 6.0625rem;
    height: 5.9375rem;
    max-width: 100%;
  }
  .preloader-wrap {
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.0625rem $primary solid;
    border-top: 0.25rem $primary solid;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }
}
#loadng {
  width: 4rem;
  height: 4rem;
  margin: 1.5rem auto;
  position: relative;
  text-align: center;
  #loadng-wrap {
    position: absolute;
    background: transparent;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: 0.0625rem $primary solid;
    border-top: 0.25rem $primary solid;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }
  img {
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes popIn {
  0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
  }
  50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
  }
  100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
  }
}
.swal2-header {
  button {
    &:focus {
      outline: none;
    }
    &:hover {
      color: $bluedrk;
    }
  }
}
#exitpopup-modal {
	font-weight: bold;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	text-align: center;
	.exitpopup-modal_content {
		margin: 0 auto;
		max-height: calc(100vh - 300px);
		width: 50%;
		overflow: auto;
		position: relative;
		background-color: white;
		padding: 0;
		border-radius: 5px;
		-webkit-animation: popIn 1.1s both;
		animation: popIn 1.1s both;
		.exitpopup-modal__box {
			position: relative;
			padding: 3.5rem 3rem;
			overflow: hidden;
			h3 {
				font-size: 2rem;
				color: $bluedrkinr;
				line-height: normal;
				font-family: 'Work Sans', sans-serif;
				margin-top: 0;
				margin-bottom: 1.5rem;
				font-weight: 600;
				text-transform: none;
			}
			p {
				font-size: 1.1rem;
				color: $black;
				line-height: normal;
				font-family: "Muli", sans-serif;
				margin: 0 0 2.3rem;
				font-weight: 300;
			}
			a {
				font-family: 'Work Sans', sans-serif;
				font-size: 1rem;
				line-height: normal;
				font-weight: 600;
				text-transform: uppercase;
				border: 2px solid $gray-175;
				border-radius: 10rem;
				-webkit-border-radius: 10rem;
				padding: .7rem 2.5rem .6rem;
				overflow: hidden;
				background-color: $white;
				text-align: center;
				color: $gray-625;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: $bluedrkinr;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: 50%;
					transform-origin: 50%;
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
				}
				&:hover,
				&:focus,
				&:active {
					color: $white;
					border-color: transparent;
					&:before {
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
			}
			.close {
				border-radius: 100%;
				-webkit-border-radius: 100%;
				padding: 1rem;
				background-color: $white;
				overflow: hidden;
				opacity: 1;
				position: absolute;
				top: -5px;
				right: 2px;
				&:hover,
				&:focus {
					color: $bluedrkinr;
					outline: none;
				}
			}
		}
	}
	.exitpopup-modal_overlay {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(10, 10, 10, 0.7);
	}
	&.show {
		display: flex;
		visibility: visible;
	}
	&.hide {
		display: none;
		visibility: hidden;
	}
}
.inr {
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 5.33rem;
    &:after {
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
    }
  }
}
.inr-page {
  padding: 0px;
  padding-top: 3.7rem;
  margin: 0 auto;
  clear: both;
}
@-webkit-keyframes glowBluBtn {
  from {
    box-shadow: 0 0 10x $white, 0 0 20px $white, 0 0 30px $blue-glow,
      0 0 40px $blue-glow, 0 0 50px $blue-glow, 0 0 60px $blue-glow,
      0 0 70px $blue-glow;
  }
  to {
    box-shadow: 0 0 10px $white, 0 0 20px $blue-glows, 0 0 30px $blue-glows,
      0 0 40px $blue-glows, 0 0 50px $blue-glows, 0 0 60px $blue-glows,
      0 0 70px $blue-glows;
  }
}
@keyframes glowBluBtn {
  from {
    box-shadow: 0 0 10x $white, 0 0 20px $white, 0 0 30px $blue-glow,
      0 0 40px $blue-glow, 0 0 50px $blue-glow, 0 0 60px $blue-glow,
      0 0 70px $blue-glow;
  }
  to {
    box-shadow: 0 0 10px $white, 0 0 20px $blue-glows, 0 0 30px $blue-glows,
      0 0 40px $blue-glows, 0 0 50px $blue-glows, 0 0 60px $blue-glows,
      0 0 70px $blue-glows;
  }
}
.loadr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.3rem;
  overflow: hidden;
  z-index: 10;
  .spinner-border {
    -webkit-animation: spinner-border 0.75s linear infinite,
      glowBluBtn 1s ease-in-out infinite alternate;
    -moz-animation: spinner-border 0.75s linear infinite,
      glowBluBtn 1s ease-in-out infinite alternate;
    animation: spinner-border 0.75s linear infinite,
      glowBluBtn 1s ease-in-out infinite alternate;
  }
  &:after {
    background-color: $white-ovrlay;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading div {
  position: absolute;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.img-fluid {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}
.loader--hide {
  opacity: 0;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.layout-container {
  overflow-x: hidden;
}
.clickable {
  cursor: pointer;
}
.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
.absolute {
  position: absolute;
}
.error {
  font-weight: 700;
  color: red;
}
.consult-pops {
  clear: both;
  overflow: hidden;
  display: flex;
  .consultpops_inr {
    padding: 1.5rem;
    width: 40%;
    float: left;
    text-align: left;
    .consultpops_inr__col {
      margin: -1.5rem;
    }
    img {
      display: inline-block;
      border-width: 8px 4px 0px;
      border-color: $gray-330;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      margin: 0 auto;
      border-style: solid;
      background-color: transparent;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background-color: $gray-200;
      }
    }
    h4 {
      font-size: 25px;
      line-height: 30px;
      font-weight: 700;
      clear: both;
      display: block;
      color: $bluedrk;
      padding: 0;
      margin: 0 0 0px;
    }
    h5 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      clear: both;
      display: block;
      color: $black;
      padding: 0;
      margin: 0 0 5px;
    }
    p {
      font-size: 16px;
      line-height: 21px;
      font-weight: 400;
      clear: both;
      display: block;
      color: $black;
      padding: 0;
      margin: 0;
    }
    .socials {
      text-align: left;
      padding: 0;
      margin: 0 0 12px;
      clear: both;
      display: block;
      .social_list {
        display: inline-block;
      }
      li {
        width: 20px;
        height: 18px;
        margin: 0 5px;
        display: inline-block;
        &:first-child {
          width: 15px;
          height: 12px;
          margin-left: -5px;
          svg {
            width: 15px;
            height: 15px;
            display: block;
          }
        }
        svg {
          width: 20px;
          height: 18px;
          path {
            fill: $bluedrk;
          }
        }
        a {
          display: block;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          &:hover {
            svg {
              path {
                fill: $black;
              }
            }
          }
        }
      }
    }
    &.frstcol {
      display: flex;
      align-self: center;
      justify-content: center;
    }
    &.lastcol {
      width: 60%;
      overflow: hidden;
    }
    .scroll-bio {
      height: 130px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}
.popup-container {
  clear: both;
  overflow: hidden;
  .popup-container_inr {
    padding: 1rem;
    width: 100%;
    float: left;
    text-align: center;
    figure {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}
.pagin {
  margin: 3rem auto 0;
  ul {
    margin: 0;
    .page-item {
      .page-link {
        color: $bluedrkinr;
      }
      &.active {
        .page-link {
          background-color: $bluedrkinr;
          border-color: $bluedrkinr;
          color: $white;
        }
      }
    }
  }
}
// Speak to Our Consultants
.consultants {
	padding-top: 7.45rem;
	text-align: center;
	.col-md-10 {
		margin-left: auto;
		margin-right: auto;
	}
	h2 {
		margin-bottom: 6.25rem;
	}
	.exp-carousl {
		clear: both;
		padding: 0;
		margin: 0 -15px;
		.slick-slide {
			padding: 0 15px;
			* {
				-webkit-transition:all .3s;
				-moz-transition:all .3s;
				-o-transition:all .3s;
				transition:all .3s;
			}
			img {
				margin: auto;
				max-width: 100%;
			}
			h4 {
				font-size: 1.564rem;
				line-height: 1.9rem;
				font-weight: 700;
				clear: both;
				display: block;
				color: $gray-600;
				padding: 0;
				margin-bottom: .4rem;
			}
			h5 {
				font-size: 1.24rem;
				line-height: 1.8rem;
				font-weight: 700;
				clear: both;
				display: block;
				color: $gray-600;
				padding: 0;
				margin-bottom: 18px;
				margin-left: 1.5rem;
				margin-right: 1.5rem;
			}
			p.expc {
				font-size: 1.13rem;
				line-height: 1.55rem;
				font-weight: 400;
				clear: both;
				display: block;
				color: $gray-600;
				padding: 0;
				margin: 0;
				margin-bottom: 1.25rem;
			}
			figure {
				width: 195px;
				background-color: $white;
				height: 195px;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				border: 1px solid $gray-330;
				display: inline-block;
				margin: 0 auto 28px;
				overflow: hidden;
				border-width: 8px 4px 0px;
				border-color: $bluedrkinr;
				img {
					filter: grayscale(1);
					// cursor: url(/static/images/tab-cursor-s.8b36230b.svg) 25 15, auto;
					cursor: pointer;
				}
			}
			.exp-item {
				font-family: 'Muli', sans-serif;
				width: 100%;
				padding: 0;
				margin: 0;
				&:focus {
				  outline: none;
				}
			}
			.btn {
				font-weight: 400;
				font-size: .69rem;
				letter-spacing: .05rem;
				color: $white;
				padding: .9rem 1.3rem .8rem;
				border-radius: 10rem;
				border: none;
				&:hover,
				&:focus {
					color: $black;
					box-shadow: none;
					outline: none;
				}
			}
			&.slick-current {
				figure {
				  background-color: $gray-200;
				}
				figure img {
				  filter: grayscale(0);
				}
				h4 {
				  color: $bluedrk;
				}
				h5 {
				  color: $black;
				}
				p.expc {
				  color: $black;
				}
			}
			&:hover {
				figure {
				  background-color: $gray-200;
				}
				figure img {
				  filter: grayscale(0);
				}
				h4 {
				  color: $bluedrk;
				}
				h5 {
				  color: $black;
				}
				p.expc {
				  color: $black;
				}
			}
		}
		.slick-dots {
			bottom: auto;
			position: relative;
			margin-top: 3.56rem;
			li {
			  width: 19px;
			  height:  19px;
			  padding: 0;
			  margin: 0;
			  button {
				width: 19px;
				height:  19px;
				padding: 0;
				margin: 0;
				&:before {
				  opacity: 1;
				  font-size: 9px;
				  line-height: 19px;
				  width: 19px;
				  height: 19px;
				  color: $gray-450;
				}          
			  }
			  &.slick-active {
				button {
				  &:before {
					opacity: 1;
					color: $bluedrk;
				  }
				}
			  }
			}
		}
	}
}
// Success Stories
.success-stoty {
	clear: both;
	padding: 7.4rem 0 0;
	text-align: center;
	h2 {
		margin-bottom: 6.25rem;
	}
	h3 {
	font-size: 40px;
	line-height: 50px;
	color: $black;
	font-weight: 400;
	position: relative;
	margin-bottom: 120px;
	strong {
		font-weight: 800;
	}
	&:after {
		height: 5px;
		width: 65px;
		background-color: $secondary;
		position: absolute;
		left: 50%;
		bottom: -40px;
		content: '';
		transform: translateX(-50%);
	}
	}
	.success-tab {
	clear: both;
	overflow: hidden;
	.nav {
		position: relative;
		display: flex;
		justify-content: center;
		border: none;
		&.nav-tabs .nav-item {
		display: flex;
		margin-bottom: 0px;
		justify-content: center;
        align-items: center;
			.nav-link {
				padding: 0 .71rem;
				height: 40px;
				width: auto;
				display: flex;
				align-items: center;
				border: none;
				background-color: transparent;
				cursor: pointer;
				img {
				max-width: 100%;
				height: auto;
				filter: grayscale(1);
				transition: 0.5s ease-in-out;
				}
				&:hover img,
				&:focus img,
				&.active img {
				filter: grayscale(0);
				transition: 0.5s ease-in-out;
				}
			}
			&:first-child {
				.nav-link {
				  height: 55px;
				}
			  }
			  &:last-child {
				.nav-link {
				  height: 65px;
				}
			  }
			  &:nth-child(3) {
				.nav-link {
				  height: 45px;
				}
			  }
			  &:nth-child(4) {
				.nav-link {
				  height: 55px;
				}
			  }
			  &:nth-child(2) {
				.nav-link {
				  height: 50px;
				}
			  }
			  &:nth-child(5) {
				.nav-link {
				  height: 60px;
				}
			}
		}
	}
	.tab-content {
		clear: both;
		text-align: center;
		padding: 70px 0 0;
		h3,
		h4,
		h5,
		p{
		font-family: 'Muli', sans-serif;
		}
		h4 {
		color: $bluedrkinr;
		font-weight: 800;
		font-size: 1.56rem;
		line-height: normal;
		margin-bottom: 1.04rem;
		padding-top: .25rem;
		}
		h5 {
		color: $black;
		font-weight: 600;
		font-size: 1.063rem;
		line-height: 1.4rem;
		margin-bottom: 1.35rem;
		}
		p {
		color: $black;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.45rem;
		margin-bottom: 1.3rem;
		}
		.col-md-11 {
		display: flex;
		margin: 0 auto;
		align-items: center;
		}
		.col-md-5 {
		float: left;
		position: relative;
		}
		.col-md-7 {
		float: left;
		position: relative;
		text-align: left;
		padding-top: 0;
		&:before {
			position: absolute;
			content: '';
			left: -25px;
			top:auto;
			width: 1px;
			height: 100%;
			background-color: $gray-325;
		}
		}
		.testi-content {
			clear: both;
			position: relative;
			margin: 80px 0 54px;
			text-align: left;
			p {
				font-size: 1.375rem;
				line-height: 1.8rem;
				color: $black;
				position: relative;
				padding-top: 60px;
				display: inline;
				&:before {
				position: absolute;
				width: 28px;
				height: 28px;
				content: '“';
				font-size: 90px;
				color: $gray-400;
				font-family: 'Poppins', sans-serif;
				line-height: 90px;
				font-weight: 600;
				left: 0;
				top: 23px;
				}
				&:after {
				position: absolute;
				width: 28px;
				height: 28px;
				content: '”';
				font-size: 90px;
				color: $gray-400;
				font-family: 'Poppins', sans-serif;
				line-height: 90px;
				font-weight: 600;
				left: auto;
				top: auto;
				bottom: -2px;
				right: -45px;
				}
			}
			.t-author {
				float: right;
				display: flex;
				margin-top: 26px;
				figure {
					width: 108px;
					height: 108px;
					border: 4px solid $blue-lgt;
					overflow: hidden;
					border-radius: 100%;
					-webkit-border-radius: 100%;
					margin: 0 0 0 20px;
					img {
						max-width: 100%;
					}
				}
				h6 {
					display: flex;
					flex-direction: column;
					align-self: center;
					font-size: 1.375rem;
					line-height: 1.9rem;
					font-weight: 700;
					color: $bluedrkinr;
					span {
						font-size: 1rem;
						line-height: 1.4rem;
						font-weight: 600;
						color: $black;
					}
				}
			}
		}
	}
	}
	.success-carousl {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid $gray-325;
		padding:0;
		text-align: center;
		overflow: hidden;
		margin: 0;
		figure {
			display: block;
			border-bottom: 1px solid $gray-325;
			text-align: center;
			padding: .7rem 1rem;
			margin:0;
			height: 100px;
			img {
				margin: 0 auto;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		h4 {
			color: $primary;
			font-weight: 800;
			font-size: 32px;
			line-height: normal;
			margin-bottom: 16px;
			padding-top: 0;    
		}
		h5 {
			color: $black;
			font-weight: 600;
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 12px;
		}
		p {
			color: $black;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 0;
		}
	.story-det {
		padding: 2rem;
	}
	.slick-slider {
		.slick-next,
		.slick-prev {
			z-index: 10;
			top: 50px;
			width: 40px;
			height: 40px;
		}
		.slick-prev {
			left: 5%;
			&:before {
				content: '';
				position : absolute;
				top: 10px;
				left: 0;
				width: 1.7rem;
				height: 1.7px;
				transform: rotate(-45deg);
				background-color: $black;
				transition: all 0.2s;
				-webkit-transition: all 0.2s;
			}
			&:after {
				content: '';
				top: auto;
				left: 0;
				bottom: 10px;
				position : absolute;
				width: 1.7rem;
				height: 1.7px;
				transform: rotate(45deg);
				background-color: $black;
				transition: all 0.2s;
				-webkit-transition: all 0.2s;
			}
		}
		.slick-next {
			right: 5%;
			&:before {
				content: '';
				position : absolute;
				top: 10px;
				width: 1.7rem;
				height: 1.7px;
				transform: rotate(45deg);
				background-color: $black;
				transition: all 0.2s;
				-webkit-transition: all 0.2s;
				right: 0;
			}
			&:after {
				content: '';
				top: auto;
				bottom: 10px;
				right: 0;
				position : absolute;
				width: 1.7rem;
				height: 1.7px;
				transform: rotate(-45deg);
				background-color: $black;
				transition: all 0.2s;
				-webkit-transition: all 0.2s;
			}
		}
	}
	.testi-content {
		clear: both;
		position: relative;
		margin: 80px 0 54px;
		text-align: left;
		p {
			font-size: 1.375rem;
			line-height: 1.8rem;
			color: $black;
			position: relative;
			padding-top: 60px;
			display: inline;
			&:before {
			position: absolute;
			width: 28px;
			height: 28px;
			content: '“';
			font-size: 90px;
			color: $gray-400;
			font-family: 'Poppins', sans-serif;
			line-height: 90px;
			font-weight: 600;
			left: 0;
			top: 23px;
			}
			&:after {
			position: absolute;
			width: 28px;
			height: 28px;
			content: '”';
			font-size: 90px;
			color: $gray-400;
			font-family: 'Poppins', sans-serif;
			line-height: 90px;
			font-weight: 600;
			left: auto;
			top: auto;
			bottom: -2px;
			right: -45px;
			}
		}
		.t-author {
			float: right;
			display: flex;
			margin-top: 26px;
			figure {
				width: 108px;
				height: 108px;
				border: 4px solid $blue-lgt;
				overflow: hidden;
				border-radius: 100%;
				-webkit-border-radius: 100%;
				margin: 0 0 0 20px;
				img {
					max-width: 100%;
				}
			}
			h6 {
				display: flex;
				flex-direction: column;
				align-self: center;
				font-size: 1.375rem;
				line-height: 1.9rem;
				font-weight: 700;
				color: $bluedrkinr;
				span {
					font-size: 1rem;
					line-height: 1.4rem;
					font-weight: 600;
					color: $black;
				}
			}
		}
	}
	}
	.col-sm-10 {
	text-align: center;
	display: block;
	margin: 0 auto;
	}
	.btn {
		margin: 0 auto;
		border-radius: 10rem;
		font-size: 1.12rem;
		font-weight: 700;
		color: $white;
		padding: 1.33rem 2.85rem;
		border-radius: 10rem;
		border: none;
		&:hover,
		&:focus {
			box-shadow: none;
			outline: none;
			color: $black;
		}
	  }
}
// Awards Accolades
.awards-accolades {
	text-align: center;
	padding: 7.45rem 0 1.9rem;
	h2 {
		margin-bottom: 6.25rem;
	}
	.awrd-carousl {
		clear: both;
		padding: 0;
		margin: 0 -15px;
		.award-item {
			padding: 0 15px;
			margin: 0;
			.awards-block {
				width: 225px;
				height: 162px;
				margin: 0 auto;
				background-image: url(/static/images/awards/bg-awards.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				display: flex;
				align-items: center;
				h6 {
					font-family: 'Work Sans', sans-serif;
					font-size: 1.1rem;
					line-height: 1.15rem;
					font-weight: 400;
					color: $gray-600;
					margin: 0 auto;
					padding: 2.2rem 2.4rem;
				}
			}
			&:focus {
				outline: none;
			}
		}
		.slick-dots {
			bottom: auto;
			position: relative;
			margin-top: 3rem;
			li {
				width: 19px;
				height: 19px;
				padding: 0;
				margin: 0;
				button{
					width: 19px;
					height: 19px;
					padding: 0;
					margin: 0;
					&:before {
						opacity: 1;
						font-size: 9px;
						line-height: 19px;
						width: 19px;
						height: 19px;
						color: #acacac;
					}
				}
				&.slick-active {
					button {
						&:before {
							opacity: 1;
							color: #184ba0;
						}
					}
				}
			}
		}
	}
}
// No Records Found
.norecords-found {
	background-image: url(/static/images/no-records-found.webp);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 150px 127px;
	padding: 7.8rem 2rem 1rem;
	text-align: center;
	background-color: rgba(252,252,252,1);
	color: rgba(200,200,200,1);
	font-size: 1.2rem;
	font-weight: 300;
	margin: 1rem auto;
	line-height: normal;
	border-radius: 3px;
    -webkit-border-radius: 3px;
}

// Success
.success {
	background-color: rgba(241,250,235,1);
	padding: 12px;
	font-size: 13px;
	border: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(101,186,45,1);
	font-weight: 400;
	font-size: .85rem;
	margin: 1rem auto;
	line-height: normal;
	text-align: left;
	border-radius: 3px;
    -webkit-border-radius: 3px;
}

// Warning
.warning {
	background-color: rgba(233, 205, 2, 1);
	padding: 12px;
	font-size: 13px;
	border: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(133,100,4,1);
	font-weight: 400;
	font-size: .85rem;
	margin: 1rem auto;
	line-height: normal;
	text-align: left;
	border-radius: 3px;
    -webkit-border-radius: 3px;
}
// Error
.error {
	background-color: rgba(217, 32, 40, 1);
	padding: 12px;
	font-size: 13px;
	border: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(255,255,255,1);
	font-weight: 400;
	font-size: .85rem;
	margin: 1rem auto;
	line-height: normal;
	text-align: left;
	border-radius: 3px;
    -webkit-border-radius: 3px;
}

// Info
.info {
	background-color: rgba(209, 236, 241, 1);
	padding: 12px;
	font-size: 13px;
	border: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(12,84,96,1);
	font-weight: 400;
	font-size: .85rem;
	margin: 1rem auto;
	line-height: normal;
	text-align: left;
	border-radius: 3px;
    -webkit-border-radius: 3px;
}

@media (max-width: 1450px) {
  .consultants {
    .exp-carousl {
      .slick-slide {
        h5 {
          font-size: 1.3rem;
          margin-left: 0rem;
          margin-right: 0rem;
        }
      }
    }
  }
}
@media (max-width: 1299px) {
	.inr-page {
        padding-top: 2rem;
    }
}
@media (max-width: 1050px) {
	.consultants {
		.exp-carousl {
			.slick-slide {
				h4 {
					font-size: 1.4rem;
					line-height: normal;
				}
				h5 {
					margin-left: 1rem;
					margin-right: 1rem;
					font-size: 1rem;
					letter-spacing: -.03rem;
				}
			}
		}
	}
	.success-stoty {
		padding-top: 5rem;
		.success-tab {
			.nav {
				&.nav-tabs {
					.nav-item {
						.nav-link {
							padding: 0 1rem;
						}
						&:nth-child(3) {
							.nav-link {
								height: 35px;
							}
						}
						&:first-child,
						&:nth-child(2),
						&:nth-child(4) {
							.nav-link {
								height: 40px;
							}
						}
						&:nth-child(5) {
							.nav-link {
								height: 45px;
							}
						}
						&:last-child {
							.nav-link {
								height: 50px;
							}
						}
					}
				}
			}
		}
		.story-item {
			.testi-content {
				.t-author {
					margin-top: 1.6rem;
					margin-bottom: 1.6rem;
					figure {
						padding: 0;
					}
				}
			}
		}
		.btn {
			margin-top: 3.5rem;
			padding: 1rem 2rem;
			font-size: 1rem;
		}
	}
	.awards-accolades {
		padding-top: 5rem;
		.awrd-carousl {
			.award-item {
				.awards-block {
					background-position: 50% 50%;
					h6 {
						padding: 2.2rem 2.5rem;
						font-size: 1rem;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.consultants {
		padding-top: 5rem;
	}
	.awards-accolades {
		padding-top: 5rem;
		.awrd-carousl {
			.award-item {
				.awards-block {
					background-position: 50% 50%;
					h6 {
						padding: 2.8rem 3rem;
					}
				}
			}
			.slick-dots {
				bottom: auto;
				position: relative;
				margin-top: 2rem;
				li {
					width: 19px;
					height: 19px;
					padding: 0;
					margin: 0;
					button{
						width: 19px;
						height: 19px;
						padding: 0;
						margin: 0;
						&:before {
							opacity: 1;
							font-size: 9px;
							line-height: 19px;
							width: 19px;
							height: 19px;
							color: #acacac;
						}
					}
					&.slick-active {
						button {
							&:before {
								opacity: 1;
								color: #184ba0;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
  h1 {
    margin: 30px 0 53px;
    font-size: 3.5rem;
    line-height: 3.7rem;
    min-height: 220px;
    margin-bottom: 2rem;
    b {
      font-size: 2.9rem;
    }
    strong {
      &:after {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
      }
    }
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
    span {
      font-size: 30px;
      margin-bottom: 4px;
    }
    &:after {
      height: 4px;
      bottom: -21px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p {
    margin-bottom: 0;
  }
  .inr {
    h2 {
      font-size: 2.15rem;
      margin-bottom: 2.7rem;
      &:after {
        bottom: -20px;
      }
    }
  }
  .consultants {
		padding-top: 4.3rem;
		h2 {
			margin-bottom: 4.1rem;
		}
		.exp-carousl {
			.slick-dots {
				margin-top: 2.5rem;
			}
		}
  }
	.success-stoty {
		padding-top: 4rem;
		h2 {
			margin-bottom: 3.7rem;
		}
		.success-carousl {
			.story-det {
				padding-left: 0;
				padding-right: 0;
			}
			.testi-content {
				padding-top: 35px;
    			margin-top: 0;
				margin-bottom: 0;
				p {
					font-size: 1.15rem;
				}
				.t-author {
					float: none;                        
					justify-content: center;
					margin-bottom: 1rem;
					figure {
						padding: 0;
						width: 90px;
						height: 90px;
						margin-left: 10px;
					}
					h6 {
						font-size: 1.2rem;
						span {
							font-size: .9rem;
						}
					}
				}
			}
		}
		.btn{
			font-size: 1rem;
			padding: 1rem 1.5rem;
			margin-top: 4.35rem;
		}
	}
	.awards-accolades {
		padding-top: 4.3rem;
		padding-bottom: 0;
	}
}
@media (max-width: 339px) {
	.success-stoty {
		.success-carousl {
			.testi-content {
				.t-author {
					h6 {
						font-size: .9rem;
						span {
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
}