$main-color-white:#FFFFFF;
$main-color-red: 'red';
$navbar-orange:   #dba919;
$base-page-white: #ecedee;
$white:        #fff !default;
$white-half:   rgba(255,255,255,0.6) !default;
$white-ovrlay: rgba(255,255,255,0.5) !default;
$white-qurtr:  rgba(255,255,255,.7) !default;
$white-qurtrs: rgba(255,255,255,.3) !default;
$gray-25:  #f1f1f1 !default;
$gray-50:  #f8f8f8 !default;
$gray-100: #f8f9fa !default;
$gray-125: #f0f0f0 !default;
$gray-135: #f5f5f5 !default;
$gray-140:  #fbfaf6 !default;
$gray-150: #ebebeb !default;
$gray-160: #ececec !default;
$gray-175: #e4e4e4!default;
$gray-190: #eeeeee!default;
$gray-200: #dfdfdf !default;
$gray-225: #dddddb !default;
$gray-250: #d7d7d7 !default;
$gray-260: #d8d8d8 !default;
$gray-275: #d9d9d9 !default;
$gray-290: rgba(210,210,210,1) !default;
$gray-300: #dee2e6 !default;
$gray-315: #cacaca !default;
<<<<<<< HEAD
=======
$gray-320: #c0c0c0 !default;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
$gray-325: #cccccc !default;
$gray-330: #c7c7c7 !default;
$gray-350: #c2c2c2 !default;
$gray-360: #c4c4c4 !default;
$gray-380: #b0b0b0 !default;
<<<<<<< HEAD
=======
$gray-390: #b7b7b7 !default;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
$gray-400: #adadad !default;
$gray-450: #acacac !default;
$gray-500: #9e9e9e !default;
$gray-525: #989898 !default;
$gray-530: #606060 !default;
$gray-540: #6e6e6e !default;
$gray-550: #787878 !default;
$gray-575: #7a7a7a !default;
$gray-600: #727272 !default;
$gray-625: #848484 !default;
$gray-650: #616161 !default;
$gray-675: #4f535c !default;
$gray-700: #495057 !default;
$gray-725: #4e4e4e !default;
$gray-750: #424242 !default;
$gray-775: #3f3f3f !default;
$gray-800: #343a40 !default;
$gray-850: #333333 !default;
$gray-900: #282828 !default;
$graLghten:#bfbebc !default;
<<<<<<< HEAD
$gray-925: rgba(20,21,26,0.6) !default;
$gray-950: #09090c !default;
=======
$gray-70: rgba(55,55,55,.7) !default;
$gray-925: rgba(20,21,26,0.6) !default;
$gray-950: #09090c !default;
$gray-960: #1b1b1b !default;
>>>>>>> c4b0ebe5ca441408c29521b507bb9b68f684b54c
$gray-975: #121212 !default;
$gray-980: #212529 !default;
$black:    #000 !default;
$black-half:  rgba(0, 0, 0, .6) !default;
$black-lower: rgba(0,0,0,.7) !default;
$primary:   #184e9f !default;
$secondary: #e9cd02 !default;
$blue:         #c5d2e7 !default;
$blue-low:     rgba(0,152,230,.7) !default;
$blue-lowr:    rgba(77,178,255,.7) !default;
$blue-lows:    rgba(0,152,230,.3) !default;
$blue-lowrs:   rgba(77,178,255,.3) !default;
$blue-light:   rgba(220,231,249,1) !default;
$blue-glow:    rgba(0,152,230,.7) !default;
$blue-glows:   rgba(77,178,255,.7) !default;
$bluemid:      #cad5e8 !default;
$bluedrk:      #184ba0 !default;
$bluedrkinr:   #184ca1 !default;
$bluedrktrans: rgba(24,76,161,.8) !default;
$bluedrktw:    #114394 !default;
$bluedrkthr:   #15479a !default;
$bluedrkfr:    #0f4397 !default;
$blueLghten:   #436cae !default;
$bluedrk-lws:   rgba(24,76,161,0.5) !default;
$bluedrk-lw:   rgba(24,75,160,0.6) !default;
$bluelow:      rgba(46,53,144,0.1) !default;
$primary-low:  rgba(24,78,159,1) !default;
$blue-d:  #2C3E50 !default;
$blue-l:  #255dbb !default;
$blue-lw: #a1c4fe !default;
$blue-lgt:#c4d2e9 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #fee000 !default;
$yellow-m:#dba919 !default;
$green:   #28a745 !default;
$teal:    #0085A1 !default;
$cyan:    #17a2b8 !default;
$grayDrk:   #666666 !default;
$grayLght:  #9c9c9c !default;
$redDrk:    #d92028 !default;
$redsDrk:   #d71f27 !default;
$redLght:   #e0494f !default;
$redsLght:  #e04950 !default;
$redLghten: #df484f !default;
$yelDrk:    #f9e108 !default;
$yelLght:   #f8ec59 !default;
$yelLghten: #fcea5a !default;
$bluLght:   #416cb0 !default;
$bluDrk:    #194ea0 !default;
$grnDrk:    #0d6e5a !default;
$grnsDrk:   #0a6b59 !default;
$grnLght:   #179c83 !default;
$grnsLght:  #009c83 !default;
$grnLghten: #72baae !default;
$grayLow:   rgba(102,102,102,0.1) !default;
$shrFBhovr:  rgba(59,89,152,1) !default;
$shrTWhovr:  rgba(0,172,237,1) !default;
$shrLINhovr: rgba(0,127,177,1) !default;
$shrWAPhovr: rgba(37,211,102,1) !default;
$shrPINRhovr:rgba(203,33,40,1) !default;
$shrMAILhovr:rgba(127,127,127,1) !default;
