@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Montserrat-Black.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Roboto-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    src: url(/public/static/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}